In [143]:
import fiona
import geopandas
import pandas as pd


df = pd.read_csv('/home/hector/TCC/bulma_matching/february/BuLMABusTE_02-02-2019/2019_02_02_bus_trips.csv')

In [144]:
apenas_coordenadas = df.filter(['tripNum','shapeLat','shapeLon'])
apenas_coordenadas.head()

  tripNum  shapeLat  shapeLon
0       1  -7.25281 -35.91329
1       1  -7.25285 -35.91188
2       1  -7.25291 -35.91068
3       1  -7.25296 -35.90987
4       1  -7.25310 -35.90833

In [145]:
from shapely.geometry import Point
import geopandas as gpd
pnt1 = Point(-7.25281,-35.91329)
pnt2 = Point(-7.25285,-35.91188)
points_df = gpd.GeoDataFrame({'geometry': [pnt1, pnt2]}, crs='EPSG:29101')

points_df

                     geometry
0  POINT (-7.25281 -35.91329)
1  POINT (-7.25285 -35.91188)

In [146]:
points_df = points_df.to_crs('EPSG:29101')
points_df2 = points_df.shift() #We shift the dataframe by 1 to align pnt1 with pnt2
points_df.distance(points_df2)

In [147]:
#df[df['tripNum'].map(lambda x: str(x)=="-")]

In [148]:
from geopy.distance import vincenty

teste = df.filter(['tripNum','shapeLat','shapeLon','gpsLat','gpsLon'])
teste['dumpShapeLat'] = df['shapeLat']
teste['dumpShapeLon'] = df['shapeLon']
teste.tail()
# Define the two points


# Print the great circle distance
#print(great_circle(start, stop).meters)

,tripNum,shapeLat,shapeLon,gpsLat,gpsLon,dumpShapeLat,dumpShapeLon
14077,2,-7.21292,-35.90064,-,-,-7.21292,-35.90064
14078,2,-7.21403,-35.89992,-7.214126,-35.89999,-7.21403,-35.89992
14079,2,-7.21543,-35.90067,-7.215274,-35.90058,-7.21543,-35.90067
14080,2,-7.21563,-35.90146,-,-,-7.21563,-35.90146
14081,2,-7.21595,-35.90346,-7.216011,-35.90392,-7.21595,-35.90346

In [149]:
novo = teste.filter(['dumpShapeLat','dumpShapeLon'])
novo = novo.drop([0])
novo.dropna()
novo

       dumpShapeLat  dumpShapeLon
1          -7.25285     -35.91188
2          -7.25291     -35.91068
3          -7.25296     -35.90987
4          -7.25310     -35.90833
5          -7.25141     -35.90820
6          -7.25122     -35.90844
7          -7.25120     -35.90902
8          -7.25113     -35.91035
9          -7.25106     -35.91172
10         -7.25099     -35.91314
11         -7.24956     -35.91381
12         -7.24266     -35.90183
13         -7.23330     -35.89465
14         -7.23214     -35.89415
15         -7.23038     -35.89375
16         -7.22415     -35.89170
17         -7.23629     -35.89601
18         -7.24526     -35.90585
19         -7.22076     -35.88883
20         -7.24694     -35.91363
21         -7.23902     -35.89898
22         -7.24106     -35.90088
23         -7.21731     -35.87916
24         -7.21806     -35.88097
25         -7.21915     -35.88329
26         -7.22049     -35.88591
27         -7.23716     -35.89755
28         -7.22051     -35.88985
29         -7.23464     -35.89549
30         -7.22281     -35.89278
...             ...           ...
14052      -7.21819     -35.88125
14053      -7.21819     -35.88513
14054      -7.21587     -35.88868
14055      -7.21363     -35.88896
14056      -7.20983     -35.89158
14057      -7.20831     -35.89262
14058      -7.20622     -35.89410
14059      -7.20501     -35.89479
14060      -7.20279     -35.89531
14061      -7.20264     -35.89773
14062      -7.20388     -35.89817
14063      -7.20466     -35.90133
14064      -7.20485     -35.90333
14065      -7.20544     -35.90339
14066      -7.20529     -35.90158
14067      -7.20568     -35.90022
14068      -7.20605     -35.89869
14069      -7.20725     -35.89730
14070      -7.20811     -35.89652
14071      -7.21037     -35.89790
14072      -7.21152     -35.89791
14073      -7.21053     -35.90000
14074      -7.21142     -35.90098
14075      -7.21144     -35.90156
14076      -7.21228     -35.90191
14077      -7.21292     -35.90064
14078      -7.21403     -35.89992
14079      -7.21543     -35.90067
14080      -7.21563     -35.90146
14081      -7.21595     -35.90346

[14081 rows x 2 columns]

In [150]:
df2 = pd.DataFrame([[-7.2159,-35.90346]], columns=['dumpShapeLat','dumpShapeLon'])
novo = novo.append(df2)
novo.tail()

       dumpShapeLat  dumpShapeLon
14078      -7.21403     -35.89992
14079      -7.21543     -35.90067
14080      -7.21563     -35.90146
14081      -7.21595     -35.90346
0          -7.21590     -35.90346

In [151]:
print(len(teste))
print(len(novo))

14082
14082

In [152]:
teste = teste.drop(['dumpShapeLat', 'dumpShapeLon'], axis=1)

In [155]:
data = pd.DataFrame([teste.tripNum, teste.shapeLat, teste.shapeLon,novo.dumpShapeLat,novo.dumpShapeLon]).transpose()
data.head()

  tripNum shapeLat shapeLon dumpShapeLat dumpShapeLon
0       1 -7.25281 -35.9133      -7.2159     -35.9035
1       1 -7.25285 -35.9119     -7.25285     -35.9119
2       1 -7.25291 -35.9107     -7.25291     -35.9107
3       1 -7.25296 -35.9099     -7.25296     -35.9099
4       1  -7.2531 -35.9083      -7.2531     -35.9083

In [160]:
def distance_calc(x,y,v,t):
    start = (x,y)
    stop = (v,t)

    return vincenty(start, stop).meters

data['distance'] = data.apply (lambda x: distance_calc(x['shapeLat'],x['shapeLon'],x['dumpShapeLat'],x['dumpShapeLon']),axis=1)

/home/hector/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  """

In [174]:
times = []
for i in range(len(data)+1):
    x = df.iloc[i]
    
    times.append(distance_calc(x['shapeLat'],x['shapeLon'],x+1['dumpShapeLat'],x+1['dumpShapeLon']))

TypeError: 'int' object has no attribute '__getitem__'