In [1]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [2]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-05-13", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

## Main

In [3]:
otp_suggestions_filepath = 'data/output/2019_05_13_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [4]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/2019_05_13_bus_trips_otp_itineraries.csv

In [5]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

    if len(otp_suggestions_raw) == 0:
        print "Zero OTP suggestions found."
        print "Skipping next steps..."
        exit(0)

In [6]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [7]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [11]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-05-13,491551.0,1,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2,2019-05-13,491551.0,1,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
3,2019-05-13,491551.0,1,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
4,2019-05-13,491551.0,1,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN

## Read and Prepare Bus Trip Data

In [8]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [1]:
bus_trips.head()

NameError: name 'bus_trips' is not defined

In [13]:
bus_trips[(bus_trips.route == "944") & (bus_trips.stopPointId == 491551.0)].head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,problem
95910,944,2,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 06:29:21,491551,BETWEEN
87640,944,3,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,24653,-7.286584,-35.89571,4.4620376,2019-05-13 07:44:09,491551,NO_PROBLEM
78256,944,4,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 08:54:42,491551,BETWEEN
71392,944,5,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 10:08:54,491551,BETWEEN
62009,944,6,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 11:25:35,491551,BETWEEN

In [12]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [15]:
bus_trips_clean.head()

      route  busCode  tripNum  stopPointId        gps_datetime
94276  004A     3005        1       385835 2019-05-13 06:45:24
94216  004A     3005        1       386394 2019-05-13 06:45:55
94048  004A     3005        1       386129 2019-05-13 06:47:47
93932  004A     3005        1       386131 2019-05-13 06:48:59
93692  004A     3005        1       385833 2019-05-13 06:51:35

In [18]:
bus_trips_clean[bus_trips_clean.route == "944"].head()

      route  busCode  tripNum  stopPointId        gps_datetime
99900   944     1002        1       386660 2019-05-13 05:22:52
99891   944     1002        1       386659 2019-05-13 05:23:22
99880   944     1002        1       386657 2019-05-13 05:23:53
99840   944     1002        1       386656 2019-05-13 05:25:55
99800   944     1002        1       497506 2019-05-13 05:27:16

In [19]:
bus_trips_clean.dtypes

route                   object
busCode                  int64
tripNum                  int64
stopPointId              int64
gps_datetime    datetime64[ns]
dtype: object

In [20]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [13]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_start_time'] - x['otp_start_time']))

In [23]:
bus_trips_clean[(bus_trips_clean.route == "944") & (bus_trips_clean.stopPointId == 491551.0)].sort_values(by=['gps_datetime']).head()

      route  busCode  tripNum  stopPointId        gps_datetime
95910   944     1002        2       491551 2019-05-13 06:29:21
94030   944     1052        2       491551 2019-05-13 06:47:57
92092   944     1096        2       491551 2019-05-13 07:06:16
87640   944     1002        3       491551 2019-05-13 07:44:09
85996   944     1051        2       491551 2019-05-13 07:56:49

In [24]:
scheduled_itin_observed_o.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,2,2019-05-13 06:29:21,01:15:34
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,3,2019-05-13 07:44:09,02:30:22
2,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,4,2019-05-13 08:54:42,03:40:55
3,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,5,2019-05-13 10:08:54,04:55:07
4,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,6,2019-05-13 11:25:35,06:11:48

In [11]:
scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_route == "944") & (scheduled_itin_observed_o.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

NameError: name 'scheduled_itin_observed_o' is not defined

In [70]:
scheduled_itin_observed_o = scheduled_itin_observed_o[(scheduled_itin_observed_o.sched_obs_start_timediff >= pd.Timedelta('0s'))  & (scheduled_itin_observed_o.sched_obs_start_timediff < pd.Timedelta('1.5h'))]

In [14]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [25]:
len(scheduled_itin_observed_od)

26845

In [15]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [16]:
scheduled_itin_observed_od

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,2,2019-05-13 06:29:21,01:15:34,1002,2,2019-05-13 07:11:02,01:27:31,41.683333
2520,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052,2,2019-05-13 06:47:57,01:34:10,1052,2,2019-05-13 07:31:28,01:47:57,43.516667
3480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,2,2019-05-13 07:06:16,01:52:29,1096,2,2019-05-13 07:47:36,02:04:05,41.333333
120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,3,2019-05-13 07:44:09,02:30:22,1002,3,2019-05-13 08:23:26,02:39:55,39.283333
1200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,2,2019-05-13 07:56:49,02:43:02,1051,2,2019-05-13 09:49:33,04:06:02,112.733333
3600,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,3,2019-05-13 08:18:15,03:04:28,1096,3,2019-05-13 08:26:03,02:42:32,7.800000
240,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,4,2019-05-13 08:54:42,03:40:55,1002,4,2019-05-13 09:36:25,03:52:54,41.716667
3720,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,5,2019-05-13 09:34:54,04:21:07,1096,5,2019-05-13 10:13:32,04:30:01,38.633333
360,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,5,2019-05-13 10:08:54,04:55:07,1002,5,2019-05-13 10:53:29,05:09:58,44.583333
1320,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,3,2019-05-13 10:19:02,05:05:15,1051,3,2019-05-13 10:25:05,04:41:34,6.050000
3840,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,6,2019-05-13 10:45:12,05:31:25,1096,6,2019-05-13 11:25:37,05:42:06,40.416667
480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,6,2019-05-13 11:25:35,06:11:48,1002,6,2019-05-13 12:08:36,06:25:05,43.016667
1560,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,5,2019-05-13 11:36:10,06:22:23,1051,5,2019-05-13 12:19:40,06:36:09,43.500000
3960,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,7,2019-05-13 11:57:15,06:43:28,1096,7,2019-05-13 12:31:31,06:48:00,34.266667
2640,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052,6,2019-05-13 12:22:26,07:08:39,1052,6,2019-05-13 13:07:57,07:24:26,45.516667
1680,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,6,2019-05-13 12:50:51,07:37:04,1051,6,2019-05-13 13:32:38,07:49:07,41.783333
4080,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,8,2019-05-13 13:00:06,07:46:19,1096,8,2019-05-13 14:04:19,08:20:48,64.216667
2760,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052,7,2019-05-13 13:40:01,08:26:14,1052,7,2019-05-13 14:23:23,08:39:52,43.366667
720,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,9,2019-05-13 13:51:44,08:37:57,1002,9,2019-05-13 14:39:42,08:56:11,47.966667
2880,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052,8,2019-05-13 14:52:34,09:38:47,1052,8,2019-05-13 15:37:31,09:54:00,44.950000
4320,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,10,2019-05-13 15:55:46,10:41:59,1096,10,2019-05-13 16:40:14,10:56:43,44.466667
3000,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052,9,2019-05-13 16:08:39,10:54:52,1052,9,2019-05-13 16:51:29,11:07:58,42.833333
840,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,12,2019-05-13 16:28:21,11:14:34,1002,12,2019-05-13 16:34:37,10:51:06,6.266667
1920,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,9,2019-05-13 16:38:11,11:24:24,1051,9,2019-05-13 17:18:25,11:34:54,40.233333
4440,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,11,2019-05-13 17:11:14,11:57:27,1096,11,2019-05-13 18:01:54,12:18:23,50.666667
3120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052,10,2019-05-13 17:25:59,12:12:12,1052,10,2019-05-13 18:05:57,12:22:26,39.966667
2040,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,10,2019-05-13 17:54:37,12:40:50,1051,10,2019-05-13 18:40:04,12:56:33,45.450000
1080,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002,14,2019-05-13 17:54:40,12:40:53,1002,14,2019-05-13 18:29:45,12:46:14,35.083333
4560,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096,12,2019-05-13 18:34:03,13:20:16,1096,12,2019-05-13 19:17:24,13:33:53,43.350000
2160,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051,11,2019-05-13 19:09:40,13:55:53,1051,11,2019-05-13 19:47:25,14:03:54,37.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15629,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2010,10,2019-05-13 17:01:18,12:11:15,2010,10,2019-05-13 17:24:45,12:01:48,23.450000
15874,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2050,8,2019-05-13 16:20:53,12:51:40,2050,8,2019-05-13 16:41:49,12:44:44,20.933333
16189,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,12,2019-05-13 16:09:03,13:03:30,2065,12,2019-05-13 16:30:15,12:56:18,21.200000
15594,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2010,9,2019-05-13 15:33:08,13:39:25,2010,9,2019-05-13 15:55:19,13:31:14,22.183333
14684,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1016,10,2019-05-13 14:47:43,14:24:50,1016,10,2019-05-13 15:05:34,14:20:59,17.850000
16154,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,10,2019-05-13 14:29:59,14:42:34,2065,10,2019-05-13 14:50:58,14:35:35,20.983333
15139,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1043,8,2019-05-13 14:16:58,14:55:35,1043,8,2019-05-13 14:36:57,14:49:36,19.983333
15804,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2050,5,2019-05-13 13:22:24,15:50:09,2050,5,2019-05-13 13:41:16,15:45:17,18.866667
14649,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1016,9,2019-05-13 13:22:19,15:50:14,1016,9,2019-05-13 13:37:56,15:48:37,15.616667
16119,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,8,2019-05-13 12:58:23,16:14:10,2065,8,2019-05-13 13:16:27,16:10:06,18.066667
15104,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1043,6,2019-05-13 12:47:08,16:25:25,1043,6,2019-05-13 13:02:39,16:23:54,15.516667
14614,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1016,7,2019-05-13 11:47:35,17:24:58,1016,7,2019-05-13 12:09:49,17:16:44,22.233333
16084,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,6,2019-05-13 11:25:16,17:47:17,2065,6,2019-05-13 11:49:42,17:36:51,24.433333
15069,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1043,5,2019-05-13 11:14:53,17:57:40,1043,5,2019-05-13 11:34:46,17:51:47,19.883333
15489,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2010,5,2019-05-13 11:02:54,18:09:39,2010,5,2019-05-13 11:18:49,18:07:44,15.916667
14894,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1019,5,2019-05-13 10:46:17,18:26:16,1019,5,2019-05-13 11:00:18,18:26:15,14.016667
15769,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2050,4,2019-05-13 10:27:01,18:45:32,2050,4,2019-05-13 10:45:53,18:40:40,18.866667
16049,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,5,2019-05-13 10:01:29,19:11:04,2065,5,2019-05-13 10:18:22,19:08:11,16.883333
15034,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1043,4,2019-05-13 09:48:08,19:24:25,1043,4,2019-05-13 10:10:04,19:16:29,21.933333
15454,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2010,4,2019-05-13 09:31:58,19:40:35,2010,4,2019-05-13 09:57:39,19:28:54,25.683333
14859,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1019,3,2019-05-13 09:11:59,20:00:34,1019,3,2019-05-13 09:24:31,20:02:02,12.533333
15419,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2010,2,2019-05-13 07:59:02,21:13:31,2010,2,2019-05-13 08:18:26,21:08:07,19.400000
14824,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1019,2,2019-05-13 07:58:07,21:14:26,1019,2,2019-05-13 08:15:16,21:11:17,17.150000
15699,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2050,2,2019-05-13 07:41:42,21:30:51,2050,2,2019-05-13 08:01:03,21:25:30,19.350000
14509,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1016,3,2019-05-13 07:20:03,21:52:30,1016,3,2019-05-13 07:35:50,21:50:43,15.783333
16014,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,3,2019-05-13 07:00:56,22:11:37,2065,3,2019-05-13 07:11:53,22:14:40,10.950000
14964,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1043,2,2019-05-13 06:40:58,22:31:35,1043,2,2019-05-13 06:45:20,22:41:13,4.366667
15384,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2010,1,2019-05-13 06:30:49,22:41:44,2010,1,2019-05-13 06:47:02,22:39:31,16.216667
14474,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,1016,1,2019-05-13 05:54:48,23:17:45,1016,1,2019-05-13 06:06:31,23:20:02,11.716667
15944,2019-05-13,491551.0,410,3,2019-05-14 05:12:33,2019-05-14 05:26:33,BUS,903B,385834.0,386291.0,...,NaN,2065,1,2019-05-13 05:22:32,23:50:01,2065,1,2019-05-13 05:42:43,23:43:50,20.183333

In [17]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)

In [18]:
scheduled_itin_observed_od_full[scheduled_itin_observed_od_full.otp_itinerary_id == 112]

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
5166,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,4.0,2019-05-13 08:54:42,00:20:05,1002.0,4.0,2019-05-13 09:30:21,00:12:41,35.650000
9777,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,5.0,2019-05-13 09:34:54,00:20:07,1096.0,5.0,2019-05-13 10:05:51,00:22:49,30.950000
5325,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,5.0,2019-05-13 10:08:54,00:54:07,1002.0,5.0,2019-05-13 10:47:51,01:04:49,38.950000
9618,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,3.0,2019-05-13 08:18:15,00:56:32,1096.0,3.0,2019-05-13 08:25:32,01:17:30,7.283333
6597,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,3.0,2019-05-13 10:19:02,01:04:15,1051.0,3.0,2019-05-13 10:24:37,00:41:35,5.583333
6438,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,2.0,2019-05-13 07:56:49,01:17:58,1051.0,2.0,2019-05-13 09:44:38,00:01:36,107.816667
9936,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,6.0,2019-05-13 10:45:12,01:30:25,1096.0,6.0,2019-05-13 11:15:53,01:32:51,30.683333
5007,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,3.0,2019-05-13 07:44:09,01:30:38,1002.0,3.0,2019-05-13 08:18:19,01:24:43,34.166667
9459,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,2.0,2019-05-13 07:06:16,02:08:31,1096.0,2.0,2019-05-13 07:42:37,02:00:25,36.350000
5484,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,6.0,2019-05-13 11:25:35,02:10:48,1002.0,6.0,2019-05-13 11:59:56,02:16:54,34.350000
6915,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,5.0,2019-05-13 11:36:10,02:21:23,1051.0,5.0,2019-05-13 12:13:37,02:30:35,37.450000
8187,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1052.0,2.0,2019-05-13 06:47:57,02:26:50,1052.0,2.0,2019-05-13 07:26:51,02:16:11,38.900000
10095,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,7.0,2019-05-13 11:57:15,02:42:28,1096.0,7.0,2019-05-13 12:26:25,02:43:23,29.166667
4848,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,2.0,2019-05-13 06:29:21,02:45:26,1002.0,2.0,2019-05-13 07:04:54,02:38:08,35.550000
8346,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1052.0,6.0,2019-05-13 12:22:26,03:07:39,1052.0,6.0,2019-05-13 12:59:55,03:16:53,37.483333
7074,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,6.0,2019-05-13 12:50:51,03:36:04,1051.0,6.0,2019-05-13 13:25:27,03:42:25,34.600000
10254,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,8.0,2019-05-13 13:00:06,03:45:19,1096.0,8.0,2019-05-13 14:00:25,04:17:23,60.316667
8505,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1052.0,7.0,2019-05-13 13:40:01,04:25:14,1052.0,7.0,2019-05-13 14:14:11,04:31:09,34.166667
5802,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,9.0,2019-05-13 13:51:44,04:36:57,1002.0,9.0,2019-05-13 14:32:34,04:49:32,40.833333
8664,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1052.0,8.0,2019-05-13 14:52:34,05:37:47,1052.0,8.0,2019-05-13 15:31:53,05:48:51,39.316667
10572,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,10.0,2019-05-13 15:55:46,06:40:59,1096.0,10.0,2019-05-13 16:34:04,06:51:02,38.300000
8823,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1052.0,9.0,2019-05-13 16:08:39,06:53:52,1052.0,9.0,2019-05-13 16:46:56,07:03:54,38.283333
5961,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,12.0,2019-05-13 16:28:21,07:13:34,1002.0,12.0,2019-05-13 16:34:08,06:51:06,5.783333
7392,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,9.0,2019-05-13 16:38:11,07:23:24,1051.0,9.0,2019-05-13 17:12:39,07:29:37,34.466667
10731,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,11.0,2019-05-13 17:11:14,07:56:27,1096.0,11.0,2019-05-13 17:50:40,08:07:38,39.433333
8982,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1052.0,10.0,2019-05-13 17:25:59,08:11:12,1052.0,10.0,2019-05-13 17:59:19,08:16:17,33.333333
7551,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,10.0,2019-05-13 17:54:37,08:39:50,1051.0,10.0,2019-05-13 18:33:21,08:50:19,38.733333
6279,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1002.0,14.0,2019-05-13 17:54:40,08:39:53,1002.0,14.0,2019-05-13 18:24:08,08:41:06,29.466667
10890,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1096.0,12.0,2019-05-13 18:34:03,09:19:16,1096.0,12.0,2019-05-13 19:09:14,09:26:12,35.183333
7710,2019-05-13,491551.0,112,2,2019-05-13 09:14:47,2019-05-13 09:43:02,BUS,944,491551.0,386255.0,...,NaN,1051.0,11.0,2019-05-13 19:09:40,09:54:53,1051.0,11.0,2019-05-13 19:43:21,10:00:19,33.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16449,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,8.0,2019-05-13 11:14:40,01:29:27,1046.0,8.0,2019-05-13 11:36:33,01:35:59,21.883333
16341,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,5.0,2019-05-13 08:09:28,01:35:45,1046.0,5.0,2019-05-13 08:29:22,01:31:12,19.900000
17277,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,1.0,2019-05-13 11:49:48,02:04:35,1080.0,1.0,2019-05-13 12:11:44,02:11:10,21.933333
16845,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,2.0,2019-05-13 07:39:27,02:05:46,1056.0,2.0,2019-05-13 08:02:58,01:57:36,23.516667
17601,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1100.0,3.0,2019-05-13 07:24:32,02:20:41,1100.0,3.0,2019-05-13 07:45:26,02:15:08,20.900000
16305,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,3.0,2019-05-13 06:59:38,02:45:35,1046.0,3.0,2019-05-13 07:21:30,02:39:04,21.866667
17313,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,2.0,2019-05-13 12:48:31,03:03:18,1080.0,2.0,2019-05-13 13:07:50,03:07:16,19.316667
17025,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,7.0,2019-05-13 12:53:12,03:07:59,1056.0,7.0,2019-05-13 13:09:49,03:09:15,16.616667
16809,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,1.0,2019-05-13 06:30:03,03:15:10,1056.0,1.0,2019-05-13 06:50:52,03:09:42,20.816667
17565,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1100.0,1.0,2019-05-13 06:12:13,03:33:00,1100.0,1.0,2019-05-13 06:30:02,03:30:32,17.816667
16521,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,10.0,2019-05-13 13:29:50,03:44:37,1046.0,10.0,2019-05-13 13:50:39,03:50:05,20.816667
17349,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,3.0,2019-05-13 13:46:20,04:01:07,1080.0,3.0,2019-05-13 14:10:09,04:09:35,23.816667
17061,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,8.0,2019-05-13 13:57:03,04:11:50,1056.0,8.0,2019-05-13 14:10:23,04:09:49,13.333333
17385,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,4.0,2019-05-13 14:46:25,05:01:12,1080.0,4.0,2019-05-13 14:55:53,04:55:19,9.466667
16593,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,12.0,2019-05-13 15:37:55,05:52:42,1046.0,12.0,2019-05-13 16:00:55,06:00:21,23.000000
17097,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,10.0,2019-05-13 16:14:45,06:29:32,1056.0,10.0,2019-05-13 16:39:06,06:38:32,24.350000
16665,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,14.0,2019-05-13 16:43:49,06:58:36,1046.0,14.0,2019-05-13 17:04:13,07:03:39,20.400000
17421,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,6.0,2019-05-13 17:01:58,07:16:45,1080.0,6.0,2019-05-13 17:28:29,07:27:55,26.516667
17133,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,11.0,2019-05-13 17:23:36,07:38:23,1056.0,11.0,2019-05-13 17:48:04,07:47:30,24.466667
16701,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,15.0,2019-05-13 17:56:13,08:11:00,1046.0,15.0,2019-05-13 18:32:25,08:31:51,36.200000
17457,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,7.0,2019-05-13 18:16:54,08:31:41,1080.0,7.0,2019-05-13 18:34:04,08:33:30,17.166667
17169,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,12.0,2019-05-13 18:30:32,08:45:19,1056.0,12.0,2019-05-13 18:53:48,08:53:14,23.266667
17493,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,8.0,2019-05-13 19:08:26,09:23:13,1080.0,8.0,2019-05-13 19:12:09,09:11:35,3.716667
16737,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,16.0,2019-05-13 19:12:44,09:27:31,1046.0,16.0,2019-05-13 19:15:23,09:14:49,2.650000
17205,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1056.0,13.0,2019-05-13 19:29:38,09:44:25,1056.0,13.0,2019-05-13 19:41:07,09:40:33,11.483333
17529,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1080.0,9.0,2019-05-13 20:16:45,10:31:32,1080.0,9.0,2019-05-13 20:17:23,10:16:49,0.633333
16773,2019-05-13,491551.0,112,4,2019-05-13 09:45:13,2019-05-13 10:00:34,BUS,020,386254.0,386291.0,...,NaN,1046.0,18.0,2019-05-13 21:00:48,11:15:35,1046.0,18.0,2019-05-13 21:14:34,11:14:00,13.766667
554,2019-05-13,491551.0,112,1,2019-05-13 09:14:45,2019-05-13 09:14:46,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
556,2019-05-13,491551.0,112,3,2019-05-13 09:43:02,2019-05-13 09:43:17,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
558,2019-05-13,491551.0,112,5,2019-05-13 10:00:35,2019-05-13 10:00:36,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN

In [30]:
bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

      route  busCode  tripNum  stopPointId        gps_datetime
95910   944     1002        2       491551 2019-05-13 06:29:21
94030   944     1052        2       491551 2019-05-13 06:47:57
92092   944     1096        2       491551 2019-05-13 07:06:16
87640   944     1002        3       491551 2019-05-13 07:44:09
85996   944     1051        2       491551 2019-05-13 07:56:49
85067   944     1052        3       491551 2019-05-13 08:04:18
83326   944     1096        3       491551 2019-05-13 08:18:15
78256   944     1002        4       491551 2019-05-13 08:54:42
75567   944     1096        5       491551 2019-05-13 09:34:54
71392   944     1002        5       491551 2019-05-13 10:08:54
70211   944     1051        3       491551 2019-05-13 10:19:02
66874   944     1096        6       491551 2019-05-13 10:45:12
62009   944     1002        6       491551 2019-05-13 11:25:35
61979   944     1051        4       491551 2019-05-13 11:25:48
60694   944     1051        5       491551 2019-05-13 11:36:10
58328   944     1096        7       491551 2019-05-13 11:57:15
55237   944     1052        6       491551 2019-05-13 12:22:26
53344   944     1002        7       491551 2019-05-13 12:38:05
51822   944     1051        6       491551 2019-05-13 12:50:51
50830   944     1096        8       491551 2019-05-13 13:00:06
46292   944     1052        7       491551 2019-05-13 13:40:01
45386   944     1002        8       491551 2019-05-13 13:47:41
44887   944     1002        9       491551 2019-05-13 13:51:44
38431   944     1052        8       491551 2019-05-13 14:52:34
36651   944     1002       10       491551 2019-05-13 15:09:42
32186   944     1096        9       491551 2019-05-13 15:51:29
31784   944     1096       10       491551 2019-05-13 15:55:46
30493   944     1052        9       491551 2019-05-13 16:08:39
28323   944     1002       12       491551 2019-05-13 16:28:21
27701   944     1051        8       491551 2019-05-13 16:34:07
27282   944     1051        9       491551 2019-05-13 16:38:11
23724   944     1096       11       491551 2019-05-13 17:11:14
22109   944     1052       10       491551 2019-05-13 17:25:59
20314   944     1002       13       491551 2019-05-13 17:43:07
19148   944     1051       10       491551 2019-05-13 17:54:37
19144   944     1002       14       491551 2019-05-13 17:54:40
15240   944     1096       12       491551 2019-05-13 18:34:03
15081   944     1052       11       491551 2019-05-13 18:35:26
12495   944     1002       15       491551 2019-05-13 18:58:51
11369   944     1051       11       491551 2019-05-13 19:09:40
8645    944     1096       13       491551 2019-05-13 19:44:08
8385    944     1052       13       491551 2019-05-13 19:48:22
6634    944     1051       12       491551 2019-05-13 20:16:21
5316    944     1096       14       491551 2019-05-13 20:38:54
1210    944     1052       15       491551 2019-05-13 22:20:39
553     944     1051       13       491551 2019-05-13 22:51:30
495     944     1051       14       491551 2019-05-13 22:55:35

In [19]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [20]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002.0,2.0,2019-05-13 06:29:21,01:15:34,1002.0,2.0,2019-05-13 07:11:02,01:27:31,41.683333
2520,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052.0,2.0,2019-05-13 06:47:57,01:34:10,1052.0,2.0,2019-05-13 07:31:28,01:47:57,43.516667
3480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096.0,2.0,2019-05-13 07:06:16,01:52:29,1096.0,2.0,2019-05-13 07:47:36,02:04:05,41.333333
120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002.0,3.0,2019-05-13 07:44:09,02:30:22,1002.0,3.0,2019-05-13 08:23:26,02:39:55,39.283333
1200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051.0,2.0,2019-05-13 07:56:49,02:43:02,1051.0,2.0,2019-05-13 09:49:33,04:06:02,112.733333

In [75]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

,otp_itinerary_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
1293,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
1233,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
1234,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
1232,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
1195,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
1194,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
1196,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
1155,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
1270,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
1168,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
1271,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
1272,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
1419,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
1382,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
1383,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
1381,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
1107,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
1087,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
1089,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
1088,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
1054,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
1019,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
1055,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
1056,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56

In [76]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [2]:
scheduled_itin_observed_od_full_clean

NameError: name 'scheduled_itin_observed_od_full_clean' is not defined

In [1]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

NameError: name 'scheduled_itin_observed_od_full_clean' is not defined

In [22]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47') & (scheduled_itin_observed_od_full_clean.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

NameError: name 'scheduled_itin_observed_od_full_clean' is not defined

In [43]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full_clean.drop_duplicates(subset=['otp_itinerary_id','otp_leg_id'])

In [44]:
scheduled_itin_observed_od_full_clean[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_start_time,bt_end_time
0,1,1,WALK,nan,NaT,NaT
0,1,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:11:02
2,1,3,WALK,nan,NaT,NaT
2420,1,4,BUS,903B,2019-05-13 05:59:23,2019-05-13 06:06:31
4,1,5,WALK,nan,NaT,NaT
5,2,1,WALK,nan,NaT,NaT
1,2,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:11:02
7,2,3,WALK,nan,NaT,NaT
2421,2,4,BUS,903B,2019-05-13 05:59:23,2019-05-13 06:06:31
9,2,5,WALK,nan,NaT,NaT
10,3,1,WALK,nan,NaT,NaT
2,3,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:11:02
12,3,3,WALK,nan,NaT,NaT
2422,3,4,BUS,903B,2019-05-13 05:59:23,2019-05-13 06:06:31
14,3,5,WALK,nan,NaT,NaT
15,4,1,WALK,nan,NaT,NaT
3,4,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:11:02
17,4,3,WALK,nan,NaT,NaT
2423,4,4,BUS,903B,2019-05-13 05:59:23,2019-05-13 06:06:31
19,4,5,WALK,nan,NaT,NaT
20,5,1,WALK,nan,NaT,NaT
27,5,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
22,5,3,WALK,nan,NaT,NaT
2689,5,4,BUS,020,2019-05-13 06:12:13,2019-05-13 06:30:02
24,5,5,WALK,nan,NaT,NaT
25,6,1,WALK,nan,NaT,NaT
28,6,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
27,6,3,WALK,nan,NaT,NaT
2690,6,4,BUS,020,2019-05-13 06:12:13,2019-05-13 06:30:02
29,6,5,WALK,nan,NaT,NaT
...,...,...,...,...,...,...
1994,402,3,WALK,nan,NaT,NaT
1996,402,5,WALK,nan,NaT,NaT
1997,403,1,WALK,nan,NaT,NaT
2359,403,2,BUS,944,2019-05-13 22:20:39,2019-05-13 22:56:25
1999,403,3,WALK,nan,NaT,NaT
2001,403,5,WALK,nan,NaT,NaT
2002,404,1,WALK,nan,NaT,NaT
2360,404,2,BUS,944,2019-05-13 22:20:39,2019-05-13 22:56:25
2004,404,3,WALK,nan,NaT,NaT
2006,404,5,WALK,nan,NaT,NaT
2007,405,1,WALK,nan,NaT,NaT
2403,405,2,BUS,944,2019-05-13 22:55:35,2019-05-13 23:15:03
2009,405,3,WALK,nan,NaT,NaT
4601,405,4,BUS,245,2019-05-13 22:57:21,2019-05-13 23:54:30
2011,405,5,WALK,nan,NaT,NaT
2012,406,1,WALK,nan,NaT,NaT
2410,406,2,BUS,944,2019-05-13 22:55:35,2019-05-13 23:32:20
2015,406,4,WALK,nan,NaT,NaT
2016,407,1,WALK,nan,NaT,NaT
2411,407,2,BUS,944,2019-05-13 22:55:35,2019-05-13 23:32:20
2019,407,4,WALK,nan,NaT,NaT
2020,408,1,WALK,nan,NaT,NaT
2412,408,2,BUS,944,2019-05-13 22:55:35,2019-05-13 23:32:20
2023,408,4,WALK,nan,NaT,NaT
2024,409,1,WALK,nan,NaT,NaT
2413,409,2,BUS,944,2019-05-13 22:55:35,2019-05-13 23:32:20
2027,409,4,WALK,nan,NaT,NaT
2028,410,1,WALK,nan,NaT,NaT
2414,410,2,BUS,944,2019-05-13 22:55:35,2019-05-13 23:32:20
2031,410,4,WALK,nan,NaT,NaT

In [46]:
# Filtering out itineraries which lost bus legs along the processing


curr_matched_itins_num_legs = scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [47]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [48]:
complete_matched_itins = original_suggested_itins_num_legs

In [50]:
complete_matched_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0          491551.0                 1         5
1          491551.0                 2         5
2          491551.0                 3         5
3          491551.0                 4         5
4          491551.0                 5         5

In [51]:
all_complete_vehicle_legs_options = scheduled_itin_observed_od_full_clean.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [52]:
all_complete_vehicle_legs_options

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,491551.0,1,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
1,491551.0,1,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
2,491551.0,1,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
3,491551.0,1,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
4,491551.0,1,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
5,491551.0,2,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
6,491551.0,2,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
7,491551.0,2,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
8,491551.0,2,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
9,491551.0,2,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
10,491551.0,3,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
11,491551.0,3,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
12,491551.0,3,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
13,491551.0,3,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
14,491551.0,3,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
15,491551.0,4,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:13:45,NaT,NaT,NaN,2019-05-13 05:13:46,NaT,NaT,0.016667
16,491551.0,4,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:13:47,2019-05-13 06:29:21,01:15:34,386521.0,2019-05-13 05:43:31,2019-05-13 07:11:02,01:27:31,29.733333
17,491551.0,4,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:43:31,NaT,NaT,NaN,2019-05-13 05:47:06,NaT,NaT,3.583333
18,491551.0,4,4,BUS,903B,1016.0,1.0,386641.0,2019-05-13 05:47:40,2019-05-13 05:59:23,00:11:43,386291.0,2019-05-13 05:56:33,2019-05-13 06:06:31,00:09:58,8.883333
19,491551.0,4,5,WALK,nan,NaN,NaN,NaN,2019-05-13 05:56:34,NaT,NaT,NaN,2019-05-13 05:56:35,NaT,NaT,0.016667
20,491551.0,5,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:18:45,NaT,NaT,NaN,2019-05-13 05:18:46,NaT,NaT,0.016667
21,491551.0,5,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:18:47,2019-05-13 06:29:21,01:10:34,386255.0,2019-05-13 05:47:02,2019-05-13 07:04:54,01:17:52,28.250000
22,491551.0,5,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:47:02,NaT,NaT,NaN,2019-05-13 05:47:17,NaT,NaT,0.250000
23,491551.0,5,4,BUS,020,1100.0,1.0,386254.0,2019-05-13 05:48:13,2019-05-13 06:12:13,00:24:00,386291.0,2019-05-13 06:03:34,2019-05-13 06:30:02,00:26:28,15.350000
24,491551.0,5,5,WALK,nan,NaN,NaN,NaN,2019-05-13 06:03:35,NaT,NaT,NaN,2019-05-13 06:03:36,NaT,NaT,0.016667
25,491551.0,6,1,WALK,nan,NaN,NaN,NaN,2019-05-13 05:17:45,NaT,NaT,NaN,2019-05-13 05:17:46,NaT,NaT,0.016667
26,491551.0,6,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:17:47,2019-05-13 06:29:21,01:11:34,386255.0,2019-05-13 05:46:02,2019-05-13 07:04:54,01:18:52,28.250000
27,491551.0,6,3,WALK,nan,NaN,NaN,NaN,2019-05-13 05:46:02,NaT,NaT,NaN,2019-05-13 05:46:17,NaT,NaT,0.250000
28,491551.0,6,4,BUS,020,1100.0,1.0,386254.0,2019-05-13 05:48:13,2019-05-13 06:12:13,00:24:00,386291.0,2019-05-13 06:03:34,2019-05-13 06:30:02,00:26:28,15.350000
29,491551.0,6,5,WALK,nan,NaN,NaN,NaN,2019-05-13 06:03:35,NaT,NaT,NaN,2019-05-13 06:03:36,NaT,NaT,0.016667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1836,491551.0,402,3,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:31,NaT,NaT,NaN,2019-05-13 23:05:08,NaT,NaT,1.616667
1837,491551.0,402,5,WALK,nan,NaN,NaN,NaN,2019-05-13 23:28:54,NaT,NaT,NaN,2019-05-13 23:29:36,NaT,NaT,0.700000
1838,491551.0,403,1,WALK,nan,NaN,NaN,NaN,2019-05-13 22:33:45,NaT,NaT,NaN,2019-05-13 22:33:46,NaT,NaT,0.016667
1839,491551.0,403,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:20:39,00:13:08,386521.0,2019-05-13 23:03:31,2019-05-13 22:56:25,00:07:06,29.733333
1840,491551.0,403,3,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:31,NaT,NaT,NaN,2019-05-13 23:05:08,NaT,NaT,1.616667
1841,491551.0,403,5,WALK,nan,NaN,NaN,NaN,2019-05-13 23:28:54,NaT,NaT,NaN,2019-05-13 23:29:36,NaT,NaT,0.700000
1842,491551.0,404,1,WALK,nan,NaN,NaN,NaN,2019-05-13 22:33:45,NaT,NaT,NaN,2019-05-13 22:33:46,NaT,NaT,0.016667
1843,491551.0,404,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 22:33:47,2019-05-13 22:20:39,00:13:08,386521.0,2019-05-13 23:03:31,2019-05-13 22:56:25,00:07:06,29.733333
1844,491551.0,404,3,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:31,NaT,NaT,NaN,2019-05-13 23:05:08,NaT,NaT,1.616667
1845,491551.0,404,5,WALK,nan,NaN,NaN,NaN,2019-05-13 23:28:54,NaT,NaT,NaN,2019-05-13 23:29:36,NaT,NaT,0.700000
1846,491551.0,405,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:45,NaT,NaT,NaN,2019-05-13 23:03:46,NaT,NaT,0.016667
1847,491551.0,405,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:55:35,00:08:12,385788.0,2019-05-13 23:22:02,2019-05-13 23:15:03,00:06:59,18.250000
1848,491551.0,405,3,WALK,nan,NaN,NaN,NaN,2019-05-13 23:22:02,NaT,NaT,NaN,2019-05-13 23:22:05,NaT,NaT,0.050000
1849,491551.0,405,4,BUS,245,1036.0,8.0,491277.0,2019-05-13 23:25:14,2019-05-13 22:57:21,00:27:53,386228.0,2019-05-14 00:04:41,2019-05-13 23:54:30,00:10:11,39.450000
1850,491551.0,405,5,WALK,nan,NaN,NaN,NaN,2019-05-14 00:04:42,NaT,NaT,NaN,2019-05-14 00:14:18,NaT,NaT,9.600000
1851,491551.0,406,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
1852,491551.0,406,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
1853,491551.0,406,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
1854,491551.0,407,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
1855,491551.0,407,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
1856,491551.0,407,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
1857,491551.0,408,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
1858,491551.0,408,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
1859,491551.0,408,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
1860,491551.0,409,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:09:45,NaT,NaT,NaN,2019-05-13 23:09:46,NaT,NaT,0.016667
1861,491551.0,409,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:09:47,2019-05-13 22:55:35,00:14:12,385834.0,2019-05-13 23:42:47,2019-05-13 23:32:20,00:10:27,33.000000
1862,491551.0,409,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667
1863,491551.0,410,1,WALK,nan,NaN,NaN,NaN,2019-05-13 23:03:45,NaT,NaT,NaN,2019-05-13 23:03:46,NaT,NaT,0.016667
1864,491551.0,410,2,BUS,944,1051.0,14.0,491551.0,2019-05-13 23:03:47,2019-05-13 22:55:35,00:08:12,385834.0,2019-05-13 23:36:47,2019-05-13 23:32:20,00:04:27,33.000000
1865,491551.0,410,4,WALK,nan,NaN,NaN,NaN,2019-05-14 05:26:34,NaT,NaT,NaN,2019-05-14 05:26:35,NaT,NaT,0.016667

In [53]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [54]:
# Choose best actual leg matches (based on feasibility and start time)
feasible_legs = choose_leg_matches(scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))

if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

In [55]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [56]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

In [58]:
feasible_complete_itins_legs[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_start_time,bt_end_time
0,33,1,WALK,nan,2019-05-13 06:29:21,2019-05-13 06:29:21
1,33,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:11:02
2,33,3,WALK,nan,2019-05-13 07:11:02,2019-05-13 07:13:02
3,33,4,BUS,333,2019-05-13 08:07:06,2019-05-13 08:27:02
4,33,5,WALK,nan,2019-05-13 08:27:02,2019-05-13 08:27:02
5,36,1,WALK,nan,2019-05-13 06:29:21,2019-05-13 06:29:21
6,36,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
7,36,3,WALK,nan,2019-05-13 07:04:54,2019-05-13 07:06:54
8,36,4,BUS,903A,2019-05-13 07:15:28,2019-05-13 07:25:09
9,36,5,WALK,nan,2019-05-13 07:25:09,2019-05-13 07:25:09
10,37,1,WALK,nan,2019-05-13 06:29:21,2019-05-13 06:29:21
11,37,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
12,37,3,WALK,nan,2019-05-13 07:04:54,2019-05-13 07:06:54
13,37,4,BUS,903A,2019-05-13 07:15:28,2019-05-13 07:25:09
14,37,5,WALK,nan,2019-05-13 07:25:09,2019-05-13 07:25:09
15,38,1,WALK,nan,2019-05-13 06:29:21,2019-05-13 06:29:21
16,38,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
17,38,3,WALK,nan,2019-05-13 07:04:54,2019-05-13 07:06:54
18,38,4,BUS,903A,2019-05-13 07:15:28,2019-05-13 07:25:09
19,38,5,WALK,nan,2019-05-13 07:25:09,2019-05-13 07:25:09
20,39,1,WALK,nan,2019-05-13 06:29:21,2019-05-13 06:29:21
21,39,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
22,39,3,WALK,nan,2019-05-13 07:04:54,2019-05-13 07:06:54
23,39,4,BUS,903A,2019-05-13 07:15:28,2019-05-13 07:25:09
24,39,5,WALK,nan,2019-05-13 07:25:09,2019-05-13 07:25:09
25,40,1,WALK,nan,2019-05-13 06:29:21,2019-05-13 06:29:21
26,40,2,BUS,944,2019-05-13 06:29:21,2019-05-13 07:04:54
27,40,3,WALK,nan,2019-05-13 07:04:54,2019-05-13 07:06:54
28,40,4,BUS,903A,2019-05-13 07:15:28,2019-05-13 07:25:09
29,40,5,WALK,nan,2019-05-13 07:25:09,2019-05-13 07:25:09
...,...,...,...,...,...,...
438,339,1,WALK,nan,2019-05-13 18:34:03,2019-05-13 18:34:03
439,339,2,BUS,944,2019-05-13 18:34:03,2019-05-13 19:06:58
440,339,3,WALK,nan,2019-05-13 19:06:58,2019-05-13 19:10:58
441,339,4,BUS,555,2019-05-13 19:21:58,2019-05-13 19:32:37
442,339,5,WALK,nan,2019-05-13 19:32:37,2019-05-13 19:33:37
443,367,1,WALK,nan,2019-05-13 19:48:22,2019-05-13 19:48:22
444,367,2,BUS,944,2019-05-13 19:48:22,2019-05-13 20:38:45
445,367,3,WALK,nan,2019-05-13 20:38:45,2019-05-13 20:40:45
446,367,4,BUS,903A,2019-05-13 20:45:27,2019-05-13 20:53:36
447,367,5,WALK,nan,2019-05-13 20:53:36,2019-05-13 20:53:36
448,368,1,WALK,nan,2019-05-13 19:48:22,2019-05-13 19:48:22
449,368,2,BUS,944,2019-05-13 19:48:22,2019-05-13 20:42:24
450,368,3,WALK,nan,2019-05-13 20:42:24,2019-05-13 20:46:24
451,368,4,BUS,903B,2019-05-13 20:57:59,2019-05-13 21:06:41
452,368,5,WALK,nan,2019-05-13 21:06:41,2019-05-13 21:06:41
453,369,1,WALK,nan,2019-05-13 19:48:22,2019-05-13 19:48:22
454,369,2,BUS,944,2019-05-13 19:48:22,2019-05-13 20:38:45
455,369,3,WALK,nan,2019-05-13 20:38:45,2019-05-13 20:40:45
456,369,4,BUS,903A,2019-05-13 20:45:27,2019-05-13 20:53:36
457,369,5,WALK,nan,2019-05-13 20:53:36,2019-05-13 20:53:36
458,372,1,WALK,nan,2019-05-13 19:48:22,2019-05-13 19:48:22
459,372,2,BUS,944,2019-05-13 19:48:22,2019-05-13 20:42:24
460,372,3,WALK,nan,2019-05-13 20:42:24,2019-05-13 20:44:24
461,372,4,BUS,263A,2019-05-13 21:00:33,2019-05-13 21:13:50
462,372,5,WALK,nan,2019-05-13 21:13:50,2019-05-13 21:13:50
463,373,1,WALK,nan,2019-05-13 19:48:22,2019-05-13 19:48:22
464,373,2,BUS,944,2019-05-13 19:48:22,2019-05-13 20:38:45
465,373,3,WALK,nan,2019-05-13 20:38:45,2019-05-13 20:38:45
466,373,4,BUS,020,2019-05-13 21:00:48,2019-05-13 21:14:34
467,373,5,WALK,nan,2019-05-13 21:14:34,2019-05-13 21:14:34