In [1]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [2]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-05-13", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

## Main

In [3]:
otp_suggestions_filepath = 'data/output/2019_05_13_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [4]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/2019_05_13_bus_trips_otp_itineraries.csv

In [5]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

    if len(otp_suggestions_raw) == 0:
        print "Zero OTP suggestions found."
        print "Skipping next steps..."
        exit(0)

In [6]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [7]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [8]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-05-13,491551.0,1,1,2019-05-13 05:13:45,2019-05-13 05:13:46,WALK,nan,NaN,NaN,0.016667,NaN,NaN
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN
2,2019-05-13,491551.0,1,3,2019-05-13 05:43:31,2019-05-13 05:47:06,WALK,nan,NaN,NaN,3.583333,NaN,NaN
3,2019-05-13,491551.0,1,4,2019-05-13 05:47:40,2019-05-13 05:56:33,BUS,903B,386641.0,386291.0,8.883333,NaN,NaN
4,2019-05-13,491551.0,1,5,2019-05-13 05:56:34,2019-05-13 05:56:35,WALK,nan,NaN,NaN,0.016667,NaN,NaN

## Read and Prepare Bus Trip Data

In [9]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [10]:
bus_trips.head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,problem
5900,004A,1,90026,low_frequency,173,-7.23043,-35.87588,9535.0,3005,11553,-7.230581,-35.87565,30.42416,2019-05-13 06:45:24,385835,NO_PROBLEM
5962,004A,1,90026,low_frequency,45,-7.22907,-35.87689,3163.0,3005,11678,-7.228993,-35.87696,11.529692,2019-05-13 06:45:55,386394,NO_PROBLEM
6129,004A,1,90026,low_frequency,74,-7.22220,-35.87565,4030.0,3005,-,-,-,-,2019-05-13 06:47:47,386129,BETWEEN
6244,004A,1,90026,low_frequency,86,-7.21908,-35.87549,4429.0,3005,12300,-7.219028,-35.8755,5.8864255,2019-05-13 06:48:59,386131,NO_PROBLEM
6486,004A,1,90026,low_frequency,152,-7.22434,-35.87674,8788.0,3005,-,-,-,-,2019-05-13 06:51:35,385833,BETWEEN

In [48]:
bus_trips[(bus_trips.route == "944") & (bus_trips.stopPointId == 491551.0)].head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,problem
4266,944,2,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 06:29:21,491551,BETWEEN
12536,944,3,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,24653,-7.286584,-35.89571,4.4620376,2019-05-13 07:44:09,491551,NO_PROBLEM
21922,944,4,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 08:54:42,491551,BETWEEN
28785,944,5,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 10:08:54,491551,BETWEEN
38165,944,6,72976,high_frequency,40,-7.28659,-35.89567,1398.0,1002,-,-,-,-,2019-05-13 11:25:35,491551,BETWEEN

In [11]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [12]:
bus_trips_clean.head()

     route  busCode  tripNum  stopPointId        gps_datetime
5900  004A     3005        1       385835 2019-05-13 06:45:24
5962  004A     3005        1       386394 2019-05-13 06:45:55
6129  004A     3005        1       386129 2019-05-13 06:47:47
6244  004A     3005        1       386131 2019-05-13 06:48:59
6486  004A     3005        1       385833 2019-05-13 06:51:35

In [25]:
bus_trips_clean[bus_trips_clean.route == "944"]

      route  busCode  tripNum  stopPointId        gps_datetime
278     944     1002        1       386660 2019-05-13 05:22:52
287     944     1002        1       386659 2019-05-13 05:23:22
298     944     1002        1       386657 2019-05-13 05:23:53
338     944     1002        1       386656 2019-05-13 05:25:55
378     944     1002        1       497506 2019-05-13 05:27:16
401     944     1002        1       497505 2019-05-13 05:27:57
443     944     1002        1       497504 2019-05-13 05:29:29
465     944     1002        1       491559 2019-05-13 05:30:30
507     944     1002        1       385793 2019-05-13 05:32:02
520     944     1002        1       385790 2019-05-13 05:32:32
573     944     1002        1      1140894 2019-05-13 05:34:35
584     944     1002        1      1140893 2019-05-13 05:35:02
670     944     1002        1       491557 2019-05-13 05:38:09
718     944     1002        1       386653 2019-05-13 05:39:41
763     944     1002        1       386652 2019-05-13 05:41:09
818     944     1002        1       385744 2019-05-13 05:42:31
1004    944     1002        1       386255 2019-05-13 05:46:25
1090    944     1002        1       386627 2019-05-13 05:48:15
1202    944     1002        1       386521 2019-05-13 05:50:23
1389    944     1002        1       491568 2019-05-13 05:53:42
1436    944     1002        1       385842 2019-05-13 05:54:28
1468    944     1002        1       385834 2019-05-13 05:54:58
1569    944     1002        1       386153 2019-05-13 05:56:30
1620    944     1002        1       386155 2019-05-13 05:57:14
1703    944     1002        1       491560 2019-05-13 05:58:16
1751    944     1002        1       386258 2019-05-13 05:58:57
1855    944     1002        1       386626 2019-05-13 06:00:35
1919    944     1002        1       385784 2019-05-13 06:01:36
1950    944     1002        1       385809 2019-05-13 06:02:01
2029    944     1002        1       386628 2019-05-13 06:03:08
...     ...      ...      ...          ...                 ...
96395   944     1096       15       386255 2019-05-13 21:14:28
96506   944     1096       15       385811 2019-05-13 21:17:10
96525   944     1096       15       386521 2019-05-13 21:17:40
96573   944     1096       15       491568 2019-05-13 21:18:46
96617   944     1096       15       385842 2019-05-13 21:19:42
96638   944     1096       15       497506 2019-05-13 21:20:13
96667   944     1096       15       385834 2019-05-13 21:20:44
96674   944     1096       15       386153 2019-05-13 21:20:54
96678   944     1096       15       491560 2019-05-13 21:20:58
96718   944     1096       15       386155 2019-05-13 21:21:46
96797   944     1096       15       386258 2019-05-13 21:24:19
96849   944     1096       15       386626 2019-05-13 21:25:50
96903   944     1096       15       385784 2019-05-13 21:26:51
96927   944     1096       15       385790 2019-05-13 21:27:22
96928   944     1096       15       386628 2019-05-13 21:27:22
96937   944     1096       15       386206 2019-05-13 21:27:37
96954   944     1096       15       385788 2019-05-13 21:27:53
96962   944     1096       15       491277 2019-05-13 21:28:00
96983   944     1096       15       386630 2019-05-13 21:28:23
96997   944     1096       15       491555 2019-05-13 21:28:53
97009   944     1096       15       386631 2019-05-13 21:29:13
97019   944     1096       15       491558 2019-05-13 21:29:24
97033   944     1096       15       386594 2019-05-13 21:29:55
97237   944     1096       15       386656 2019-05-13 21:33:49
97271   944     1096       15       386659 2019-05-13 21:35:01
97291   944     1096       15       386660 2019-05-13 21:35:31
97305   944     1096       15       386606 2019-05-13 21:36:02
97312   944     1096       15       385809 2019-05-13 21:36:11
97360   944     1096       15       385813 2019-05-13 21:37:34
97393   944     1096       15       386661 2019-05-13 21:38:35

[3529 rows x 5 columns]

In [13]:
bus_trips_clean.dtypes

route                   object
busCode                  int64
tripNum                  int64
stopPointId              int64
gps_datetime    datetime64[ns]
dtype: object

In [14]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [59]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_start_time'] - x['otp_start_time']))

In [50]:
bus_trips_clean[(bus_trips_clean.route == "944") & (bus_trips_clean.stopPointId == 491551.0)].sort_values(by=['gps_datetime'])

      route  busCode  tripNum  stopPointId        gps_datetime
4266    944     1002        2       491551 2019-05-13 06:29:21
6146    944     1052        2       491551 2019-05-13 06:47:57
8084    944     1096        2       491551 2019-05-13 07:06:16
12536   944     1002        3       491551 2019-05-13 07:44:09
14182   944     1051        2       491551 2019-05-13 07:56:49
15108   944     1052        3       491551 2019-05-13 08:04:18
16849   944     1096        3       491551 2019-05-13 08:18:15
21922   944     1002        4       491551 2019-05-13 08:54:42
24607   944     1096        5       491551 2019-05-13 09:34:54
28785   944     1002        5       491551 2019-05-13 10:08:54
29965   944     1051        3       491551 2019-05-13 10:19:02
33304   944     1096        6       491551 2019-05-13 10:45:12
38165   944     1002        6       491551 2019-05-13 11:25:35
38200   944     1051        4       491551 2019-05-13 11:25:48
39483   944     1051        5       491551 2019-05-13 11:36:10
41848   944     1096        7       491551 2019-05-13 11:57:15
44940   944     1052        6       491551 2019-05-13 12:22:26
46834   944     1002        7       491551 2019-05-13 12:38:05
48354   944     1051        6       491551 2019-05-13 12:50:51
49345   944     1096        8       491551 2019-05-13 13:00:06
53886   944     1052        7       491551 2019-05-13 13:40:01
54793   944     1002        8       491551 2019-05-13 13:47:41
55289   944     1002        9       491551 2019-05-13 13:51:44
61747   944     1052        8       491551 2019-05-13 14:52:34
63527   944     1002       10       491551 2019-05-13 15:09:42
67991   944     1096        9       491551 2019-05-13 15:51:29
68392   944     1096       10       491551 2019-05-13 15:55:46
69683   944     1052        9       491551 2019-05-13 16:08:39
71853   944     1002       12       491551 2019-05-13 16:28:21
72477   944     1051        8       491551 2019-05-13 16:34:07
72895   944     1051        9       491551 2019-05-13 16:38:11
76450   944     1096       11       491551 2019-05-13 17:11:14
78067   944     1052       10       491551 2019-05-13 17:25:59
79863   944     1002       13       491551 2019-05-13 17:43:07
81030   944     1051       10       491551 2019-05-13 17:54:37
81033   944     1002       14       491551 2019-05-13 17:54:40
84934   944     1096       12       491551 2019-05-13 18:34:03
85097   944     1052       11       491551 2019-05-13 18:35:26
87681   944     1002       15       491551 2019-05-13 18:58:51
88809   944     1051       11       491551 2019-05-13 19:09:40
91534   944     1096       13       491551 2019-05-13 19:44:08
91793   944     1052       13       491551 2019-05-13 19:48:22
93541   944     1051       12       491551 2019-05-13 20:16:21
94862   944     1096       14       491551 2019-05-13 20:38:54
98968   944     1052       15       491551 2019-05-13 22:20:39
99625   944     1051       13       491551 2019-05-13 22:51:30
99683   944     1051       14       491551 2019-05-13 22:55:35

In [51]:
scheduled_itin_observed_o.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_stopPointId,bt_start_time,sched_obs_start_timediff
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,2,491551,2019-05-13 06:29:21,01:15:34
1,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,3,491551,2019-05-13 07:44:09,02:30:22
2,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,4,491551,2019-05-13 08:54:42,03:40:55
3,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,5,491551,2019-05-13 10:08:54,04:55:07
4,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,29.733333,NaN,NaN,1002,6,491551,2019-05-13 11:25:35,06:11:48

In [56]:
scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_route == "944") & (scheduled_itin_observed_o.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

,otp_itinerary_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
9407,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9360,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9454,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9266,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
9406,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
9453,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
9359,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
9265,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:47:41,00:18:06
9287,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
9381,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
9428,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
9475,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
9288,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
9476,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
9382,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
9429,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
9361,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:09:42,01:03:55
9408,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:09:42,01:03:55
9455,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:09:42,01:03:55
9267,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:09:42,01:03:55
9487,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
9440,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
9299,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
9393,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
9417,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
9370,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
9464,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
9276,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
9405,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:38:05,01:27:42
9264,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:38:05,01:27:42
...,...,...,...,...,...,...,...
9260,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
9354,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
9399,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 20:38:54,06:33:07
9493,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 20:38:54,06:33:07
9446,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 20:38:54,06:33:07
9305,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 20:38:54,06:33:07
9435,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9294,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9482,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9388,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9284,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
9378,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
9425,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
9472,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
9259,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
9400,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
9447,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
9353,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
9387,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9481,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9434,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9293,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9282,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:51:30,08:45:43
9470,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:51:30,08:45:43
9423,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:51:30,08:45:43
9376,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:51:30,08:45:43
9424,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
9283,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
9377,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
9471,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48

In [61]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [17]:
len(scheduled_itin_observed_od)

26845

In [18]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [19]:
len(scheduled_itin_observed_od)

22121

In [20]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)

In [23]:
bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

      route  busCode  tripNum  stopPointId        gps_datetime
4266    944     1002        2       491551 2019-05-13 06:29:21
6146    944     1052        2       491551 2019-05-13 06:47:57
8084    944     1096        2       491551 2019-05-13 07:06:16
12536   944     1002        3       491551 2019-05-13 07:44:09
14182   944     1051        2       491551 2019-05-13 07:56:49
15108   944     1052        3       491551 2019-05-13 08:04:18
16849   944     1096        3       491551 2019-05-13 08:18:15
21922   944     1002        4       491551 2019-05-13 08:54:42
24607   944     1096        5       491551 2019-05-13 09:34:54
28785   944     1002        5       491551 2019-05-13 10:08:54
29965   944     1051        3       491551 2019-05-13 10:19:02
33304   944     1096        6       491551 2019-05-13 10:45:12
38165   944     1002        6       491551 2019-05-13 11:25:35
38200   944     1051        4       491551 2019-05-13 11:25:48
39483   944     1051        5       491551 2019-05-13 11:36:10
41848   944     1096        7       491551 2019-05-13 11:57:15
44940   944     1052        6       491551 2019-05-13 12:22:26
46834   944     1002        7       491551 2019-05-13 12:38:05
48354   944     1051        6       491551 2019-05-13 12:50:51
49345   944     1096        8       491551 2019-05-13 13:00:06
53886   944     1052        7       491551 2019-05-13 13:40:01
54793   944     1002        8       491551 2019-05-13 13:47:41
55289   944     1002        9       491551 2019-05-13 13:51:44
61747   944     1052        8       491551 2019-05-13 14:52:34
63527   944     1002       10       491551 2019-05-13 15:09:42
67991   944     1096        9       491551 2019-05-13 15:51:29
68392   944     1096       10       491551 2019-05-13 15:55:46
69683   944     1052        9       491551 2019-05-13 16:08:39
71853   944     1002       12       491551 2019-05-13 16:28:21
72477   944     1051        8       491551 2019-05-13 16:34:07
72895   944     1051        9       491551 2019-05-13 16:38:11
76450   944     1096       11       491551 2019-05-13 17:11:14
78067   944     1052       10       491551 2019-05-13 17:25:59
79863   944     1002       13       491551 2019-05-13 17:43:07
81030   944     1051       10       491551 2019-05-13 17:54:37
81033   944     1002       14       491551 2019-05-13 17:54:40
84934   944     1096       12       491551 2019-05-13 18:34:03
85097   944     1052       11       491551 2019-05-13 18:35:26
87681   944     1002       15       491551 2019-05-13 18:58:51
88809   944     1051       11       491551 2019-05-13 19:09:40
91534   944     1096       13       491551 2019-05-13 19:44:08
91793   944     1052       13       491551 2019-05-13 19:48:22
93541   944     1051       12       491551 2019-05-13 20:16:21
94862   944     1096       14       491551 2019-05-13 20:38:54
98968   944     1052       15       491551 2019-05-13 22:20:39
99625   944     1051       13       491551 2019-05-13 22:51:30
99683   944     1051       14       491551 2019-05-13 22:55:35

In [57]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002.0,2.0,2019-05-13 06:29:21,01:15:34,1002.0,2.0,2019-05-13 07:11:02,01:27:31,41.683333
2520,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1052.0,2.0,2019-05-13 06:47:57,01:34:10,1052.0,2.0,2019-05-13 07:31:28,01:47:57,43.516667
3480,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1096.0,2.0,2019-05-13 07:06:16,01:52:29,1096.0,2.0,2019-05-13 07:47:36,02:04:05,41.333333
120,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1002.0,3.0,2019-05-13 07:44:09,02:30:22,1002.0,3.0,2019-05-13 08:23:26,02:39:55,39.283333
1200,2019-05-13,491551.0,1,2,2019-05-13 05:13:47,2019-05-13 05:43:31,BUS,944,491551.0,386521.0,...,NaN,1051.0,2.0,2019-05-13 07:56:49,02:43:02,1051.0,2.0,2019-05-13 09:49:33,04:06:02,112.733333

In [63]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

,otp_itinerary_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
783,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
5847,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
5848,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
5849,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
8550,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8551,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8552,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
2823,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8711,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
8710,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
8709,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
2943,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
4143,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
10301,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
10299,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
10300,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
7121,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
7120,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
7119,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
1743,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56
2703,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
8393,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
8391,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
8392,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:22:26,01:43:21
4383,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
10619,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
10617,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
10618,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 15:55:46,01:49:59
8868,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 16:08:39,02:02:52
8869,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 16:08:39,02:02:52
...,...,...,...,...,...,...,...
3663,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 08:18:15,05:47:32
9664,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 08:18:15,05:47:32
6483,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
1263,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
6485,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
6484,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:56:49,06:08:58
5052,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
5054,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
5053,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
183,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:44:09,06:21:38
9506,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9505,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
9504,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
3543,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 07:06:16,06:59:31
8233,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
8232,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
2583,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
8234,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:47:57,07:17:50
4894,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
4895,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
63,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
4893,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 06:29:21,07:36:26
9346,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9347,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
9345,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
3423,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:20:39,08:14:52
8073,228,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
2463,226,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
8074,229,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48
8075,230,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 22:55:35,08:49:48

In [62]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [ ]:
scheduled_itin_observed_od_full_clean

In [64]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

                                   otp_user_trip_id  otp_itinerary_id  \
otp_itinerary_id otp_leg_id
1                1          0              491551.0                 1
                 2          0              491551.0                 1
                            2520           491551.0                 1
                            3480           491551.0                 1
                            120            491551.0                 1
                            1200           491551.0                 1
                            3600           491551.0                 1
                            240            491551.0                 1
                            3720           491551.0                 1
                            360            491551.0                 1
                            1320           491551.0                 1
                            3840           491551.0                 1
                            480            491551.0                 1
                            1560           491551.0                 1
                            3960           491551.0                 1
                            2640           491551.0                 1
                            1680           491551.0                 1
                            4080           491551.0                 1
                            2760           491551.0                 1
                            720            491551.0                 1
                            2880           491551.0                 1
                            4320           491551.0                 1
                            3000           491551.0                 1
                            840            491551.0                 1
                            1920           491551.0                 1
                            4440           491551.0                 1
                            3120           491551.0                 1
                            2040           491551.0                 1
                            1080           491551.0                 1
                            4560           491551.0                 1
...                                             ...               ...
410              3          15874          491551.0               410
                            16189          491551.0               410
                            15594          491551.0               410
                            14684          491551.0               410
                            16154          491551.0               410
                            15139          491551.0               410
                            15804          491551.0               410
                            14649          491551.0               410
                            16119          491551.0               410
                            15104          491551.0               410
                            14614          491551.0               410
                            16084          491551.0               410
                            15069          491551.0               410
                            15489          491551.0               410
                            14894          491551.0               410
                            15769          491551.0               410
                            16049          491551.0               410
                            15034          491551.0               410
                            15454          491551.0               410
                            14859          491551.0               410
                            15419          491551.0               410
                            14824          491551.0               410
                            15699          491551.0               410
                            14509          491551.0               410
                            16014          491551.0               410
                            14964          491551.0               410
                            15384          491551.0               410
                            14474          491551.0               410
                            15944          491551.0               410
                 4          2031           491551.0               410

                                   otp_leg_id otp_mode otp_route  bt_bus_code  \
otp_itinerary_id otp_leg_id
1                1          0               1     WALK       nan          NaN
                 2          0               2      BUS       944       1002.0
                            2520            2      BUS       944       1052.0
                            3480            2      BUS       944       1096.0
                            120             2      BUS       944       1002.0
                            1200            2      BUS       944       1051.0
                            3600            2      BUS       944       1096.0
                            240             2      BUS       944       1002.0
                            3720            2      BUS       944       1096.0
                            360             2      BUS       944       1002.0
                            1320            2      BUS       944       1051.0
                            3840            2      BUS       944       1096.0
                            480             2      BUS       944       1002.0
                            1560            2      BUS       944       1051.0
                            3960            2      BUS       944       1096.0
                            2640            2      BUS       944       1052.0
                            1680            2      BUS       944       1051.0
                            4080            2      BUS       944       1096.0
                            2760            2      BUS       944       1052.0
                            720             2      BUS       944       1002.0
                            2880            2      BUS       944       1052.0
                            4320            2      BUS       944       1096.0
                            3000            2      BUS       944       1052.0
                            840             2      BUS       944       1002.0
                            1920            2      BUS       944       1051.0
                            4440            2      BUS       944       1096.0
                            3120            2      BUS       944       1052.0
                            2040            2      BUS       944       1051.0
                            1080            2      BUS       944       1002.0
                            4560            2      BUS       944       1096.0
...                                       ...      ...       ...          ...
410              3          15874           3      BUS      903B       2050.0
                            16189           3      BUS      903B       2065.0
                            15594           3      BUS      903B       2010.0
                            14684           3      BUS      903B       1016.0
                            16154           3      BUS      903B       2065.0
                            15139           3      BUS      903B       1043.0
                            15804           3      BUS      903B       2050.0
                            14649           3      BUS      903B       1016.0
                            16119           3      BUS      903B       2065.0
                            15104           3      BUS      903B       1043.0
                            14614           3      BUS      903B       1016.0
                            16084           3      BUS      903B       2065.0
                            15069           3      BUS      903B       1043.0
                            15489           3      BUS      903B       2010.0
                            14894           3      BUS      903B       1019.0
                            15769           3      BUS      903B       2050.0
                            16049           3      BUS      903B       2065.0
                            15034           3      BUS      903B       1043.0
                            15454           3      BUS      903B       2010.0
                            14859           3      BUS      903B       1019.0
                            15419           3      BUS      903B       2010.0
                            14824           3      BUS      903B       1019.0
                            15699           3      BUS      903B       2050.0
                            14509           3      BUS      903B       1016.0
                            16014           3      BUS      903B       2065.0
                            14964           3      BUS      903B       1043.0
                            15384           3      BUS      903B       2010.0
                            14474           3      BUS      903B       1016.0
                            15944           3      BUS      903B       2065.0
                 4          2031            4     WALK       nan          NaN

                                   bt_trip_num  otp_from_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0              NaN               NaN
                 2          0              2.0          491551.0
                            2520           2.0          491551.0
                            3480           2.0          491551.0
                            120            3.0          491551.0
                            1200           2.0          491551.0
                            3600           3.0          491551.0
                            240            4.0          491551.0
                            3720           5.0          491551.0
                            360            5.0          491551.0
                            1320           3.0          491551.0
                            3840           6.0          491551.0
                            480            6.0          491551.0
                            1560           5.0          491551.0
                            3960           7.0          491551.0
                            2640           6.0          491551.0
                            1680           6.0          491551.0
                            4080           8.0          491551.0
                            2760           7.0          491551.0
                            720            9.0          491551.0
                            2880           8.0          491551.0
                            4320          10.0          491551.0
                            3000           9.0          491551.0
                            840           12.0          491551.0
                            1920           9.0          491551.0
                            4440          11.0          491551.0
                            3120          10.0          491551.0
                            2040          10.0          491551.0
                            1080          14.0          491551.0
                            4560          12.0          491551.0
...                                        ...               ...
410              3          15874          8.0          385834.0
                            16189         12.0          385834.0
                            15594          9.0          385834.0
                            14684         10.0          385834.0
                            16154         10.0          385834.0
                            15139          8.0          385834.0
                            15804          5.0          385834.0
                            14649          9.0          385834.0
                            16119          8.0          385834.0
                            15104          6.0          385834.0
                            14614          7.0          385834.0
                            16084          6.0          385834.0
                            15069          5.0          385834.0
                            15489          5.0          385834.0
                            14894          5.0          385834.0
                            15769          4.0          385834.0
                            16049          5.0          385834.0
                            15034          4.0          385834.0
                            15454          4.0          385834.0
                            14859          3.0          385834.0
                            15419          2.0          385834.0
                            14824          2.0          385834.0
                            15699          2.0          385834.0
                            14509          3.0          385834.0
                            16014          3.0          385834.0
                            14964          2.0          385834.0
                            15384          1.0          385834.0
                            14474          1.0          385834.0
                            15944          1.0          385834.0
                 4          2031           NaN               NaN

                                       otp_start_time       bt_start_time  \
otp_itinerary_id otp_leg_id
1                1          0     2019-05-13 05:13:45                 NaT
                 2          0     2019-05-13 05:13:47 2019-05-13 06:29:21
                            2520  2019-05-13 05:13:47 2019-05-13 06:47:57
                            3480  2019-05-13 05:13:47 2019-05-13 07:06:16
                            120   2019-05-13 05:13:47 2019-05-13 07:44:09
                            1200  2019-05-13 05:13:47 2019-05-13 07:56:49
                            3600  2019-05-13 05:13:47 2019-05-13 08:18:15
                            240   2019-05-13 05:13:47 2019-05-13 08:54:42
                            3720  2019-05-13 05:13:47 2019-05-13 09:34:54
                            360   2019-05-13 05:13:47 2019-05-13 10:08:54
                            1320  2019-05-13 05:13:47 2019-05-13 10:19:02
                            3840  2019-05-13 05:13:47 2019-05-13 10:45:12
                            480   2019-05-13 05:13:47 2019-05-13 11:25:35
                            1560  2019-05-13 05:13:47 2019-05-13 11:36:10
                            3960  2019-05-13 05:13:47 2019-05-13 11:57:15
                            2640  2019-05-13 05:13:47 2019-05-13 12:22:26
                            1680  2019-05-13 05:13:47 2019-05-13 12:50:51
                            4080  2019-05-13 05:13:47 2019-05-13 13:00:06
                            2760  2019-05-13 05:13:47 2019-05-13 13:40:01
                            720   2019-05-13 05:13:47 2019-05-13 13:51:44
                            2880  2019-05-13 05:13:47 2019-05-13 14:52:34
                            4320  2019-05-13 05:13:47 2019-05-13 15:55:46
                            3000  2019-05-13 05:13:47 2019-05-13 16:08:39
                            840   2019-05-13 05:13:47 2019-05-13 16:28:21
                            1920  2019-05-13 05:13:47 2019-05-13 16:38:11
                            4440  2019-05-13 05:13:47 2019-05-13 17:11:14
                            3120  2019-05-13 05:13:47 2019-05-13 17:25:59
                            2040  2019-05-13 05:13:47 2019-05-13 17:54:37
                            1080  2019-05-13 05:13:47 2019-05-13 17:54:40
                            4560  2019-05-13 05:13:47 2019-05-13 18:34:03
...                                               ...                 ...
410              3          15874 2019-05-14 05:12:33 2019-05-13 16:20:53
                            16189 2019-05-14 05:12:33 2019-05-13 16:09:03
                            15594 2019-05-14 05:12:33 2019-05-13 15:33:08
                            14684 2019-05-14 05:12:33 2019-05-13 14:47:43
                            16154 2019-05-14 05:12:33 2019-05-13 14:29:59
                            15139 2019-05-14 05:12:33 2019-05-13 14:16:58
                            15804 2019-05-14 05:12:33 2019-05-13 13:22:24
                            14649 2019-05-14 05:12:33 2019-05-13 13:22:19
                            16119 2019-05-14 05:12:33 2019-05-13 12:58:23
                            15104 2019-05-14 05:12:33 2019-05-13 12:47:08
                            14614 2019-05-14 05:12:33 2019-05-13 11:47:35
                            16084 2019-05-14 05:12:33 2019-05-13 11:25:16
                            15069 2019-05-14 05:12:33 2019-05-13 11:14:53
                            15489 2019-05-14 05:12:33 2019-05-13 11:02:54
                            14894 2019-05-14 05:12:33 2019-05-13 10:46:17
                            15769 2019-05-14 05:12:33 2019-05-13 10:27:01
                            16049 2019-05-14 05:12:33 2019-05-13 10:01:29
                            15034 2019-05-14 05:12:33 2019-05-13 09:48:08
                            15454 2019-05-14 05:12:33 2019-05-13 09:31:58
                            14859 2019-05-14 05:12:33 2019-05-13 09:11:59
                            15419 2019-05-14 05:12:33 2019-05-13 07:59:02
                            14824 2019-05-14 05:12:33 2019-05-13 07:58:07
                            15699 2019-05-14 05:12:33 2019-05-13 07:41:42
                            14509 2019-05-14 05:12:33 2019-05-13 07:20:03
                            16014 2019-05-14 05:12:33 2019-05-13 07:00:56
                            14964 2019-05-14 05:12:33 2019-05-13 06:40:58
                            15384 2019-05-14 05:12:33 2019-05-13 06:30:49
                            14474 2019-05-14 05:12:33 2019-05-13 05:54:48
                            15944 2019-05-14 05:12:33 2019-05-13 05:22:32
                 4          2031  2019-05-14 05:26:34                 NaT

                                  sched_obs_start_timediff  otp_to_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0                          NaT             NaN
                 2          0                     01:15:34        386521.0
                            2520                  01:34:10        386521.0
                            3480                  01:52:29        386521.0
                            120                   02:30:22        386521.0
                            1200                  02:43:02        386521.0
                            3600                  03:04:28        386521.0
                            240                   03:40:55        386521.0
                            3720                  04:21:07        386521.0
                            360                   04:55:07        386521.0
                            1320                  05:05:15        386521.0
                            3840                  05:31:25        386521.0
                            480                   06:11:48        386521.0
                            1560                  06:22:23        386521.0
                            3960                  06:43:28        386521.0
                            2640                  07:08:39        386521.0
                            1680                  07:37:04        386521.0
                            4080                  07:46:19        386521.0
                            2760                  08:26:14        386521.0
                            720                   08:37:57        386521.0
                            2880                  09:38:47        386521.0
                            4320                  10:41:59        386521.0
                            3000                  10:54:52        386521.0
                            840                   11:14:34        386521.0
                            1920                  11:24:24        386521.0
                            4440                  11:57:27        386521.0

In [69]:
scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47') & (scheduled_itin_observed_od_full_clean.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

,otp_itinerary_id,otp_leg_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
5849,230,2,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03
8552,230,2,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:40:01,00:25:46
8711,230,2,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 14:52:34,00:46:47
10301,230,2,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:00:06,01:05:41
7121,230,2,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 12:50:51,01:14:56

In [73]:
a = scheduled_itin_observed_od_full_clean.drop_duplicates(subset=['otp_itinerary_id','otp_leg_id'])

In [75]:
a[(a.otp_route == "944") & (a.otp_start_time == '2019-05-13 14:05:47') & (a.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

,otp_itinerary_id,otp_leg_id,otp_start_time,otp_route,otp_from_stop_id,otp_from_stop_id,bt_start_time,sched_obs_start_timediff
5849,230,2,2019-05-13 14:05:47,944,491551.0,491551.0,2019-05-13 13:51:44,00:14:03

In [ ]:
# Filtering out itineraries which lost bus legs along the processing
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

curr_matched_itins_num_legs = scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

complete_matched_itins = original_suggested_itins_num_legs.merge(curr_matched_itins_num_legs, how='inner')

all_complete_vehicle_legs_options = scheduled_itin_observed_od_full_clean.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [ ]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [ ]:
# Choose best actual leg matches (based on feasibility and start time)
feasible_legs = choose_leg_matches(scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))

if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

In [ ]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [ ]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

In [ ]:
feasible_complete_itins_legs