In [29]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
#from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [30]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_gtfs_path(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2019-02-02", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'campina-gtfs-2019'
    else:
        return 'campina-gtfs-2017'

## Main

In [31]:
otp_suggestions_filepath = 'data/output/2019_02_02_bus_trips_otp_itineraries.csv'
bus_trips_folderpath = 'data/input'
gtfs_base_folderpath = 'data/input'
output_folderpath = 'data/output'

In [32]:
#gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep

In [33]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_bus_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: data/output/2019_02_02_bus_trips_otp_itineraries.csv

In [34]:
    # Extracting itinerary part name for later use
    itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
    # Read OTP Suggestions
    otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

    if len(otp_suggestions_raw) == 0:
        print "Zero OTP suggestions found."
        print "Skipping next steps..."
        exit(0)

In [35]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [36]:
    # Prepare OTP data for analysis
    otp_suggestions = prepare_otp_data(otp_suggestions_raw)    
    
    # Read stops data
    stops_filepath = gtfs_base_folderpath + os.sep + get_gtfs_path(file_date) + os.sep + 'stops.txt'
    stops_df = pd.read_csv(stops_filepath)
    
    # Adding Parent Stop data to OTP Suggestions TODO
    stops_parent_stations = stops_df[['stop_id','parent_station']]
    otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
    otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
    otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [37]:
#otp_suggestions.drop_duplicates(subset=['otp_leg_id','otp_end_time','otp_mode','otp_duration_mins'],inplace=True)
#otp_suggestions.duplicated(subset=['otp_leg_id','otp_end_time','otp_mode','otp_duration_mins'])
otp_suggestions.tail(10)

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
30075,2019-02-02,497897.0,66,3,2019-02-02 15:57:05,2019-02-02 15:59:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30076,2019-02-02,497897.0,67,1,2019-02-02 16:00:17,2019-02-02 16:01:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30077,2019-02-02,497897.0,67,2,2019-02-02 16:01:02,2019-02-02 16:03:03,BUS,909,497897.0,385901.0,2.016667,NaN,NaN
30078,2019-02-02,497897.0,67,3,2019-02-02 16:03:04,2019-02-02 16:05:57,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30079,2019-02-02,497897.0,68,1,2019-02-02 16:07:17,2019-02-02 16:08:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30080,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,2.033333,NaN,NaN
30081,2019-02-02,497897.0,68,3,2019-02-02 16:10:05,2019-02-02 16:12:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30082,2019-02-02,497897.0,69,1,2019-02-02 16:20:17,2019-02-02 16:21:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30083,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,2.033333,NaN,NaN
30084,2019-02-02,497897.0,69,3,2019-02-02 16:23:05,2019-02-02 16:25:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN

## Read and Prepare Bus Trip Data

In [38]:
bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'

'data/input/2019_02_02_bus_trips.csv'

In [39]:
bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [42]:
bus_trips.head()

,route,tripNum,shapeId,routeFrequency,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,gps_datetime,stopPointId,streetName,problem
8438,003,-,140170,low_frequency,1,-7.21417,-35.85934,0.0,-,-,-,-,-,-,491437,-,BETWEEN
8439,003,-,140170,low_frequency,6,-7.21478,-35.86141,262.0,-,-,-,-,-,-,385711,-,BETWEEN
8447,003,-,140170,low_frequency,8,-7.21538,-35.86281,430.0,-,-,-,-,-,-,385713,-,BETWEEN
8440,003,1,140170,low_frequency,142,-7.21568,-35.85810,9232.0,-,-,-,-,-,-,497970,-,BETWEEN
8441,003,1,140170,low_frequency,148,-7.21439,-35.85596,9509.0,-,-,-,-,-,-,385963,-,BETWEEN

In [160]:
#bus_trips[(bus_trips.route == "944") & (bus_trips.stopPointId == 491551.0)].head()
#bus_trips['gps_datetime'] = pd.to_datetime(bus_trips['gps_datetime'], format='%Y_%m_%d %H:%M:%S')

In [161]:
#trezentos = bus_trips[(bus_trips.route == "333")]
#output = trezentos.to_csv("data/output/trezentos.csv",index=False)

In [43]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [45]:
bus_trips_clean.head()

     route busCode tripNum  stopPointId gps_datetime
8438   003       -       -       491437            -
8439   003       -       -       385711            -
8447   003       -       -       385713            -
8440   003       -       1       497970            -
8441   003       -       1       385963            -

In [164]:
#bus_trips_clean[bus_trips_clean.route == "944"].head()

In [46]:
bus_trips_clean.dtypes

route           object
busCode         object
tripNum         object
stopPointId      int64
gps_datetime    object
dtype: object

In [47]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [48]:
#bus_trips_clean.gps_datetime = bus_trips_clean.drop(bus_trips_clean.gps_datetime[bus_trips_clean.gps_datetime == "-"].index, inplace=True)

bus_trips_clean.drop(bus_trips_clean.loc[bus_trips_clean['gps_datetime']=='-'].index, inplace=True)


#bus_trips_clean = bus_trips_clean[bus_trips_clean.gps_datetime == "-"]
bus_trips_clean.dtypes
#bus_trips_clean.gps_datetime = pd.to_datetime(bus_trips_clean.gps_datetime)
#pd.to_datetime('01-02-2019 06:01:01')
bus_trips_clean.head()

     route busCode tripNum  stopPointId         gps_datetime
2262   003    1062       1       385713  02-02-2019 06:03:45
2263   003    1062       1       385707  02-02-2019 06:05:17
2264   003    1062       1       386062  02-02-2019 06:05:53
2265   003    1062       1       386063  02-02-2019 06:06:27
2266   003    1062       1       497826  02-02-2019 06:11:02

In [49]:
bus_trips_clean['gps_datetime'] = pd.to_datetime(bus_trips_clean['gps_datetime'], format='%d-%m-%Y %H:%M:%S')
bus_trips_clean.head()

     route busCode tripNum  stopPointId        gps_datetime
2262   003    1062       1       385713 2019-02-02 06:03:45
2263   003    1062       1       385707 2019-02-02 06:05:17
2264   003    1062       1       386062 2019-02-02 06:05:53
2265   003    1062       1       386063 2019-02-02 06:06:27
2266   003    1062       1       497826 2019-02-02 06:11:02

In [50]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(pd.to_datetime(x['bt_start_time']) - x['otp_start_time']))

In [170]:
#bus_trips_clean[(bus_trips_clean.route == "944") & (bus_trips_clean.stopPointId == 491551.0)].sort_values(by=['gps_datetime']).head()

In [51]:
scheduled_itin_observed_o.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:59:51
1,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,02:30:33
2,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:41:51
3,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,02:12:33
4,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:24:51

In [172]:
#scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_route == "944") & (scheduled_itin_observed_o.otp_start_time == '2019-05-13 14:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           #"otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()
#scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_itinerary_id == 112)]

In [52]:
scheduled_itin_observed_o_1 = scheduled_itin_observed_o[(scheduled_itin_observed_o.otp_mode == "BUS") & (scheduled_itin_observed_o.sched_obs_start_timediff >= pd.Timedelta('0s'))  ]#& (scheduled_itin_observed_o.sched_obs_start_timediff < pd.Timedelta('1.5h'))]
scheduled_itin_observed_o_1

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:59:51
1,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,02:30:33
2,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:41:51
3,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,02:12:33
4,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:24:51
5,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,01:55:33
6,2019-02-02,385703.0,5,2,2019-02-02 06:49:29,2019-02-02 06:50:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:08:51
7,2019-02-02,385703.0,5,2,2019-02-02 06:49:29,2019-02-02 06:50:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,01:39:33
8,2019-02-02,385703.0,6,2,2019-02-02 07:05:29,2019-02-02 07:06:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:07:09
9,2019-02-02,385703.0,6,2,2019-02-02 07:05:29,2019-02-02 07:06:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,01:23:33
10,2019-02-02,385703.0,7,2,2019-02-02 07:21:29,2019-02-02 07:22:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:23:09
11,2019-02-02,385703.0,7,2,2019-02-02 07:21:29,2019-02-02 07:22:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,01:07:33
12,2019-02-02,385703.0,8,2,2019-02-02 07:37:29,2019-02-02 07:38:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:39:09
13,2019-02-02,385703.0,8,2,2019-02-02 07:37:29,2019-02-02 07:38:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:51:33
14,2019-02-02,385703.0,9,2,2019-02-02 07:53:29,2019-02-02 07:54:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,00:55:09
15,2019-02-02,385703.0,9,2,2019-02-02 07:53:29,2019-02-02 07:54:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:35:33
16,2019-02-02,385703.0,10,2,2019-02-02 08:09:29,2019-02-02 08:10:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,01:11:09
17,2019-02-02,385703.0,10,2,2019-02-02 08:09:29,2019-02-02 08:10:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:19:33
18,2019-02-02,385703.0,11,2,2019-02-02 08:25:29,2019-02-02 08:26:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,01:27:09
19,2019-02-02,385703.0,11,2,2019-02-02 08:25:29,2019-02-02 08:26:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:03:33
20,2019-02-02,385703.0,12,2,2019-02-02 08:41:29,2019-02-02 08:42:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,01:43:09
21,2019-02-02,385703.0,12,2,2019-02-02 08:41:29,2019-02-02 08:42:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:12:27
22,2019-02-02,385703.0,13,2,2019-02-02 08:57:29,2019-02-02 08:58:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,01:59:09
23,2019-02-02,385703.0,13,2,2019-02-02 08:57:29,2019-02-02 08:58:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:28:27
24,2019-02-02,385703.0,14,2,2019-02-02 09:13:29,2019-02-02 09:14:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,02:15:09
25,2019-02-02,385703.0,14,2,2019-02-02 09:13:29,2019-02-02 09:14:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,00:44:27
26,2019-02-02,385703.0,15,2,2019-02-02 09:29:29,2019-02-02 09:30:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,02:31:09
27,2019-02-02,385703.0,15,2,2019-02-02 09:29:29,2019-02-02 09:30:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,01:00:27
28,2019-02-02,385703.0,16,2,2019-02-02 09:45:29,2019-02-02 09:46:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,1,2019-02-02 06:58:20,02:47:09
29,2019-02-02,385703.0,16,2,2019-02-02 09:45:29,2019-02-02 09:46:52,BUS,090B,385703.0,386613.0,1.383333,NaN,NaN,4002,2,2019-02-02 08:29:02,01:16:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70009,2019-02-02,386664.0,181,2,2019-02-02 08:38:31,2019-02-02 09:06:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,3,2019-02-02 08:30:06,00:08:25
70010,2019-02-02,386664.0,181,2,2019-02-02 08:38:31,2019-02-02 09:06:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,2,2019-02-02 06:18:09,02:20:22
70011,2019-02-02,386664.0,181,2,2019-02-02 08:38:31,2019-02-02 09:06:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,3,2019-02-02 07:17:05,01:21:26
70012,2019-02-02,386664.0,181,2,2019-02-02 08:38:31,2019-02-02 09:06:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,4,2019-02-02 08:20:04,00:18:27
70013,2019-02-02,386664.0,216,2,2019-02-02 09:18:31,2019-02-02 09:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,1,2019-02-02 06:30:36,02:47:55
70014,2019-02-02,386664.0,216,2,2019-02-02 09:18:31,2019-02-02 09:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,2,2019-02-02 07:12:33,02:05:58
70015,2019-02-02,386664.0,216,2,2019-02-02 09:18:31,2019-02-02 09:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,3,2019-02-02 08:30:06,00:48:25
70016,2019-02-02,386664.0,216,2,2019-02-02 09:18:31,2019-02-02 09:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,2,2019-02-02 06:18:09,03:00:22
70017,2019-02-02,386664.0,216,2,2019-02-02 09:18:31,2019-02-02 09:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,3,2019-02-02 07:17:05,02:01:26
70018,2019-02-02,386664.0,216,2,2019-02-02 09:18:31,2019-02-02 09:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,4,2019-02-02 08:20:04,00:58:27
70019,2019-02-02,386664.0,243,2,2019-02-02 09:48:31,2019-02-02 10:16:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,1,2019-02-02 06:30:36,03:17:55
70020,2019-02-02,386664.0,243,2,2019-02-02 09:48:31,2019-02-02 10:16:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,2,2019-02-02 07:12:33,02:35:58
70021,2019-02-02,386664.0,243,2,2019-02-02 09:48:31,2019-02-02 10:16:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,3,2019-02-02 08:30:06,01:18:25
70022,2019-02-02,386664.0,243,2,2019-02-02 09:48:31,2019-02-02 10:16:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,2,2019-02-02 06:18:09,03:30:22
70023,2019-02-02,386664.0,243,2,2019-02-02 09:48:31,2019-02-02 10:16:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,3,2019-02-02 07:17:05,02:31:26
70024,2019-02-02,386664.0,243,2,2019-02-02 09:48:31,2019-02-02 10:16:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,4,2019-02-02 08:20:04,01:28:27
70025,2019-02-02,386664.0,270,2,2019-02-02 10:18:31,2019-02-02 10:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,1,2019-02-02 06:30:36,03:47:55
70026,2019-02-02,386664.0,270,2,2019-02-02 10:18:31,2019-02-02 10:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,2,2019-02-02 07:12:33,03:05:58
70027,2019-02-02,386664.0,270,2,2019-02-02 10:18:31,2019-02-02 10:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1012,3,2019-02-02 08:30:06,01:48:25
70028,2019-02-02,386664.0,270,2,2019-02-02 10:18:31,2019-02-02 10:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,2,2019-02-02 06:18:09,04:00:22
70029,2019-02-02,386664.0,270,2,2019-02-02 10:18:31,2019-02-02 10:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,3,2019-02-02 07:17:05,03:01:26
70030,2019-02-02,386664.0,270,2,2019-02-02 10:18:31,2019-02-02 10:46:37,BUS,022,386309.0,491167.0,28.100000,NaN,NaN,1044,4,2019-02-02 08:20:04,01:58:27
70031,2019-02-02,491206.0,21,2,2019-02-02 06:11:12,2019-02-02 06:11:52,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,1,2019-02-02 06:34:04,00:22:52
70032,2019-02-02,491206.0,21,2,2019-02-02 06:11:12,2019-02-02 06:11:52,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,2,2019-02-02 08:07:20,01:56:08
70033,2019-02-02,491206.0,32,2,2019-02-02 06:23:03,2019-02-02 06:23:43,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,1,2019-02-02 06:34:04,00:11:01
70034,2019-02-02,491206.0,32,2,2019-02-02 06:23:03,2019-02-02 06:23:43,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,2,2019-02-02 08:07:20,01:44:17
70035,2019-02-02,491206.0,111,2,2019-02-02 07:48:03,2019-02-02 07:48:43,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,1,2019-02-02 06:34:04,01:13:59
70036,2019-02-02,491206.0,111,2,2019-02-02 07:48:03,2019-02-02 07:48:43,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,2,2019-02-02 08:07:20,00:19:17
70037,2019-02-02,491206.0,161,2,2019-02-02 08:46:12,2019-02-02 08:46:52,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,1,2019-02-02 06:34:04,02:12:08
70038,2019-02-02,491206.0,161,2,2019-02-02 08:46:12,2019-02-02 08:46:52,BUS,902,385897.0,386219.0,0.666667,NaN,NaN,2051,2,2019-02-02 08:07:20,00:38:52

In [53]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])

In [54]:
scheduled_itin_observed_od.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff
0,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,NaN,4002,1,2019-02-02 06:58:20,00:59:51,4002,1,2019-02-02 07:00:01,01:00:09
1116,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,NaN,4002,2,2019-02-02 08:29:02,02:30:33,4002,2,2019-02-02 08:30:16,02:30:24
1,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,NaN,4002,1,2019-02-02 06:58:20,00:41:51,4002,1,2019-02-02 07:00:01,00:42:09
1117,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,NaN,4002,2,2019-02-02 08:29:02,02:12:33,4002,2,2019-02-02 08:30:16,02:12:24
2,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,...,NaN,NaN,4002,1,2019-02-02 06:58:20,00:24:51,4002,1,2019-02-02 07:00:01,00:25:09

In [55]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [56]:
scheduled_itin_observed_od

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:59:51,4002,1,2019-02-02 07:00:01,01:00:09,1.683333
1116,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,02:30:33,4002,2,2019-02-02 08:30:16,02:30:24,1.233333
1,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:41:51,4002,1,2019-02-02 07:00:01,00:42:09,1.683333
1117,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,02:12:33,4002,2,2019-02-02 08:30:16,02:12:24,1.233333
2,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:24:51,4002,1,2019-02-02 07:00:01,00:25:09,1.683333
1118,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:55:33,4002,2,2019-02-02 08:30:16,01:55:24,1.233333
3,2019-02-02,385703.0,5,2,2019-02-02 06:49:29,2019-02-02 06:50:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:08:51,4002,1,2019-02-02 07:00:01,00:09:09,1.683333
1119,2019-02-02,385703.0,5,2,2019-02-02 06:49:29,2019-02-02 06:50:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:39:33,4002,2,2019-02-02 08:30:16,01:39:24,1.233333
4,2019-02-02,385703.0,6,2,2019-02-02 07:05:29,2019-02-02 07:06:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:07:09,4002,1,2019-02-02 07:00:01,00:06:51,1.683333
1120,2019-02-02,385703.0,6,2,2019-02-02 07:05:29,2019-02-02 07:06:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:23:33,4002,2,2019-02-02 08:30:16,01:23:24,1.233333
5,2019-02-02,385703.0,7,2,2019-02-02 07:21:29,2019-02-02 07:22:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:23:09,4002,1,2019-02-02 07:00:01,00:22:51,1.683333
1121,2019-02-02,385703.0,7,2,2019-02-02 07:21:29,2019-02-02 07:22:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:07:33,4002,2,2019-02-02 08:30:16,01:07:24,1.233333
6,2019-02-02,385703.0,8,2,2019-02-02 07:37:29,2019-02-02 07:38:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:39:09,4002,1,2019-02-02 07:00:01,00:38:51,1.683333
1122,2019-02-02,385703.0,8,2,2019-02-02 07:37:29,2019-02-02 07:38:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:51:33,4002,2,2019-02-02 08:30:16,00:51:24,1.233333
1123,2019-02-02,385703.0,9,2,2019-02-02 07:53:29,2019-02-02 07:54:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:35:33,4002,2,2019-02-02 08:30:16,00:35:24,1.233333
7,2019-02-02,385703.0,9,2,2019-02-02 07:53:29,2019-02-02 07:54:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:55:09,4002,1,2019-02-02 07:00:01,00:54:51,1.683333
1124,2019-02-02,385703.0,10,2,2019-02-02 08:09:29,2019-02-02 08:10:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:19:33,4002,2,2019-02-02 08:30:16,00:19:24,1.233333
8,2019-02-02,385703.0,10,2,2019-02-02 08:09:29,2019-02-02 08:10:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:11:09,4002,1,2019-02-02 07:00:01,01:10:51,1.683333
1125,2019-02-02,385703.0,11,2,2019-02-02 08:25:29,2019-02-02 08:26:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:03:33,4002,2,2019-02-02 08:30:16,00:03:24,1.233333
9,2019-02-02,385703.0,11,2,2019-02-02 08:25:29,2019-02-02 08:26:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:27:09,4002,1,2019-02-02 07:00:01,01:26:51,1.683333
1126,2019-02-02,385703.0,12,2,2019-02-02 08:41:29,2019-02-02 08:42:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:12:27,4002,2,2019-02-02 08:30:16,00:12:36,1.233333
10,2019-02-02,385703.0,12,2,2019-02-02 08:41:29,2019-02-02 08:42:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:43:09,4002,1,2019-02-02 07:00:01,01:42:51,1.683333
1127,2019-02-02,385703.0,13,2,2019-02-02 08:57:29,2019-02-02 08:58:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:28:27,4002,2,2019-02-02 08:30:16,00:28:36,1.233333
11,2019-02-02,385703.0,13,2,2019-02-02 08:57:29,2019-02-02 08:58:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:59:09,4002,1,2019-02-02 07:00:01,01:58:51,1.683333
1128,2019-02-02,385703.0,14,2,2019-02-02 09:13:29,2019-02-02 09:14:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:44:27,4002,2,2019-02-02 08:30:16,00:44:36,1.233333
12,2019-02-02,385703.0,14,2,2019-02-02 09:13:29,2019-02-02 09:14:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,02:15:09,4002,1,2019-02-02 07:00:01,02:14:51,1.683333
1129,2019-02-02,385703.0,15,2,2019-02-02 09:29:29,2019-02-02 09:30:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:00:27,4002,2,2019-02-02 08:30:16,01:00:36,1.233333
13,2019-02-02,385703.0,15,2,2019-02-02 09:29:29,2019-02-02 09:30:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,02:31:09,4002,1,2019-02-02 07:00:01,02:30:51,1.683333
1130,2019-02-02,385703.0,16,2,2019-02-02 09:45:29,2019-02-02 09:46:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:16:27,4002,2,2019-02-02 08:30:16,01:16:36,1.233333
14,2019-02-02,385703.0,16,2,2019-02-02 09:45:29,2019-02-02 09:46:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,02:47:09,4002,1,2019-02-02 07:00:01,02:46:51,1.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15617,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3036,3,2019-02-02 08:03:55,08:04:07,3036,3,2019-02-02 08:07:29,08:02:35,3.566667
3447,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3007,1,2019-02-02 07:52:06,08:15:56,3007,1,2019-02-02 07:54:19,08:15:45,2.216667
5881,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3011,2,2019-02-02 07:44:57,08:23:05,3011,2,2019-02-02 07:47:51,08:22:13,2.900000
18051,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3039,2,2019-02-02 07:38:37,08:29:25,3039,2,2019-02-02 07:42:02,08:28:02,3.416667
19268,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3040,2,2019-02-02 07:19:22,08:48:40,3040,2,2019-02-02 07:21:48,08:48:16,2.433333
21702,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3045,2,2019-02-02 07:10:08,08:57:54,3045,2,2019-02-02 07:13:33,08:56:31,3.416667
8315,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3017,2,2019-02-02 07:02:48,09:05:14,3017,2,2019-02-02 07:06:53,09:03:11,4.083333
14400,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3036,2,2019-02-02 06:52:27,09:15:35,3036,2,2019-02-02 06:55:30,09:14:34,3.050000
4664,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3011,1,2019-02-02 06:43:14,09:24:48,3011,1,2019-02-02 06:46:17,09:23:47,3.050000
10749,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3033,2,2019-02-02 06:35:37,09:32:25,3033,2,2019-02-02 06:38:40,09:31:24,3.050000
16834,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3039,1,2019-02-02 06:25:59,09:42:03,3039,1,2019-02-02 06:28:49,09:41:15,2.833333
20485,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3045,1,2019-02-02 06:06:51,10:01:11,3045,1,2019-02-02 06:09:11,10:00:53,2.333333
7098,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3017,1,2019-02-02 05:55:09,10:12:53,3017,1,2019-02-02 05:57:52,10:12:12,2.716667
13183,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3036,1,2019-02-02 05:41:30,10:26:32,3036,1,2019-02-02 05:44:22,10:25:42,2.866667
9532,2019-02-02,497897.0,68,2,2019-02-02 16:08:02,2019-02-02 16:10:04,BUS,909,497897.0,385901.0,...,NaN,3033,1,2019-02-02 05:27:39,10:40:23,3033,1,2019-02-02 05:31:29,10:38:35,3.833333
15618,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3036,3,2019-02-02 08:03:55,08:17:07,3036,3,2019-02-02 08:07:29,08:15:35,3.566667
3448,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3007,1,2019-02-02 07:52:06,08:28:56,3007,1,2019-02-02 07:54:19,08:28:45,2.216667
5882,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3011,2,2019-02-02 07:44:57,08:36:05,3011,2,2019-02-02 07:47:51,08:35:13,2.900000
18052,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3039,2,2019-02-02 07:38:37,08:42:25,3039,2,2019-02-02 07:42:02,08:41:02,3.416667
19269,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3040,2,2019-02-02 07:19:22,09:01:40,3040,2,2019-02-02 07:21:48,09:01:16,2.433333
21703,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3045,2,2019-02-02 07:10:08,09:10:54,3045,2,2019-02-02 07:13:33,09:09:31,3.416667
8316,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3017,2,2019-02-02 07:02:48,09:18:14,3017,2,2019-02-02 07:06:53,09:16:11,4.083333
14401,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3036,2,2019-02-02 06:52:27,09:28:35,3036,2,2019-02-02 06:55:30,09:27:34,3.050000
4665,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3011,1,2019-02-02 06:43:14,09:37:48,3011,1,2019-02-02 06:46:17,09:36:47,3.050000
10750,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3033,2,2019-02-02 06:35:37,09:45:25,3033,2,2019-02-02 06:38:40,09:44:24,3.050000
16835,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3039,1,2019-02-02 06:25:59,09:55:03,3039,1,2019-02-02 06:28:49,09:54:15,2.833333
20486,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3045,1,2019-02-02 06:06:51,10:14:11,3045,1,2019-02-02 06:09:11,10:13:53,2.333333
7099,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3017,1,2019-02-02 05:55:09,10:25:53,3017,1,2019-02-02 05:57:52,10:25:12,2.716667
13184,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3036,1,2019-02-02 05:41:30,10:39:32,3036,1,2019-02-02 05:44:22,10:38:42,2.866667
9533,2019-02-02,497897.0,69,2,2019-02-02 16:21:02,2019-02-02 16:23:04,BUS,909,497897.0,385901.0,...,NaN,3033,1,2019-02-02 05:27:39,10:53:23,3033,1,2019-02-02 05:31:29,10:51:35,3.833333

In [57]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)
scheduled_itin_observed_od_full

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:59:51,4002,1,2019-02-02 07:00:01,01:00:09,1.683333
1116,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,02:30:33,4002,2,2019-02-02 08:30:16,02:30:24,1.233333
1,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:41:51,4002,1,2019-02-02 07:00:01,00:42:09,1.683333
1117,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,02:12:33,4002,2,2019-02-02 08:30:16,02:12:24,1.233333
2,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:24:51,4002,1,2019-02-02 07:00:01,00:25:09,1.683333
1118,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:55:33,4002,2,2019-02-02 08:30:16,01:55:24,1.233333
3,2019-02-02,385703.0,5,2,2019-02-02 06:49:29,2019-02-02 06:50:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:08:51,4002,1,2019-02-02 07:00:01,00:09:09,1.683333
1119,2019-02-02,385703.0,5,2,2019-02-02 06:49:29,2019-02-02 06:50:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:39:33,4002,2,2019-02-02 08:30:16,01:39:24,1.233333
4,2019-02-02,385703.0,6,2,2019-02-02 07:05:29,2019-02-02 07:06:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:07:09,4002,1,2019-02-02 07:00:01,00:06:51,1.683333
1120,2019-02-02,385703.0,6,2,2019-02-02 07:05:29,2019-02-02 07:06:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:23:33,4002,2,2019-02-02 08:30:16,01:23:24,1.233333
5,2019-02-02,385703.0,7,2,2019-02-02 07:21:29,2019-02-02 07:22:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:23:09,4002,1,2019-02-02 07:00:01,00:22:51,1.683333
1121,2019-02-02,385703.0,7,2,2019-02-02 07:21:29,2019-02-02 07:22:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:07:33,4002,2,2019-02-02 08:30:16,01:07:24,1.233333
6,2019-02-02,385703.0,8,2,2019-02-02 07:37:29,2019-02-02 07:38:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:39:09,4002,1,2019-02-02 07:00:01,00:38:51,1.683333
1122,2019-02-02,385703.0,8,2,2019-02-02 07:37:29,2019-02-02 07:38:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:51:33,4002,2,2019-02-02 08:30:16,00:51:24,1.233333
1123,2019-02-02,385703.0,9,2,2019-02-02 07:53:29,2019-02-02 07:54:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:35:33,4002,2,2019-02-02 08:30:16,00:35:24,1.233333
7,2019-02-02,385703.0,9,2,2019-02-02 07:53:29,2019-02-02 07:54:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:55:09,4002,1,2019-02-02 07:00:01,00:54:51,1.683333
1124,2019-02-02,385703.0,10,2,2019-02-02 08:09:29,2019-02-02 08:10:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:19:33,4002,2,2019-02-02 08:30:16,00:19:24,1.233333
8,2019-02-02,385703.0,10,2,2019-02-02 08:09:29,2019-02-02 08:10:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:11:09,4002,1,2019-02-02 07:00:01,01:10:51,1.683333
1125,2019-02-02,385703.0,11,2,2019-02-02 08:25:29,2019-02-02 08:26:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:03:33,4002,2,2019-02-02 08:30:16,00:03:24,1.233333
9,2019-02-02,385703.0,11,2,2019-02-02 08:25:29,2019-02-02 08:26:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:27:09,4002,1,2019-02-02 07:00:01,01:26:51,1.683333
1126,2019-02-02,385703.0,12,2,2019-02-02 08:41:29,2019-02-02 08:42:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:12:27,4002,2,2019-02-02 08:30:16,00:12:36,1.233333
10,2019-02-02,385703.0,12,2,2019-02-02 08:41:29,2019-02-02 08:42:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:43:09,4002,1,2019-02-02 07:00:01,01:42:51,1.683333
1127,2019-02-02,385703.0,13,2,2019-02-02 08:57:29,2019-02-02 08:58:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:28:27,4002,2,2019-02-02 08:30:16,00:28:36,1.233333
11,2019-02-02,385703.0,13,2,2019-02-02 08:57:29,2019-02-02 08:58:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,01:59:09,4002,1,2019-02-02 07:00:01,01:58:51,1.683333
1128,2019-02-02,385703.0,14,2,2019-02-02 09:13:29,2019-02-02 09:14:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,00:44:27,4002,2,2019-02-02 08:30:16,00:44:36,1.233333
12,2019-02-02,385703.0,14,2,2019-02-02 09:13:29,2019-02-02 09:14:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,02:15:09,4002,1,2019-02-02 07:00:01,02:14:51,1.683333
1129,2019-02-02,385703.0,15,2,2019-02-02 09:29:29,2019-02-02 09:30:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:00:27,4002,2,2019-02-02 08:30:16,01:00:36,1.233333
13,2019-02-02,385703.0,15,2,2019-02-02 09:29:29,2019-02-02 09:30:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,02:31:09,4002,1,2019-02-02 07:00:01,02:30:51,1.683333
1130,2019-02-02,385703.0,16,2,2019-02-02 09:45:29,2019-02-02 09:46:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,01:16:27,4002,2,2019-02-02 08:30:16,01:16:36,1.233333
14,2019-02-02,385703.0,16,2,2019-02-02 09:45:29,2019-02-02 09:46:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,02:47:09,4002,1,2019-02-02 07:00:01,02:46:51,1.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30040,2019-02-02,497897.0,55,1,2019-02-02 13:37:17,2019-02-02 13:38:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30042,2019-02-02,497897.0,55,3,2019-02-02 13:40:04,2019-02-02 13:42:57,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30043,2019-02-02,497897.0,56,1,2019-02-02 13:41:17,2019-02-02 13:42:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30045,2019-02-02,497897.0,56,3,2019-02-02 13:44:05,2019-02-02 13:46:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30046,2019-02-02,497897.0,57,1,2019-02-02 13:52:17,2019-02-02 13:53:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30048,2019-02-02,497897.0,57,3,2019-02-02 13:55:05,2019-02-02 13:57:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30049,2019-02-02,497897.0,58,1,2019-02-02 14:10:17,2019-02-02 14:11:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30051,2019-02-02,497897.0,58,3,2019-02-02 14:13:05,2019-02-02 14:15:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30052,2019-02-02,497897.0,59,1,2019-02-02 14:23:17,2019-02-02 14:24:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30054,2019-02-02,497897.0,59,3,2019-02-02 14:26:05,2019-02-02 14:28:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30055,2019-02-02,497897.0,60,1,2019-02-02 14:36:17,2019-02-02 14:37:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30057,2019-02-02,497897.0,60,3,2019-02-02 14:39:05,2019-02-02 14:41:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30058,2019-02-02,497897.0,61,1,2019-02-02 14:49:17,2019-02-02 14:50:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30060,2019-02-02,497897.0,61,3,2019-02-02 14:52:05,2019-02-02 14:54:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30061,2019-02-02,497897.0,62,1,2019-02-02 15:02:17,2019-02-02 15:03:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30063,2019-02-02,497897.0,62,3,2019-02-02 15:05:05,2019-02-02 15:07:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30064,2019-02-02,497897.0,63,1,2019-02-02 15:15:17,2019-02-02 15:16:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30066,2019-02-02,497897.0,63,3,2019-02-02 15:18:05,2019-02-02 15:20:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30067,2019-02-02,497897.0,64,1,2019-02-02 15:28:17,2019-02-02 15:29:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30069,2019-02-02,497897.0,64,3,2019-02-02 15:31:05,2019-02-02 15:33:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30070,2019-02-02,497897.0,65,1,2019-02-02 15:41:17,2019-02-02 15:42:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30072,2019-02-02,497897.0,65,3,2019-02-02 15:44:05,2019-02-02 15:46:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30073,2019-02-02,497897.0,66,1,2019-02-02 15:54:17,2019-02-02 15:55:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30075,2019-02-02,497897.0,66,3,2019-02-02 15:57:05,2019-02-02 15:59:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30076,2019-02-02,497897.0,67,1,2019-02-02 16:00:17,2019-02-02 16:01:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30078,2019-02-02,497897.0,67,3,2019-02-02 16:03:04,2019-02-02 16:05:57,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30079,2019-02-02,497897.0,68,1,2019-02-02 16:07:17,2019-02-02 16:08:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30081,2019-02-02,497897.0,68,3,2019-02-02 16:10:05,2019-02-02 16:12:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30082,2019-02-02,497897.0,69,1,2019-02-02 16:20:17,2019-02-02 16:21:01,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN
30084,2019-02-02,497897.0,69,3,2019-02-02 16:23:05,2019-02-02 16:25:58,WALK,nan,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN

In [58]:
otp_suggestions_walk_legs

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2019-02-02,385703.0,1,1,2019-02-02 01:31:17,2019-02-02 01:41:05,WALK,nan,NaN,NaN,9.800000,NaN,NaN
1,2019-02-02,385703.0,2,1,2019-02-02 05:58:24,2019-02-02 05:58:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
3,2019-02-02,385703.0,2,3,2019-02-02 05:59:53,2019-02-02 06:05:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
4,2019-02-02,385703.0,3,1,2019-02-02 06:16:24,2019-02-02 06:16:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
6,2019-02-02,385703.0,3,3,2019-02-02 06:17:53,2019-02-02 06:23:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
7,2019-02-02,385703.0,4,1,2019-02-02 06:33:24,2019-02-02 06:33:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
9,2019-02-02,385703.0,4,3,2019-02-02 06:34:53,2019-02-02 06:40:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
10,2019-02-02,385703.0,5,1,2019-02-02 06:49:24,2019-02-02 06:49:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
12,2019-02-02,385703.0,5,3,2019-02-02 06:50:53,2019-02-02 06:56:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
13,2019-02-02,385703.0,6,1,2019-02-02 07:05:24,2019-02-02 07:05:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
15,2019-02-02,385703.0,6,3,2019-02-02 07:06:53,2019-02-02 07:12:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
16,2019-02-02,385703.0,7,1,2019-02-02 07:21:24,2019-02-02 07:21:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
18,2019-02-02,385703.0,7,3,2019-02-02 07:22:53,2019-02-02 07:28:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
19,2019-02-02,385703.0,8,1,2019-02-02 07:37:24,2019-02-02 07:37:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
21,2019-02-02,385703.0,8,3,2019-02-02 07:38:53,2019-02-02 07:44:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
22,2019-02-02,385703.0,9,1,2019-02-02 07:53:24,2019-02-02 07:53:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
24,2019-02-02,385703.0,9,3,2019-02-02 07:54:53,2019-02-02 08:00:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
25,2019-02-02,385703.0,10,1,2019-02-02 08:09:24,2019-02-02 08:09:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
27,2019-02-02,385703.0,10,3,2019-02-02 08:10:53,2019-02-02 08:16:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
28,2019-02-02,385703.0,11,1,2019-02-02 08:25:24,2019-02-02 08:25:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
30,2019-02-02,385703.0,11,3,2019-02-02 08:26:53,2019-02-02 08:32:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
31,2019-02-02,385703.0,12,1,2019-02-02 08:41:24,2019-02-02 08:41:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
33,2019-02-02,385703.0,12,3,2019-02-02 08:42:53,2019-02-02 08:48:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
34,2019-02-02,385703.0,13,1,2019-02-02 08:57:24,2019-02-02 08:57:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
36,2019-02-02,385703.0,13,3,2019-02-02 08:58:53,2019-02-02 09:04:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
37,2019-02-02,385703.0,14,1,2019-02-02 09:13:24,2019-02-02 09:13:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
39,2019-02-02,385703.0,14,3,2019-02-02 09:14:53,2019-02-02 09:20:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
40,2019-02-02,385703.0,15,1,2019-02-02 09:29:24,2019-02-02 09:29:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
42,2019-02-02,385703.0,15,3,2019-02-02 09:30:53,2019-02-02 09:36:12,WALK,nan,NaN,NaN,5.316667,NaN,NaN
43,2019-02-02,385703.0,16,1,2019-02-02 09:45:24,2019-02-02 09:45:28,WALK,nan,NaN,NaN,0.066667,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30040,2019-02-02,497897.0,55,1,2019-02-02 13:37:17,2019-02-02 13:38:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30042,2019-02-02,497897.0,55,3,2019-02-02 13:40:04,2019-02-02 13:42:57,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30043,2019-02-02,497897.0,56,1,2019-02-02 13:41:17,2019-02-02 13:42:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30045,2019-02-02,497897.0,56,3,2019-02-02 13:44:05,2019-02-02 13:46:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30046,2019-02-02,497897.0,57,1,2019-02-02 13:52:17,2019-02-02 13:53:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30048,2019-02-02,497897.0,57,3,2019-02-02 13:55:05,2019-02-02 13:57:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30049,2019-02-02,497897.0,58,1,2019-02-02 14:10:17,2019-02-02 14:11:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30051,2019-02-02,497897.0,58,3,2019-02-02 14:13:05,2019-02-02 14:15:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30052,2019-02-02,497897.0,59,1,2019-02-02 14:23:17,2019-02-02 14:24:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30054,2019-02-02,497897.0,59,3,2019-02-02 14:26:05,2019-02-02 14:28:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30055,2019-02-02,497897.0,60,1,2019-02-02 14:36:17,2019-02-02 14:37:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30057,2019-02-02,497897.0,60,3,2019-02-02 14:39:05,2019-02-02 14:41:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30058,2019-02-02,497897.0,61,1,2019-02-02 14:49:17,2019-02-02 14:50:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30060,2019-02-02,497897.0,61,3,2019-02-02 14:52:05,2019-02-02 14:54:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30061,2019-02-02,497897.0,62,1,2019-02-02 15:02:17,2019-02-02 15:03:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30063,2019-02-02,497897.0,62,3,2019-02-02 15:05:05,2019-02-02 15:07:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30064,2019-02-02,497897.0,63,1,2019-02-02 15:15:17,2019-02-02 15:16:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30066,2019-02-02,497897.0,63,3,2019-02-02 15:18:05,2019-02-02 15:20:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30067,2019-02-02,497897.0,64,1,2019-02-02 15:28:17,2019-02-02 15:29:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30069,2019-02-02,497897.0,64,3,2019-02-02 15:31:05,2019-02-02 15:33:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30070,2019-02-02,497897.0,65,1,2019-02-02 15:41:17,2019-02-02 15:42:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30072,2019-02-02,497897.0,65,3,2019-02-02 15:44:05,2019-02-02 15:46:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30073,2019-02-02,497897.0,66,1,2019-02-02 15:54:17,2019-02-02 15:55:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30075,2019-02-02,497897.0,66,3,2019-02-02 15:57:05,2019-02-02 15:59:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30076,2019-02-02,497897.0,67,1,2019-02-02 16:00:17,2019-02-02 16:01:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30078,2019-02-02,497897.0,67,3,2019-02-02 16:03:04,2019-02-02 16:05:57,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30079,2019-02-02,497897.0,68,1,2019-02-02 16:07:17,2019-02-02 16:08:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30081,2019-02-02,497897.0,68,3,2019-02-02 16:10:05,2019-02-02 16:12:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN
30082,2019-02-02,497897.0,69,1,2019-02-02 16:20:17,2019-02-02 16:21:01,WALK,nan,NaN,NaN,0.733333,NaN,NaN
30084,2019-02-02,497897.0,69,3,2019-02-02 16:23:05,2019-02-02 16:25:58,WALK,nan,NaN,NaN,2.883333,NaN,NaN

In [180]:
#scheduled_itin_observed_od_full[scheduled_itin_observed_od_full.otp_itinerary_id == 296]

Empty DataFrame
Columns: [otp_date, otp_user_trip_id, otp_itinerary_id, otp_leg_id, otp_start_time, otp_end_time, otp_mode, otp_route, otp_from_stop_id, otp_to_stop_id, otp_duration_mins, otp_from_parent_station, otp_to_parent_station, bt_bus_code, bt_trip_num, bt_start_time, sched_obs_start_timediff, bt_busCode, bt_tripNum, bt_end_time, sched_obs_end_timediff, bt_duration_mins]
Index: []

[0 rows x 22 columns]

In [181]:
#bus_trips_clean[(bus_trips['route'] == '944') & (bus_trips['stopPointId'] == 491551)].sort_values(['gps_datetime'])

/home/hector/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      route busCode tripNum  stopPointId        gps_datetime
43243   944    1064       2       491551 2019-02-10 09:08:14
43281   944    1064       3       491551 2019-02-10 09:31:55
4232    944    1083       2       491551 2019-02-10 11:58:10
8953    944    1078       3       491551 2019-02-10 12:17:56
8993    944    1078       4       491551 2019-02-10 12:42:29
4353    944    1083       3       491551 2019-02-10 13:03:59
9065    944    1078       5       491551 2019-02-10 13:43:49
4528    944    1083       8       491551 2019-02-10 16:16:23
4593    944    1083       9       491551 2019-02-10 17:09:10
4656    944    1083      10       491551 2019-02-10 18:09:36
4725    944    1083      11       491551 2019-02-10 19:12:03
4792    944    1083      12       491551 2019-02-10 20:10:27
4864    944    1083      13       491551 2019-02-10 21:20:13
43732   944    1064      11       491551 2019-02-10 21:54:11
43769   944    1064      12       491551 2019-02-10 22:19:12
43816   944    1064      13       491551 2019-02-10 22:48:20

In [59]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [60]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
0,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:59:51,4002,1,2019-02-02 07:00:01,01:00:09,1.683333
1116,2019-02-02,385703.0,2,2,2019-02-02 05:58:29,2019-02-02 05:59:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,02:30:33,4002,2,2019-02-02 08:30:16,02:30:24,1.233333
1,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:41:51,4002,1,2019-02-02 07:00:01,00:42:09,1.683333
1117,2019-02-02,385703.0,3,2,2019-02-02 06:16:29,2019-02-02 06:17:52,BUS,090B,385703.0,386613.0,...,NaN,4002,2,2019-02-02 08:29:02,02:12:33,4002,2,2019-02-02 08:30:16,02:12:24,1.233333
2,2019-02-02,385703.0,4,2,2019-02-02 06:33:29,2019-02-02 06:34:52,BUS,090B,385703.0,386613.0,...,NaN,4002,1,2019-02-02 06:58:20,00:24:51,4002,1,2019-02-02 07:00:01,00:25:09,1.683333

In [61]:
# coisa = scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 15:05:47')][['otp_itinerary_id',"otp_start_time","otp_route","otp_from_stop_id",
#                                                                            "otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff'])

# coisa

In [62]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins','minimun_obs_start_time','bt_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [63]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385703.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-02 01:31:17,NaT,NaT,NaN,2019-02-02 01:41:05,NaT,NaT,9.800000,NaN
1,385703.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-02 05:58:24,NaT,NaT,NaN,2019-02-02 05:58:28,NaT,NaT,0.066667,NaN
0,385703.0,2,2,BUS,090B,4002,1,385703.0,2019-02-02 05:58:29,2019-02-02 06:58:20,00:59:51,386613.0,2019-02-02 05:59:52,2019-02-02 07:00:01,01:00:09,1.383333,1.683333
1116,385703.0,2,2,BUS,090B,4002,2,385703.0,2019-02-02 05:58:29,2019-02-02 08:29:02,02:30:33,386613.0,2019-02-02 05:59:52,2019-02-02 08:30:16,02:30:24,1.383333,1.233333
3,385703.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-02 05:59:53,NaT,NaT,NaN,2019-02-02 06:05:12,NaT,NaT,5.316667,NaN
4,385703.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:16:24,NaT,NaT,NaN,2019-02-02 06:16:28,NaT,NaT,0.066667,NaN
1,385703.0,3,2,BUS,090B,4002,1,385703.0,2019-02-02 06:16:29,2019-02-02 06:58:20,00:41:51,386613.0,2019-02-02 06:17:52,2019-02-02 07:00:01,00:42:09,1.383333,1.683333
1117,385703.0,3,2,BUS,090B,4002,2,385703.0,2019-02-02 06:16:29,2019-02-02 08:29:02,02:12:33,386613.0,2019-02-02 06:17:52,2019-02-02 08:30:16,02:12:24,1.383333,1.233333
6,385703.0,3,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:17:53,NaT,NaT,NaN,2019-02-02 06:23:12,NaT,NaT,5.316667,NaN
7,385703.0,4,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:33:24,NaT,NaT,NaN,2019-02-02 06:33:28,NaT,NaT,0.066667,NaN
2,385703.0,4,2,BUS,090B,4002,1,385703.0,2019-02-02 06:33:29,2019-02-02 06:58:20,00:24:51,386613.0,2019-02-02 06:34:52,2019-02-02 07:00:01,00:25:09,1.383333,1.683333
1118,385703.0,4,2,BUS,090B,4002,2,385703.0,2019-02-02 06:33:29,2019-02-02 08:29:02,01:55:33,386613.0,2019-02-02 06:34:52,2019-02-02 08:30:16,01:55:24,1.383333,1.233333
9,385703.0,4,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:34:53,NaT,NaT,NaN,2019-02-02 06:40:12,NaT,NaT,5.316667,NaN
10,385703.0,5,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:49:24,NaT,NaT,NaN,2019-02-02 06:49:28,NaT,NaT,0.066667,NaN
3,385703.0,5,2,BUS,090B,4002,1,385703.0,2019-02-02 06:49:29,2019-02-02 06:58:20,00:08:51,386613.0,2019-02-02 06:50:52,2019-02-02 07:00:01,00:09:09,1.383333,1.683333
1119,385703.0,5,2,BUS,090B,4002,2,385703.0,2019-02-02 06:49:29,2019-02-02 08:29:02,01:39:33,386613.0,2019-02-02 06:50:52,2019-02-02 08:30:16,01:39:24,1.383333,1.233333
12,385703.0,5,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:50:53,NaT,NaT,NaN,2019-02-02 06:56:12,NaT,NaT,5.316667,NaN
13,385703.0,6,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:05:24,NaT,NaT,NaN,2019-02-02 07:05:28,NaT,NaT,0.066667,NaN
4,385703.0,6,2,BUS,090B,4002,1,385703.0,2019-02-02 07:05:29,2019-02-02 06:58:20,00:07:09,386613.0,2019-02-02 07:06:52,2019-02-02 07:00:01,00:06:51,1.383333,1.683333
1120,385703.0,6,2,BUS,090B,4002,2,385703.0,2019-02-02 07:05:29,2019-02-02 08:29:02,01:23:33,386613.0,2019-02-02 07:06:52,2019-02-02 08:30:16,01:23:24,1.383333,1.233333
15,385703.0,6,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:06:53,NaT,NaT,NaN,2019-02-02 07:12:12,NaT,NaT,5.316667,NaN
16,385703.0,7,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:21:24,NaT,NaT,NaN,2019-02-02 07:21:28,NaT,NaT,0.066667,NaN
5,385703.0,7,2,BUS,090B,4002,1,385703.0,2019-02-02 07:21:29,2019-02-02 06:58:20,00:23:09,386613.0,2019-02-02 07:22:52,2019-02-02 07:00:01,00:22:51,1.383333,1.683333
1121,385703.0,7,2,BUS,090B,4002,2,385703.0,2019-02-02 07:21:29,2019-02-02 08:29:02,01:07:33,386613.0,2019-02-02 07:22:52,2019-02-02 08:30:16,01:07:24,1.383333,1.233333
18,385703.0,7,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:22:53,NaT,NaT,NaN,2019-02-02 07:28:12,NaT,NaT,5.316667,NaN
19,385703.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:37:24,NaT,NaT,NaN,2019-02-02 07:37:28,NaT,NaT,0.066667,NaN
6,385703.0,8,2,BUS,090B,4002,1,385703.0,2019-02-02 07:37:29,2019-02-02 06:58:20,00:39:09,386613.0,2019-02-02 07:38:52,2019-02-02 07:00:01,00:38:51,1.383333,1.683333
1122,385703.0,8,2,BUS,090B,4002,2,385703.0,2019-02-02 07:37:29,2019-02-02 08:29:02,00:51:33,386613.0,2019-02-02 07:38:52,2019-02-02 08:30:16,00:51:24,1.383333,1.233333
21,385703.0,8,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:38:53,NaT,NaT,NaN,2019-02-02 07:44:12,NaT,NaT,5.316667,NaN
22,385703.0,9,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:53:24,NaT,NaT,NaN,2019-02-02 07:53:28,NaT,NaT,0.066667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18051,497897.0,68,2,BUS,909,3039,2,497897.0,2019-02-02 16:08:02,2019-02-02 07:38:37,08:29:25,385901.0,2019-02-02 16:10:04,2019-02-02 07:42:02,08:28:02,2.033333,3.416667
19268,497897.0,68,2,BUS,909,3040,2,497897.0,2019-02-02 16:08:02,2019-02-02 07:19:22,08:48:40,385901.0,2019-02-02 16:10:04,2019-02-02 07:21:48,08:48:16,2.033333,2.433333
21702,497897.0,68,2,BUS,909,3045,2,497897.0,2019-02-02 16:08:02,2019-02-02 07:10:08,08:57:54,385901.0,2019-02-02 16:10:04,2019-02-02 07:13:33,08:56:31,2.033333,3.416667
8315,497897.0,68,2,BUS,909,3017,2,497897.0,2019-02-02 16:08:02,2019-02-02 07:02:48,09:05:14,385901.0,2019-02-02 16:10:04,2019-02-02 07:06:53,09:03:11,2.033333,4.083333
14400,497897.0,68,2,BUS,909,3036,2,497897.0,2019-02-02 16:08:02,2019-02-02 06:52:27,09:15:35,385901.0,2019-02-02 16:10:04,2019-02-02 06:55:30,09:14:34,2.033333,3.050000
4664,497897.0,68,2,BUS,909,3011,1,497897.0,2019-02-02 16:08:02,2019-02-02 06:43:14,09:24:48,385901.0,2019-02-02 16:10:04,2019-02-02 06:46:17,09:23:47,2.033333,3.050000
10749,497897.0,68,2,BUS,909,3033,2,497897.0,2019-02-02 16:08:02,2019-02-02 06:35:37,09:32:25,385901.0,2019-02-02 16:10:04,2019-02-02 06:38:40,09:31:24,2.033333,3.050000
16834,497897.0,68,2,BUS,909,3039,1,497897.0,2019-02-02 16:08:02,2019-02-02 06:25:59,09:42:03,385901.0,2019-02-02 16:10:04,2019-02-02 06:28:49,09:41:15,2.033333,2.833333
20485,497897.0,68,2,BUS,909,3045,1,497897.0,2019-02-02 16:08:02,2019-02-02 06:06:51,10:01:11,385901.0,2019-02-02 16:10:04,2019-02-02 06:09:11,10:00:53,2.033333,2.333333
7098,497897.0,68,2,BUS,909,3017,1,497897.0,2019-02-02 16:08:02,2019-02-02 05:55:09,10:12:53,385901.0,2019-02-02 16:10:04,2019-02-02 05:57:52,10:12:12,2.033333,2.716667
13183,497897.0,68,2,BUS,909,3036,1,497897.0,2019-02-02 16:08:02,2019-02-02 05:41:30,10:26:32,385901.0,2019-02-02 16:10:04,2019-02-02 05:44:22,10:25:42,2.033333,2.866667
9532,497897.0,68,2,BUS,909,3033,1,497897.0,2019-02-02 16:08:02,2019-02-02 05:27:39,10:40:23,385901.0,2019-02-02 16:10:04,2019-02-02 05:31:29,10:38:35,2.033333,3.833333
30081,497897.0,68,3,WALK,nan,NaN,NaN,NaN,2019-02-02 16:10:05,NaT,NaT,NaN,2019-02-02 16:12:58,NaT,NaT,2.883333,NaN
30082,497897.0,69,1,WALK,nan,NaN,NaN,NaN,2019-02-02 16:20:17,NaT,NaT,NaN,2019-02-02 16:21:01,NaT,NaT,0.733333,NaN
15618,497897.0,69,2,BUS,909,3036,3,497897.0,2019-02-02 16:21:02,2019-02-02 08:03:55,08:17:07,385901.0,2019-02-02 16:23:04,2019-02-02 08:07:29,08:15:35,2.033333,3.566667
3448,497897.0,69,2,BUS,909,3007,1,497897.0,2019-02-02 16:21:02,2019-02-02 07:52:06,08:28:56,385901.0,2019-02-02 16:23:04,2019-02-02 07:54:19,08:28:45,2.033333,2.216667
5882,497897.0,69,2,BUS,909,3011,2,497897.0,2019-02-02 16:21:02,2019-02-02 07:44:57,08:36:05,385901.0,2019-02-02 16:23:04,2019-02-02 07:47:51,08:35:13,2.033333,2.900000
18052,497897.0,69,2,BUS,909,3039,2,497897.0,2019-02-02 16:21:02,2019-02-02 07:38:37,08:42:25,385901.0,2019-02-02 16:23:04,2019-02-02 07:42:02,08:41:02,2.033333,3.416667
19269,497897.0,69,2,BUS,909,3040,2,497897.0,2019-02-02 16:21:02,2019-02-02 07:19:22,09:01:40,385901.0,2019-02-02 16:23:04,2019-02-02 07:21:48,09:01:16,2.033333,2.433333
21703,497897.0,69,2,BUS,909,3045,2,497897.0,2019-02-02 16:21:02,2019-02-02 07:10:08,09:10:54,385901.0,2019-02-02 16:23:04,2019-02-02 07:13:33,09:09:31,2.033333,3.416667
8316,497897.0,69,2,BUS,909,3017,2,497897.0,2019-02-02 16:21:02,2019-02-02 07:02:48,09:18:14,385901.0,2019-02-02 16:23:04,2019-02-02 07:06:53,09:16:11,2.033333,4.083333
14401,497897.0,69,2,BUS,909,3036,2,497897.0,2019-02-02 16:21:02,2019-02-02 06:52:27,09:28:35,385901.0,2019-02-02 16:23:04,2019-02-02 06:55:30,09:27:34,2.033333,3.050000
4665,497897.0,69,2,BUS,909,3011,1,497897.0,2019-02-02 16:21:02,2019-02-02 06:43:14,09:37:48,385901.0,2019-02-02 16:23:04,2019-02-02 06:46:17,09:36:47,2.033333,3.050000
10750,497897.0,69,2,BUS,909,3033,2,497897.0,2019-02-02 16:21:02,2019-02-02 06:35:37,09:45:25,385901.0,2019-02-02 16:23:04,2019-02-02 06:38:40,09:44:24,2.033333,3.050000
16835,497897.0,69,2,BUS,909,3039,1,497897.0,2019-02-02 16:21:02,2019-02-02 06:25:59,09:55:03,385901.0,2019-02-02 16:23:04,2019-02-02 06:28:49,09:54:15,2.033333,2.833333
20486,497897.0,69,2,BUS,909,3045,1,497897.0,2019-02-02 16:21:02,2019-02-02 06:06:51,10:14:11,385901.0,2019-02-02 16:23:04,2019-02-02 06:09:11,10:13:53,2.033333,2.333333
7099,497897.0,69,2,BUS,909,3017,1,497897.0,2019-02-02 16:21:02,2019-02-02 05:55:09,10:25:53,385901.0,2019-02-02 16:23:04,2019-02-02 05:57:52,10:25:12,2.033333,2.716667
13184,497897.0,69,2,BUS,909,3036,1,497897.0,2019-02-02 16:21:02,2019-02-02 05:41:30,10:39:32,385901.0,2019-02-02 16:23:04,2019-02-02 05:44:22,10:38:42,2.033333,2.866667
9533,497897.0,69,2,BUS,909,3033,1,497897.0,2019-02-02 16:21:02,2019-02-02 05:27:39,10:53:23,385901.0,2019-02-02 16:23:04,2019-02-02 05:31:29,10:51:35,2.033333,3.833333
30084,497897.0,69,3,WALK,nan,NaN,NaN,NaN,2019-02-02 16:23:05,NaT,NaT,NaN,2019-02-02 16:25:58,NaT,NaT,2.883333,NaN

In [64]:
scheduled_itin_observed_od_full_clean \
                        .groupby(['otp_itinerary_id', 'otp_leg_id']) \
                        .apply(lambda x: x.sort_values(["sched_obs_start_timediff"]))

                                   otp_user_trip_id  otp_itinerary_id  \
otp_itinerary_id otp_leg_id
1                1          0              385703.0                 1
                            103            385704.0                 1
                            209            385705.0                 1
                            522            385706.0                 1
                            718            385708.0                 1
                            920            385710.0                 1
                            921            385712.0                 1
                            922            385717.0                 1
                            1124           385744.0                 1
                            1953           385746.0                 1
                            2830           385748.0                 1
                            3961           385781.0                 1
                            4953           385849.0                 1
                            5590           385895.0                 1
                            6520           385897.0                 1
                            6854           385898.0                 1
                            6957           385900.0                 1
                            6958           385901.0                 1
                            6959           385912.0                 1
                            7161           385913.0                 1
                            7363           385914.0                 1
                            7364           385915.0                 1
                            7365           385916.0                 1
                            7500           385917.0                 1
                            7702           386102.0                 1
                            8821           386103.0                 1
                            9907           386104.0                 1
                            10916          386105.0                 1
                            11879          386106.0                 1
                            12815          386107.0                 1
...                                             ...               ...
375              2          33797          385748.0               375
                            37028          385748.0               375
                            41336          385748.0               375
                            28412          385748.0               375
                            43490          385748.0               375
                            35951          385748.0               375
                            30566          385748.0               375
                            32720          385748.0               375
                 3          3951           385748.0               375
376              1          3952           385748.0               376
                 3          3954           385748.0               376
377              1          3955           385748.0               377
                 2          1460           385748.0               377
                            344            385748.0               377
                 3          3957           385748.0               377
378              1          3958           385748.0               378
                 2          29490          385748.0               378
                            40260          385748.0               378
                            27336          385748.0               378
                            42414          385748.0               378
                            31644          385748.0               378
                            33798          385748.0               378
                            37029          385748.0               378
                            41337          385748.0               378
                            28413          385748.0               378
                            43491          385748.0               378
                            35952          385748.0               378
                            30567          385748.0               378
                            32721          385748.0               378
                 3          3960           385748.0               378

                                   otp_leg_id otp_mode otp_route bt_bus_code  \
otp_itinerary_id otp_leg_id
1                1          0               1     WALK       nan         NaN
                            103             1     WALK       nan         NaN
                            209             1     WALK       nan         NaN
                            522             1     WALK       nan         NaN
                            718             1     WALK       nan         NaN
                            920             1     WALK       nan         NaN
                            921             1     WALK       nan         NaN
                            922             1     WALK       nan         NaN
                            1124            1     WALK       nan         NaN
                            1953            1     WALK       nan         NaN
                            2830            1     WALK       nan         NaN
                            3961            1     WALK       nan         NaN
                            4953            1     WALK       nan         NaN
                            5590            1     WALK       nan         NaN
                            6520            1     WALK       nan         NaN
                            6854            1     WALK       nan         NaN
                            6957            1     WALK       nan         NaN
                            6958            1     WALK       nan         NaN
                            6959            1     WALK       nan         NaN
                            7161            1     WALK       nan         NaN
                            7363            1     WALK       nan         NaN
                            7364            1     WALK       nan         NaN
                            7365            1     WALK       nan         NaN
                            7500            1     WALK       nan         NaN
                            7702            1     WALK       nan         NaN
                            8821            1     WALK       nan         NaN
                            9907            1     WALK       nan         NaN
                            10916           1     WALK       nan         NaN
                            11879           1     WALK       nan         NaN
                            12815           1     WALK       nan         NaN
...                                       ...      ...       ...         ...
375              2          33797           2      BUS       909        3033
                            37028           2      BUS       909        3036
                            41336           2      BUS       909        3040
                            28412           2      BUS       909        3011
                            43490           2      BUS       909        3045
                            35951           2      BUS       909        3036
                            30566           2      BUS       909        3017
                            32720           2      BUS       909        3033
                 3          3951            3     WALK       nan         NaN
376              1          3952            1     WALK       nan         NaN
                 3          3954            3     WALK       nan         NaN
377              1          3955            1     WALK       nan         NaN
                 2          1460            2      BUS      090B        4002
                            344             2      BUS      090B        4002
                 3          3957            3     WALK       nan         NaN
378              1          3958            1     WALK       nan         NaN
                 2          29490           2      BUS       909        3011
                            40260           2      BUS       909        3039
                            27336           2      BUS       909        3007
                            42414           2      BUS       909        3040
                            31644           2      BUS       909        3017
                            33798           2      BUS       909        3033
                            37029           2      BUS       909        3036
                            41337           2      BUS       909        3040
                            28413           2      BUS       909        3011
                            43491           2      BUS       909        3045
                            35952           2      BUS       909        3036
                            30567           2      BUS       909        3017
                            32721           2      BUS       909        3033
                 3          3960            3     WALK       nan         NaN

                                  bt_trip_num  otp_from_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0             NaN               NaN
                            103           NaN               NaN
                            209           NaN               NaN
                            522           NaN               NaN
                            718           NaN               NaN
                            920           NaN               NaN
                            921           NaN               NaN
                            922           NaN               NaN
                            1124          NaN               NaN
                            1953          NaN               NaN
                            2830          NaN               NaN
                            3961          NaN               NaN
                            4953          NaN               NaN
                            5590          NaN               NaN
                            6520          NaN               NaN
                            6854          NaN               NaN
                            6957          NaN               NaN
                            6958          NaN               NaN
                            6959          NaN               NaN
                            7161          NaN               NaN
                            7363          NaN               NaN
                            7364          NaN               NaN
                            7365          NaN               NaN
                            7500          NaN               NaN
                            7702          NaN               NaN
                            8821          NaN               NaN
                            9907          NaN               NaN
                            10916         NaN               NaN
                            11879         NaN               NaN
                            12815         NaN               NaN
...                                       ...               ...
375              2          33797           2          385748.0
                            37028           2          385748.0
                            41336           1          385748.0
                            28412           1          385748.0
                            43490           1          385748.0
                            35951           1          385748.0
                            30566           1          385748.0
                            32720           1          385748.0
                 3          3951          NaN               NaN
376              1          3952          NaN               NaN
                 3          3954          NaN               NaN
377              1          3955          NaN               NaN
                 2          1460            2          385748.0
                            344             1          385748.0
                 3          3957          NaN               NaN
378              1          3958          NaN               NaN
                 2          29490           2          385748.0
                            40260           2          385748.0
                            27336           1          385748.0
                            42414           2          385748.0
                            31644           2          385748.0
                            33798           2          385748.0
                            37029           2          385748.0
                            41337           1          385748.0
                            28413           1          385748.0
                            43491           1          385748.0
                            35952           1          385748.0
                            30567           1          385748.0
                            32721           1          385748.0
                 3          3960          NaN               NaN

                                       otp_start_time       bt_start_time  \
otp_itinerary_id otp_leg_id
1                1          0     2019-02-02 01:31:17                 NaT
                            103   2019-02-02 01:31:22                 NaT
                            209   2019-02-02 01:30:54                 NaT
                            522   2019-02-02 01:31:28                 NaT
                            718   2019-02-02 01:32:02                 NaT
                            920   2019-02-02 01:31:24                 NaT
                            921   2019-02-02 01:31:26                 NaT
                            922   2019-02-02 01:27:31                 NaT
                            1124  2019-02-02 05:28:42                 NaT
                            1953  2019-02-02 05:31:01                 NaT
                            2830  2019-02-02 05:37:57                 NaT
                            3961  2019-02-02 05:32:37                 NaT
                            4953  2019-02-02 01:32:40                 NaT
                            5590  2019-02-02 05:34:26                 NaT
                            6520  2019-02-02 01:32:23                 NaT
                            6854  2019-02-02 01:28:31                 NaT
                            6957  2019-02-02 01:27:44                 NaT
                            6958  2019-02-02 01:32:10                 NaT
                            6959  2019-02-02 01:32:05                 NaT
                            7161  2019-02-02 01:31:36                 NaT
                            7363  2019-02-02 01:31:49                 NaT
                            7364  2019-02-02 01:31:47                 NaT
                            7365  2019-02-02 01:31:56                 NaT
                            7500  2019-02-02 01:31:51                 NaT
                            7702  2019-02-02 05:36:47                 NaT
                            8821  2019-02-02 05:36:44                 NaT
                            9907  2019-02-02 05:30:48                 NaT
                            10916 2019-02-02 05:35:09                 NaT
                            11879 2019-02-02 05:34:39                 NaT
                            12815 2019-02-02 05:22:20                 NaT
...                                               ...                 ...
375              2          33797 2019-02-02 13:17:42 2019-02-02 07:21:05
                            37028 2019-02-02 13:17:42 2019-02-02 07:14:56
                            41336 2019-02-02 13:17:42 2019-02-02 06:54:44
                            28412 2019-02-02 13:17:42 2019-02-02 06:53:15
                            43490 2019-02-02 13:17:42 2019-02-02 06:45:02
                            35951 2019-02-02 13:17:42 2019-02-02 06:28:30
                            30566 2019-02-02 13:17:42 2019-02-02 06:11:21
                            32720 2019-02-02 13:17:42 2019-02-02 06:07:47
                 3          3951  2019-02-02 13:22:58                 NaT
376              1          3952  2019-02-02 13:17:34                 NaT
                 3          3954  2019-02-02 13:21:53                 NaT
377              1          3955  2019-02-02 13:24:52                 NaT
                 2          1460  2019-02-02 13:25:05 2019-02-02 07:51:43
                            344   2019-02-02 13:25:05 2019-02-02 06:54:47
                 3          3957  2019-02-02 13:30:53                 NaT
378              1          3958  2019-02-02 13:26:29                 NaT
                 2          29490 2019-02-02 13:26:42 2019-02-02 08:35:11
                            40260 2019-02-02 13:26:42 2019-02-02 08:30:31
                            27336 2019-02-02 13:26:42 2019-02-02 08:24:08
                            42414 2019-02-02 13:26:42 2019-02-02 07:35:59
                            31644 2019-02-02 13:26:42 2019-02-02 07:28:42
                            33798 2019-02-02 13:26:42 2019-02-02 07:21:05
                            37029 2019-02-02 13:26:42 2019-02-02 07:14:56
                            41337 2019-02-02 13:26:42 2019-02-02 06:54:44
                            28413 2019-02-02 13:26:42 2019-02-02 06:53:15
                            43491 2019-02-02 13:26:42 2019-02-02 06:45:02
                            35952 2019-02-02 13:26:42 2019-02-02 06:28:30
                            30567 2019-02-02 13:26:42 2019-02-02 06:11:21
                            32721 2019-02-02 13:26:42 2019-02-02 06:07:47
                 3          3960  2019-02-02 13:31:58                 NaT

                                  sched_obs_start_timediff  otp_to_stop_id  \
otp_itinerary_id otp_leg_id
1                1          0                          NaT             NaN
                            103                        NaT             NaN
                            209                        NaT             NaN
                            522                        NaT             NaN
                            718                        NaT             NaN
                            920                        NaT             NaN
                            921                        NaT             NaN
                            922                        NaT             NaN
                            1124                       NaT             NaN
                            1953                       NaT             NaN
                            2830                       NaT             NaN
                            3961                       NaT             NaN
                            4953                       NaT             NaN
                            5590                       NaT             NaN
                            6520                       NaT             NaN
                            6854                       NaT             NaN
                            6957                       NaT             NaN
                            6958                       NaT             NaN
                            6959                       NaT             NaN
                            7161                       NaT             NaN
                            7363                       NaT             NaN
                            7364                       NaT             NaN
                            7365                       NaT             NaN
                            7500                       NaT             NaN
                            7702                       NaT             NaN
                            8821                       NaT             NaN
                            9907                       NaT             NaN

In [188]:
#scheduled_itin_observed_od_full_clean[(scheduled_itin_observed_od_full_clean.otp_route == "944") & (scheduled_itin_observed_od_full_clean.otp_start_time == '2019-05-13 14:05:47') & (scheduled_itin_observed_od_full_clean.otp_itinerary_id == 230)][['otp_itinerary_id','otp_leg_id',"otp_start_time","otp_route","otp_from_stop_id",
                                                                           #"otp_from_stop_id", "bt_start_time", "sched_obs_start_timediff"]].sort_values(by=['sched_obs_start_timediff']).head()

In [65]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full_clean.drop_duplicates(subset=['otp_itinerary_id','otp_leg_id'])

In [66]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385703.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-02 01:31:17,NaT,NaT,NaN,2019-02-02 01:41:05,NaT,NaT,9.800000,NaN
1,385703.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-02 05:58:24,NaT,NaT,NaN,2019-02-02 05:58:28,NaT,NaT,0.066667,NaN
0,385703.0,2,2,BUS,090B,4002,1,385703.0,2019-02-02 05:58:29,2019-02-02 06:58:20,00:59:51,386613.0,2019-02-02 05:59:52,2019-02-02 07:00:01,01:00:09,1.383333,1.683333
3,385703.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-02 05:59:53,NaT,NaT,NaN,2019-02-02 06:05:12,NaT,NaT,5.316667,NaN
4,385703.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:16:24,NaT,NaT,NaN,2019-02-02 06:16:28,NaT,NaT,0.066667,NaN
1,385703.0,3,2,BUS,090B,4002,1,385703.0,2019-02-02 06:16:29,2019-02-02 06:58:20,00:41:51,386613.0,2019-02-02 06:17:52,2019-02-02 07:00:01,00:42:09,1.383333,1.683333
6,385703.0,3,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:17:53,NaT,NaT,NaN,2019-02-02 06:23:12,NaT,NaT,5.316667,NaN
7,385703.0,4,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:33:24,NaT,NaT,NaN,2019-02-02 06:33:28,NaT,NaT,0.066667,NaN
2,385703.0,4,2,BUS,090B,4002,1,385703.0,2019-02-02 06:33:29,2019-02-02 06:58:20,00:24:51,386613.0,2019-02-02 06:34:52,2019-02-02 07:00:01,00:25:09,1.383333,1.683333
9,385703.0,4,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:34:53,NaT,NaT,NaN,2019-02-02 06:40:12,NaT,NaT,5.316667,NaN
10,385703.0,5,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:49:24,NaT,NaT,NaN,2019-02-02 06:49:28,NaT,NaT,0.066667,NaN
3,385703.0,5,2,BUS,090B,4002,1,385703.0,2019-02-02 06:49:29,2019-02-02 06:58:20,00:08:51,386613.0,2019-02-02 06:50:52,2019-02-02 07:00:01,00:09:09,1.383333,1.683333
12,385703.0,5,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:50:53,NaT,NaT,NaN,2019-02-02 06:56:12,NaT,NaT,5.316667,NaN
13,385703.0,6,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:05:24,NaT,NaT,NaN,2019-02-02 07:05:28,NaT,NaT,0.066667,NaN
4,385703.0,6,2,BUS,090B,4002,1,385703.0,2019-02-02 07:05:29,2019-02-02 06:58:20,00:07:09,386613.0,2019-02-02 07:06:52,2019-02-02 07:00:01,00:06:51,1.383333,1.683333
15,385703.0,6,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:06:53,NaT,NaT,NaN,2019-02-02 07:12:12,NaT,NaT,5.316667,NaN
16,385703.0,7,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:21:24,NaT,NaT,NaN,2019-02-02 07:21:28,NaT,NaT,0.066667,NaN
5,385703.0,7,2,BUS,090B,4002,1,385703.0,2019-02-02 07:21:29,2019-02-02 06:58:20,00:23:09,386613.0,2019-02-02 07:22:52,2019-02-02 07:00:01,00:22:51,1.383333,1.683333
18,385703.0,7,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:22:53,NaT,NaT,NaN,2019-02-02 07:28:12,NaT,NaT,5.316667,NaN
19,385703.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:37:24,NaT,NaT,NaN,2019-02-02 07:37:28,NaT,NaT,0.066667,NaN
6,385703.0,8,2,BUS,090B,4002,1,385703.0,2019-02-02 07:37:29,2019-02-02 06:58:20,00:39:09,386613.0,2019-02-02 07:38:52,2019-02-02 07:00:01,00:38:51,1.383333,1.683333
21,385703.0,8,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:38:53,NaT,NaT,NaN,2019-02-02 07:44:12,NaT,NaT,5.316667,NaN
22,385703.0,9,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:53:24,NaT,NaT,NaN,2019-02-02 07:53:28,NaT,NaT,0.066667,NaN
1123,385703.0,9,2,BUS,090B,4002,2,385703.0,2019-02-02 07:53:29,2019-02-02 08:29:02,00:35:33,386613.0,2019-02-02 07:54:52,2019-02-02 08:30:16,00:35:24,1.383333,1.233333
24,385703.0,9,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:54:53,NaT,NaT,NaN,2019-02-02 08:00:12,NaT,NaT,5.316667,NaN
25,385703.0,10,1,WALK,nan,NaN,NaN,NaN,2019-02-02 08:09:24,NaT,NaT,NaN,2019-02-02 08:09:28,NaT,NaT,0.066667,NaN
1124,385703.0,10,2,BUS,090B,4002,2,385703.0,2019-02-02 08:09:29,2019-02-02 08:29:02,00:19:33,386613.0,2019-02-02 08:10:52,2019-02-02 08:30:16,00:19:24,1.383333,1.233333
27,385703.0,10,3,WALK,nan,NaN,NaN,NaN,2019-02-02 08:10:53,NaT,NaT,NaN,2019-02-02 08:16:12,NaT,NaT,5.316667,NaN
28,385703.0,11,1,WALK,nan,NaN,NaN,NaN,2019-02-02 08:25:24,NaT,NaT,NaN,2019-02-02 08:25:28,NaT,NaT,0.066667,NaN
1125,385703.0,11,2,BUS,090B,4002,2,385703.0,2019-02-02 08:25:29,2019-02-02 08:29:02,00:03:33,386613.0,2019-02-02 08:26:52,2019-02-02 08:30:16,00:03:24,1.383333,1.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13132,386107.0,99,5,WALK,nan,NaN,NaN,NaN,2019-02-02 07:46:34,NaT,NaT,NaN,2019-02-02 07:58:24,NaT,NaT,11.833333,NaN
13269,386107.0,144,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:40:23,NaT,NaT,NaN,2019-02-02 08:52:13,NaT,NaT,11.833333,NaN
13336,386107.0,166,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:09:09,NaT,NaT,NaN,2019-02-02 09:21:07,NaT,NaT,11.966667,NaN
13370,386107.0,177,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:24:01,NaT,NaT,NaN,2019-02-02 09:35:51,NaT,NaT,11.833333,NaN
13467,386107.0,209,4,WALK,nan,NaN,NaN,NaN,2019-02-02 10:00:09,NaT,NaT,NaN,2019-02-02 10:12:07,NaT,NaT,11.966667,NaN
17807,386327.0,136,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,NaT,NaT,NaN,2019-02-02 08:39:51,NaT,NaT,11.833333,NaN
18008,386327.0,202,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:52:01,NaT,NaT,NaN,2019-02-02 10:03:51,NaT,NaT,11.833333,NaN
18427,386333.0,70,4,WALK,nan,NaN,NaN,NaN,2019-02-02 07:19:01,NaT,NaT,NaN,2019-02-02 07:30:51,NaT,NaT,11.833333,NaN
18495,386333.0,91,5,WALK,nan,NaN,NaN,NaN,2019-02-02 07:40:23,NaT,NaT,NaN,2019-02-02 07:52:13,NaT,NaT,11.833333,NaN
18565,386333.0,113,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:05:01,NaT,NaT,NaN,2019-02-02 08:16:51,NaT,NaT,11.833333,NaN
53096,386333.0,134,4,BUS,245,1086,1,386399.0,2019-02-02 08:18:04,2019-02-02 07:32:57,00:45:07,386216.0,2019-02-02 08:28:00,2019-02-02 07:43:54,00:44:06,9.933333,10.950000
18630,386333.0,134,5,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,NaT,NaT,NaN,2019-02-02 08:39:51,NaT,NaT,11.833333,NaN
18697,386333.0,156,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:56:01,NaT,NaT,NaN,2019-02-02 09:07:51,NaT,NaT,11.833333,NaN
18834,386333.0,201,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:52:01,NaT,NaT,NaN,2019-02-02 10:03:51,NaT,NaT,11.833333,NaN
19368,386341.0,110,4,WALK,nan,NaN,NaN,NaN,2019-02-02 07:59:02,NaT,NaT,NaN,2019-02-02 08:10:52,NaT,NaT,11.833333,NaN
19444,386341.0,135,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,NaT,NaT,NaN,2019-02-02 08:39:51,NaT,NaT,11.833333,NaN
19535,386341.0,165,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:09:09,NaT,NaT,NaN,2019-02-02 09:21:07,NaT,NaT,11.966667,NaN
19667,386341.0,208,4,WALK,nan,NaN,NaN,NaN,2019-02-02 10:00:09,NaT,NaT,NaN,2019-02-02 10:12:07,NaT,NaT,11.966667,NaN
67943,386574.0,59,4,BUS,263A,1027,1,386010.0,2019-02-02 06:17:55,2019-02-02 06:12:56,00:04:59,386008.0,2019-02-02 06:19:17,2019-02-02 06:13:50,00:05:27,1.366667,0.900000
22168,386574.0,59,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:19:17,NaT,NaT,NaN,2019-02-02 06:42:34,NaT,NaT,23.283333,NaN
68543,386574.0,59,6,BUS,220,1071,2,386216.0,2019-02-02 06:59:01,2019-02-02 07:05:43,00:06:42,497803.0,2019-02-02 06:59:50,2019-02-02 07:06:38,00:06:48,0.816667,0.916667
22170,386574.0,59,7,WALK,nan,NaN,NaN,NaN,2019-02-02 06:59:51,NaT,NaT,NaN,2019-02-02 07:13:58,NaT,NaT,14.116667,NaN
22659,386574.0,219,4,WALK,nan,NaN,NaN,NaN,2019-02-02 10:00:09,NaT,NaT,NaN,2019-02-02 10:12:07,NaT,NaT,11.966667,NaN
23783,386583.0,32,4,WALK,nan,NaN,NaN,NaN,2019-02-02 06:33:01,NaT,NaT,NaN,2019-02-02 06:44:51,NaT,NaT,11.833333,NaN
25653,386654.0,57,4,WALK,nan,NaN,NaN,NaN,2019-02-02 06:59:02,NaT,NaT,NaN,2019-02-02 07:10:52,NaT,NaT,11.833333,NaN
25771,386654.0,97,4,WALK,nan,NaN,NaN,NaN,2019-02-02 07:40:23,NaT,NaT,NaN,2019-02-02 07:52:13,NaT,NaT,11.833333,NaN
50794,386664.0,14,4,BUS,022,1012,1,386637.0,2019-02-02 05:55:47,2019-02-02 06:30:47,00:35:00,491167.0,2019-02-02 06:06:37,2019-02-02 06:38:22,00:31:45,10.833333,7.583333
26394,386664.0,14,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:06:38,NaT,NaT,NaN,2019-02-02 06:18:41,NaT,NaT,12.050000,NaN
26444,386664.0,30,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:26:38,NaT,NaT,NaN,2019-02-02 06:38:41,NaT,NaT,12.050000,NaN
29583,386664.0,350,2,BUS,909,3011,2,385748.0,2019-02-02 12:41:42,2019-02-02 08:35:11,04:06:31,385710.0,2019-02-02 12:46:57,2019-02-02 08:39:52,04:07:05,5.250000,4.683333

In [191]:
#scheduled_itin_observed_od_full_clean[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

In [67]:
# Filtering out itineraries which lost bus legs along the processing


curr_matched_itins_num_legs = scheduled_itin_observed_od_full_clean.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [68]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [69]:
complete_matched_itins = original_suggested_itins_num_legs

In [70]:
complete_matched_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0          385703.0                 1         1
1          385703.0                 2         3
2          385703.0                 3         3
3          385703.0                 4         3
4          385703.0                 5         3

In [71]:
all_complete_vehicle_legs_options = scheduled_itin_observed_od_full_clean.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [72]:
all_complete_vehicle_legs_options.drop_duplicates(keep='first',subset=['otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time','sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385703.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-02 01:31:17,NaT,NaT,NaN,2019-02-02 01:41:05,NaT,NaT,9.800000,NaN
1,385703.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-02 05:58:24,NaT,NaT,NaN,2019-02-02 05:58:28,NaT,NaT,0.066667,NaN
2,385703.0,2,2,BUS,090B,4002,1,385703.0,2019-02-02 05:58:29,2019-02-02 06:58:20,00:59:51,386613.0,2019-02-02 05:59:52,2019-02-02 07:00:01,01:00:09,1.383333,1.683333
3,385703.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-02 05:59:53,NaT,NaT,NaN,2019-02-02 06:05:12,NaT,NaT,5.316667,NaN
4,385703.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:16:24,NaT,NaT,NaN,2019-02-02 06:16:28,NaT,NaT,0.066667,NaN
5,385703.0,3,2,BUS,090B,4002,1,385703.0,2019-02-02 06:16:29,2019-02-02 06:58:20,00:41:51,386613.0,2019-02-02 06:17:52,2019-02-02 07:00:01,00:42:09,1.383333,1.683333
6,385703.0,3,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:17:53,NaT,NaT,NaN,2019-02-02 06:23:12,NaT,NaT,5.316667,NaN
7,385703.0,4,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:33:24,NaT,NaT,NaN,2019-02-02 06:33:28,NaT,NaT,0.066667,NaN
8,385703.0,4,2,BUS,090B,4002,1,385703.0,2019-02-02 06:33:29,2019-02-02 06:58:20,00:24:51,386613.0,2019-02-02 06:34:52,2019-02-02 07:00:01,00:25:09,1.383333,1.683333
9,385703.0,4,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:34:53,NaT,NaT,NaN,2019-02-02 06:40:12,NaT,NaT,5.316667,NaN
10,385703.0,5,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:49:24,NaT,NaT,NaN,2019-02-02 06:49:28,NaT,NaT,0.066667,NaN
11,385703.0,5,2,BUS,090B,4002,1,385703.0,2019-02-02 06:49:29,2019-02-02 06:58:20,00:08:51,386613.0,2019-02-02 06:50:52,2019-02-02 07:00:01,00:09:09,1.383333,1.683333
12,385703.0,5,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:50:53,NaT,NaT,NaN,2019-02-02 06:56:12,NaT,NaT,5.316667,NaN
13,385703.0,6,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:05:24,NaT,NaT,NaN,2019-02-02 07:05:28,NaT,NaT,0.066667,NaN
14,385703.0,6,2,BUS,090B,4002,1,385703.0,2019-02-02 07:05:29,2019-02-02 06:58:20,00:07:09,386613.0,2019-02-02 07:06:52,2019-02-02 07:00:01,00:06:51,1.383333,1.683333
15,385703.0,6,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:06:53,NaT,NaT,NaN,2019-02-02 07:12:12,NaT,NaT,5.316667,NaN
16,385703.0,7,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:21:24,NaT,NaT,NaN,2019-02-02 07:21:28,NaT,NaT,0.066667,NaN
17,385703.0,7,2,BUS,090B,4002,1,385703.0,2019-02-02 07:21:29,2019-02-02 06:58:20,00:23:09,386613.0,2019-02-02 07:22:52,2019-02-02 07:00:01,00:22:51,1.383333,1.683333
18,385703.0,7,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:22:53,NaT,NaT,NaN,2019-02-02 07:28:12,NaT,NaT,5.316667,NaN
19,385703.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:37:24,NaT,NaT,NaN,2019-02-02 07:37:28,NaT,NaT,0.066667,NaN
20,385703.0,8,2,BUS,090B,4002,1,385703.0,2019-02-02 07:37:29,2019-02-02 06:58:20,00:39:09,386613.0,2019-02-02 07:38:52,2019-02-02 07:00:01,00:38:51,1.383333,1.683333
21,385703.0,8,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:38:53,NaT,NaT,NaN,2019-02-02 07:44:12,NaT,NaT,5.316667,NaN
22,385703.0,9,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:53:24,NaT,NaT,NaN,2019-02-02 07:53:28,NaT,NaT,0.066667,NaN
23,385703.0,9,2,BUS,090B,4002,2,385703.0,2019-02-02 07:53:29,2019-02-02 08:29:02,00:35:33,386613.0,2019-02-02 07:54:52,2019-02-02 08:30:16,00:35:24,1.383333,1.233333
24,385703.0,9,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:54:53,NaT,NaT,NaN,2019-02-02 08:00:12,NaT,NaT,5.316667,NaN
25,385703.0,10,1,WALK,nan,NaN,NaN,NaN,2019-02-02 08:09:24,NaT,NaT,NaN,2019-02-02 08:09:28,NaT,NaT,0.066667,NaN
26,385703.0,10,2,BUS,090B,4002,2,385703.0,2019-02-02 08:09:29,2019-02-02 08:29:02,00:19:33,386613.0,2019-02-02 08:10:52,2019-02-02 08:30:16,00:19:24,1.383333,1.233333
27,385703.0,10,3,WALK,nan,NaN,NaN,NaN,2019-02-02 08:10:53,NaT,NaT,NaN,2019-02-02 08:16:12,NaT,NaT,5.316667,NaN
28,385703.0,11,1,WALK,nan,NaN,NaN,NaN,2019-02-02 08:25:24,NaT,NaT,NaN,2019-02-02 08:25:28,NaT,NaT,0.066667,NaN
29,385703.0,11,2,BUS,090B,4002,2,385703.0,2019-02-02 08:25:29,2019-02-02 08:29:02,00:03:33,386613.0,2019-02-02 08:26:52,2019-02-02 08:30:16,00:03:24,1.383333,1.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,385748.0,377,1,WALK,nan,NaN,NaN,NaN,2019-02-02 13:24:52,NaT,NaT,NaN,2019-02-02 13:25:04,NaT,NaT,0.200000,NaN
1163,385748.0,377,2,BUS,090B,4002,2,385748.0,2019-02-02 13:25:05,2019-02-02 07:51:43,05:33:22,386613.0,2019-02-02 13:30:52,2019-02-02 08:30:16,05:00:36,5.783333,38.550000
1165,385748.0,378,1,WALK,nan,NaN,NaN,NaN,2019-02-02 13:26:29,NaT,NaT,NaN,2019-02-02 13:26:41,NaT,NaT,0.200000,NaN
1166,385748.0,378,2,BUS,909,3011,2,385748.0,2019-02-02 13:26:42,2019-02-02 08:35:11,04:51:31,385710.0,2019-02-02 13:31:57,2019-02-02 08:39:52,04:52:05,5.250000,4.683333
1167,385748.0,378,3,WALK,nan,NaN,NaN,NaN,2019-02-02 13:31:58,NaT,NaT,NaN,2019-02-02 13:38:06,NaT,NaT,6.133333,NaN
1168,385781.0,46,4,BUS,022,1012,1,385980.0,2019-02-02 06:43:21,2019-02-02 06:36:21,00:07:00,491167.0,2019-02-02 06:46:37,2019-02-02 06:38:22,00:08:15,3.266667,2.016667
1169,385781.0,46,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:46:38,NaT,NaT,NaN,2019-02-02 06:58:41,NaT,NaT,12.050000,NaN
1170,385781.0,56,4,WALK,nan,NaN,NaN,NaN,2019-02-02 06:59:02,NaT,NaT,NaN,2019-02-02 07:10:52,NaT,NaT,11.833333,NaN
1171,385781.0,85,4,BUS,022,1012,2,385980.0,2019-02-02 07:23:21,2019-02-02 07:38:37,00:15:16,491167.0,2019-02-02 07:26:37,2019-02-02 07:40:19,00:13:42,3.266667,1.700000
1172,385781.0,85,5,WALK,nan,NaN,NaN,NaN,2019-02-02 07:26:38,NaT,NaT,NaN,2019-02-02 07:38:41,NaT,NaT,12.050000,NaN
1174,385781.0,120,4,BUS,022,1012,2,385980.0,2019-02-02 08:03:21,2019-02-02 07:38:37,00:24:44,491167.0,2019-02-02 08:06:37,2019-02-02 07:40:19,00:26:18,3.266667,1.700000
1176,385781.0,155,4,BUS,022,1012,3,385980.0,2019-02-02 08:43:21,2019-02-02 08:36:52,00:06:29,491167.0,2019-02-02 08:46:37,2019-02-02 08:38:54,00:07:43,3.266667,2.033333
1178,385781.0,188,4,BUS,022,1012,3,385980.0,2019-02-02 09:23:21,2019-02-02 08:36:52,00:46:29,491167.0,2019-02-02 09:26:37,2019-02-02 08:38:54,00:47:43,3.266667,2.033333
1180,385781.0,224,2,BUS,077,2044,1,386105.0,2019-02-02 10:02:25,2019-02-02 08:02:48,01:59:37,386140.0,2019-02-02 10:08:54,2019-02-02 08:07:55,02:00:59,6.483333,5.116667
1181,385781.0,293,2,BUS,111,3024,3,386105.0,2019-02-02 11:15:34,2019-02-02 08:49:29,02:26:05,491253.0,2019-02-02 11:22:00,2019-02-02 08:56:27,02:25:33,6.433333,6.966667
1182,385781.0,296,2,BUS,077,2044,1,386105.0,2019-02-02 11:32:25,2019-02-02 08:02:48,03:29:37,386140.0,2019-02-02 11:38:54,2019-02-02 08:07:55,03:30:59,6.483333,5.116667
1183,385781.0,302,2,BUS,444,3051,2,497845.0,2019-02-02 11:30:25,2019-02-02 08:12:54,03:17:31,385723.0,2019-02-02 11:39:30,2019-02-02 08:21:04,03:18:26,9.083333,8.166667
1184,385781.0,302,4,BUS,022,1012,3,385980.0,2019-02-02 11:43:21,2019-02-02 08:36:52,03:06:29,491167.0,2019-02-02 11:46:37,2019-02-02 08:38:54,03:07:43,3.266667,2.033333
1186,385781.0,311,2,BUS,090B,4002,2,386105.0,2019-02-02 12:02:20,2019-02-02 08:21:36,03:40:44,386613.0,2019-02-02 12:10:52,2019-02-02 08:30:16,03:40:36,8.533333,8.666667
1187,385781.0,321,2,BUS,092,2068,1,386105.0,2019-02-02 12:19:08,2019-02-02 08:09:14,04:09:54,386140.0,2019-02-02 12:25:37,2019-02-02 08:14:58,04:10:39,6.483333,5.733333
1209,386107.0,66,4,BUS,101,1038,1,386557.0,2019-02-02 06:50:21,2019-02-02 06:55:58,00:05:37,958847.0,2019-02-02 07:01:29,2019-02-02 07:09:23,00:07:54,11.133333,13.416667
1210,386107.0,66,5,WALK,nan,NaN,NaN,NaN,2019-02-02 07:01:30,NaT,NaT,NaN,2019-02-02 07:22:31,NaT,NaT,21.016667,NaN
1224,386327.0,136,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,NaT,NaT,NaN,2019-02-02 08:39:51,NaT,NaT,11.833333,NaN
1225,386327.0,202,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:52:01,NaT,NaT,NaN,2019-02-02 10:03:51,NaT,NaT,11.833333,NaN
1228,386333.0,113,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:05:01,NaT,NaT,NaN,2019-02-02 08:16:51,NaT,NaT,11.833333,NaN
1229,386333.0,134,4,BUS,245,1086,1,386399.0,2019-02-02 08:18:04,2019-02-02 07:32:57,00:45:07,386216.0,2019-02-02 08:28:00,2019-02-02 07:43:54,00:44:06,9.933333,10.950000
1231,386333.0,156,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:56:01,NaT,NaT,NaN,2019-02-02 09:07:51,NaT,NaT,11.833333,NaN
1245,386664.0,14,4,BUS,022,1012,1,386637.0,2019-02-02 05:55:47,2019-02-02 06:30:47,00:35:00,491167.0,2019-02-02 06:06:37,2019-02-02 06:38:22,00:31:45,10.833333,7.583333
1246,386664.0,14,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:06:38,NaT,NaT,NaN,2019-02-02 06:18:41,NaT,NaT,12.050000,NaN
1247,386664.0,30,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:26:38,NaT,NaT,NaN,2019-02-02 06:38:41,NaT,NaT,12.050000,NaN

In [73]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [74]:
legs_groups = all_complete_vehicle_legs_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [75]:
legs_groups.obj.columns.values

array(['otp_user_trip_id', 'otp_itinerary_id', 'otp_leg_id', 'otp_mode',
       'otp_route', 'bt_bus_code', 'bt_trip_num', 'otp_from_stop_id',
       'otp_start_time', 'bt_start_time', 'sched_obs_start_timediff',
       'otp_to_stop_id', 'otp_end_time', 'bt_end_time',
       'sched_obs_end_timediff', 'otp_duration_mins', 'bt_duration_mins'],
      dtype=object)

In [76]:
# Choose best actual leg matches (based on feasibility and start time)
import time

start = time.time()
#chosen_legs = choose_leg_matches(sample_itinerary_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))
feasible_legs = choose_leg_matches(legs_groups)
end = time.time()

print "Execution time in s:", (end-start)
feasible_legs

Execution time in s: 12.8390760422

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385703.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-02 01:31:17,NaT,NaT,NaN,2019-02-02 01:41:05,2019-02-02 00:00:00,NaT,9.800000,NaN
0,385703.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-02 05:58:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 05:58:28,2019-02-02 06:58:20,NaT,0.066667,NaN
2,385703.0,2,2,BUS,090B,4002,1,385703.0,2019-02-02 05:58:29,2019-02-02 06:58:20,0 days 00:59:51,386613.0,2019-02-02 05:59:52,2019-02-02 07:00:01,0 days 01:00:09,1.383333,1.683333
0,385703.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-02 05:59:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 06:05:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:16:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 06:16:28,2019-02-02 06:58:20,NaT,0.066667,NaN
5,385703.0,3,2,BUS,090B,4002,1,385703.0,2019-02-02 06:16:29,2019-02-02 06:58:20,0 days 00:41:51,386613.0,2019-02-02 06:17:52,2019-02-02 07:00:01,0 days 00:42:09,1.383333,1.683333
0,385703.0,3,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:17:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 06:23:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,4,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:33:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 06:33:28,2019-02-02 06:58:20,NaT,0.066667,NaN
8,385703.0,4,2,BUS,090B,4002,1,385703.0,2019-02-02 06:33:29,2019-02-02 06:58:20,0 days 00:24:51,386613.0,2019-02-02 06:34:52,2019-02-02 07:00:01,0 days 00:25:09,1.383333,1.683333
0,385703.0,4,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:34:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 06:40:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,5,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:49:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 06:49:28,2019-02-02 06:58:20,NaT,0.066667,NaN
11,385703.0,5,2,BUS,090B,4002,1,385703.0,2019-02-02 06:49:29,2019-02-02 06:58:20,0 days 00:08:51,386613.0,2019-02-02 06:50:52,2019-02-02 07:00:01,0 days 00:09:09,1.383333,1.683333
0,385703.0,5,3,WALK,nan,NaN,NaN,NaN,2019-02-02 06:50:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 06:56:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,6,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:05:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 07:05:28,2019-02-02 06:58:20,NaT,0.066667,NaN
14,385703.0,6,2,BUS,090B,4002,1,385703.0,2019-02-02 07:05:29,2019-02-02 06:58:20,0 days 00:07:09,386613.0,2019-02-02 07:06:52,2019-02-02 07:00:01,0 days 00:06:51,1.383333,1.683333
0,385703.0,6,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:06:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 07:12:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,7,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:21:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 07:21:28,2019-02-02 06:58:20,NaT,0.066667,NaN
17,385703.0,7,2,BUS,090B,4002,1,385703.0,2019-02-02 07:21:29,2019-02-02 06:58:20,0 days 00:23:09,386613.0,2019-02-02 07:22:52,2019-02-02 07:00:01,0 days 00:22:51,1.383333,1.683333
0,385703.0,7,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:22:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 07:28:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:37:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 07:37:28,2019-02-02 06:58:20,NaT,0.066667,NaN
20,385703.0,8,2,BUS,090B,4002,1,385703.0,2019-02-02 07:37:29,2019-02-02 06:58:20,0 days 00:39:09,386613.0,2019-02-02 07:38:52,2019-02-02 07:00:01,0 days 00:38:51,1.383333,1.683333
0,385703.0,8,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:38:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 07:44:12,2019-02-02 07:05:01,NaT,5.316667,NaN
0,385703.0,9,1,WALK,nan,NaN,NaN,NaN,2019-02-02 07:53:24,2019-02-02 08:29:02,NaT,NaN,2019-02-02 07:53:28,2019-02-02 08:29:02,NaT,0.066667,NaN
23,385703.0,9,2,BUS,090B,4002,2,385703.0,2019-02-02 07:53:29,2019-02-02 08:29:02,0 days 00:35:33,386613.0,2019-02-02 07:54:52,2019-02-02 08:30:16,0 days 00:35:24,1.383333,1.233333
0,385703.0,9,3,WALK,nan,NaN,NaN,NaN,2019-02-02 07:54:53,2019-02-02 08:30:16,NaT,NaN,2019-02-02 08:00:12,2019-02-02 08:35:16,NaT,5.316667,NaN
0,385703.0,10,1,WALK,nan,NaN,NaN,NaN,2019-02-02 08:09:24,2019-02-02 08:29:02,NaT,NaN,2019-02-02 08:09:28,2019-02-02 08:29:02,NaT,0.066667,NaN
26,385703.0,10,2,BUS,090B,4002,2,385703.0,2019-02-02 08:09:29,2019-02-02 08:29:02,0 days 00:19:33,386613.0,2019-02-02 08:10:52,2019-02-02 08:30:16,0 days 00:19:24,1.383333,1.233333
0,385703.0,10,3,WALK,nan,NaN,NaN,NaN,2019-02-02 08:10:53,2019-02-02 08:30:16,NaT,NaN,2019-02-02 08:16:12,2019-02-02 08:35:16,NaT,5.316667,NaN
0,385703.0,11,1,WALK,nan,NaN,NaN,NaN,2019-02-02 08:25:24,2019-02-02 08:29:02,NaT,NaN,2019-02-02 08:25:28,2019-02-02 08:29:02,NaT,0.066667,NaN
29,385703.0,11,2,BUS,090B,4002,2,385703.0,2019-02-02 08:25:29,2019-02-02 08:29:02,0 days 00:03:33,386613.0,2019-02-02 08:26:52,2019-02-02 08:30:16,0 days 00:03:24,1.383333,1.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,386107.0,99,5,WALK,nan,NaN,NaN,NaN,2019-02-02 07:46:34,2019-02-02 08:05:12,NaT,NaN,2019-02-02 07:58:24,2019-02-02 08:17:12,NaT,11.833333,NaN
0,386107.0,144,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:40:23,NaT,NaT,NaN,2019-02-02 08:52:13,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386107.0,166,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:09:09,NaT,NaT,NaN,2019-02-02 09:21:07,2019-02-02 00:00:00,NaT,11.966667,NaN
0,386107.0,177,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:24:01,NaT,NaT,NaN,2019-02-02 09:35:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386107.0,209,4,WALK,nan,NaN,NaN,NaN,2019-02-02 10:00:09,NaT,NaT,NaN,2019-02-02 10:12:07,2019-02-02 00:00:00,NaT,11.966667,NaN
0,386327.0,136,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,NaT,NaT,NaN,2019-02-02 08:39:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386327.0,202,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:52:01,NaT,NaT,NaN,2019-02-02 10:03:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386333.0,70,4,WALK,nan,NaN,NaN,NaN,2019-02-02 07:19:01,NaT,NaT,NaN,2019-02-02 07:30:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386333.0,91,5,WALK,nan,NaN,NaN,NaN,2019-02-02 07:40:23,NaT,NaT,NaN,2019-02-02 07:52:13,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386333.0,113,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:05:01,NaT,NaT,NaN,2019-02-02 08:16:51,2019-02-02 00:00:00,NaT,11.833333,NaN
1229,386333.0,134,4,BUS,245,1086,1,386399.0,2019-02-02 08:18:04,2019-02-02 07:32:57,0 days 00:45:07,386216.0,2019-02-02 08:28:00,2019-02-02 07:43:54,0 days 00:44:06,9.933333,10.950000
0,386333.0,134,5,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,2019-02-02 07:43:54,NaT,NaN,2019-02-02 08:39:51,2019-02-02 07:55:54,NaT,11.833333,NaN
0,386333.0,156,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:56:01,NaT,NaT,NaN,2019-02-02 09:07:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386333.0,201,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:52:01,NaT,NaT,NaN,2019-02-02 10:03:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386341.0,110,4,WALK,nan,NaN,NaN,NaN,2019-02-02 07:59:02,NaT,NaT,NaN,2019-02-02 08:10:52,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386341.0,135,4,WALK,nan,NaN,NaN,NaN,2019-02-02 08:28:01,NaT,NaT,NaN,2019-02-02 08:39:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386341.0,165,4,WALK,nan,NaN,NaN,NaN,2019-02-02 09:09:09,NaT,NaT,NaN,2019-02-02 09:21:07,2019-02-02 00:00:00,NaT,11.966667,NaN
0,386341.0,208,4,WALK,nan,NaN,NaN,NaN,2019-02-02 10:00:09,NaT,NaT,NaN,2019-02-02 10:12:07,2019-02-02 00:00:00,NaT,11.966667,NaN
1237,386574.0,59,4,BUS,263A,1027,1,386010.0,2019-02-02 06:17:55,2019-02-02 06:12:56,0 days 00:04:59,386008.0,2019-02-02 06:19:17,2019-02-02 06:13:50,0 days 00:05:27,1.366667,0.900000
0,386574.0,59,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:19:17,2019-02-02 06:13:50,NaT,NaN,2019-02-02 06:42:34,2019-02-02 06:36:50,NaT,23.283333,NaN
1239,386574.0,59,6,BUS,220,1071,2,386216.0,2019-02-02 06:59:01,2019-02-02 07:05:43,0 days 00:06:42,497803.0,2019-02-02 06:59:50,2019-02-02 07:06:38,0 days 00:06:48,0.816667,0.916667
0,386574.0,59,7,WALK,nan,NaN,NaN,NaN,2019-02-02 06:59:51,2019-02-02 07:06:38,NaT,NaN,2019-02-02 07:13:58,2019-02-02 07:20:38,NaT,14.116667,NaN
0,386574.0,219,4,WALK,nan,NaN,NaN,NaN,2019-02-02 10:00:09,NaT,NaT,NaN,2019-02-02 10:12:07,2019-02-02 00:00:00,NaT,11.966667,NaN
0,386583.0,32,4,WALK,nan,NaN,NaN,NaN,2019-02-02 06:33:01,NaT,NaT,NaN,2019-02-02 06:44:51,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386654.0,57,4,WALK,nan,NaN,NaN,NaN,2019-02-02 06:59:02,NaT,NaT,NaN,2019-02-02 07:10:52,2019-02-02 00:00:00,NaT,11.833333,NaN
0,386654.0,97,4,WALK,nan,NaN,NaN,NaN,2019-02-02 07:40:23,NaT,NaT,NaN,2019-02-02 07:52:13,2019-02-02 00:00:00,NaT,11.833333,NaN
1245,386664.0,14,4,BUS,022,1012,1,386637.0,2019-02-02 05:55:47,2019-02-02 06:30:47,0 days 00:35:00,491167.0,2019-02-02 06:06:37,2019-02-02 06:38:22,0 days 00:31:45,10.833333,7.583333
0,386664.0,14,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:06:38,2019-02-02 06:38:22,NaT,NaN,2019-02-02 06:18:41,2019-02-02 06:50:22,NaT,12.050000,NaN
0,386664.0,30,5,WALK,nan,NaN,NaN,NaN,2019-02-02 06:26:38,2019-02-02 08:23:11,NaT,NaN,2019-02-02 06:38:41,2019-02-02 08:35:11,NaT,12.050000,NaN
1248,386664.0,350,2,BUS,909,3011,2,385748.0,2019-02-02 12:41:42,2019-02-02 08:35:11,0 days 04:06:31,385710.0,2019-02-02 12:46:57,2019-02-02 08:39:52,0 days 04:07:05,5.250000,4.683333

In [77]:
if len(feasible_legs) == 0:
    print "No matches left after matching and selecting feasible bus legs."
    print "Skipping next steps..."
    exit(0)

# Filtering out itineraries which lost bus legs after feasible legs choice processing
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})
feasible_itins_num_legs.head(20)

    otp_user_trip_id  otp_itinerary_id  num_legs
0           385703.0                 1         1
1           385703.0                 2         3
2           385703.0                 3         3
3           385703.0                 4         3
4           385703.0                 5         3
5           385703.0                 6         3
6           385703.0                 7         3
7           385703.0                 8         3
8           385703.0                 9         3
9           385703.0                10         3
10          385703.0                11         3
11          385703.0                12         3
12          385703.0                13         3
13          385703.0                14         3
14          385703.0                15         3
15          385703.0                16         3
16          385703.0                17         3
17          385703.0                18         3
18          385703.0                19         3
19          385703.0                20         3

In [78]:
feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

feasible_complete_itins.head(20)

    otp_user_trip_id  otp_itinerary_id  num_legs
0           385703.0                 1         1
1           385703.0                 2         3
2           385703.0                 3         3
3           385703.0                 4         3
4           385703.0                 5         3
5           385703.0                 6         3
6           385703.0                 7         3
7           385703.0                 8         3
8           385703.0                 9         3
9           385703.0                10         3
10          385703.0                11         3
11          385703.0                12         3
12          385703.0                13         3
13          385703.0                14         3
14          385703.0                15         3
15          385703.0                16         3
16          385703.0                17         3
17          385703.0                18         3
18          385703.0                19         3
19          385703.0                20         3

In [79]:
feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

feasible_complete_itins_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins
0,385703.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-02 01:31:17,NaT,NaT,NaN,2019-02-02 01:41:05,2019-02-02 00:00:00,NaT,9.800000,NaN
1,385703.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-02 05:58:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 05:58:28,2019-02-02 06:58:20,NaT,0.066667,NaN
2,385703.0,2,2,BUS,090B,4002,1,385703.0,2019-02-02 05:58:29,2019-02-02 06:58:20,0 days 00:59:51,386613.0,2019-02-02 05:59:52,2019-02-02 07:00:01,0 days 01:00:09,1.383333,1.683333
3,385703.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-02 05:59:53,2019-02-02 07:00:01,NaT,NaN,2019-02-02 06:05:12,2019-02-02 07:05:01,NaT,5.316667,NaN
4,385703.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:16:24,2019-02-02 06:58:20,NaT,NaN,2019-02-02 06:16:28,2019-02-02 06:58:20,NaT,0.066667,NaN

In [80]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [81]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

itineraries_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,385703.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-02 01:31:17,NaT,...,NaN,2019-02-02 01:41:05,2019-02-02 00:00:00,NaT,9.800000,NaN,NaN,NaN,NaN,NaN
1,385703.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-02 05:58:24,2019-02-02 06:58:20,...,NaN,2019-02-02 05:58:28,2019-02-02 06:58:20,NaT,0.066667,NaN,NaN,NaN,NaN,NaN
2,385703.0,2,2,BUS,090B,4002,1,385703.0,2019-02-02 05:58:29,2019-02-02 06:58:20,...,386613.0,2019-02-02 05:59:52,2019-02-02 07:00:01,0 days 01:00:09,1.383333,1.683333,-7.247367,-35.913655,-7.251194,-35.915513
3,385703.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-02 05:59:53,2019-02-02 07:00:01,...,NaN,2019-02-02 06:05:12,2019-02-02 07:05:01,NaT,5.316667,NaN,NaN,NaN,NaN,NaN
4,385703.0,3,1,WALK,nan,NaN,NaN,NaN,2019-02-02 06:16:24,2019-02-02 06:58:20,...,NaN,2019-02-02 06:16:28,2019-02-02 06:58:20,NaT,0.066667,NaN,NaN,NaN,NaN,NaN

In [82]:
feasible_complete_itins_legs.head()
output = feasible_complete_itins_legs.to_csv("data/output/output_2019_02_02.csv",index=False)
#feasible_complete_itins_legs[["otp_itinerary_id","otp_leg_id","otp_mode","otp_route","bt_start_time","bt_end_time"]]

In [208]:
teste = feasible_complete_itins_legs.drop_duplicates(keep='first',subset=['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])
#feasible_complete_itins_legs_drop_duplicates = choose_leg_matches_drop_duplicates(feasible_complete_itins_legs)
#output = teste.to_csv("data/output/output.csv",index=False)
teste

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,385702.0,1,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:38:24,2019-02-10 14:44:46,NaT,NaN,2019-02-10 19:56:37,2019-02-10 15:02:46,NaT,18.216667
1,385702.0,1,2,BUS,092,2042,6,386176.0,2019-02-10 19:56:38,2019-02-10 15:02:46,0 days 04:53:52,386142.0,2019-02-10 20:20:10,2019-02-10 15:30:07,0 days 04:50:03,23.533333
2,385702.0,1,3,BUS,555,2033,11,386142.0,2019-02-10 20:29:31,2019-02-10 22:23:34,0 days 01:54:03,385702.0,2019-02-10 20:34:42,2019-02-10 22:28:44,0 days 01:54:02,5.183333
3,385702.0,1,4,WALK,nan,NaN,NaN,NaN,2019-02-10 20:34:43,2019-02-10 22:28:44,NaT,NaN,2019-02-10 20:34:46,2019-02-10 22:28:44,NaT,0.050000
4,385702.0,2,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:30:00,2019-02-10 16:50:55,NaT,NaN,2019-02-10 19:55:32,2019-02-10 17:16:55,NaT,25.533333
5,385702.0,2,2,BUS,245,1027,6,386397.0,2019-02-10 19:55:33,2019-02-10 17:16:55,0 days 02:38:38,385820.0,2019-02-10 20:30:39,2019-02-10 17:47:24,0 days 02:43:15,35.100000
6,385702.0,2,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:30:40,2019-02-10 17:47:24,NaT,NaN,2019-02-10 20:43:45,2019-02-10 18:00:24,NaT,13.083333
7,385702.0,8,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:08:24,2019-02-10 16:40:35,NaT,NaN,2019-02-10 20:26:37,2019-02-10 16:58:35,NaT,18.216667
8,385702.0,8,2,BUS,092,2053,9,386176.0,2019-02-10 20:26:38,2019-02-10 16:58:35,0 days 03:28:03,386160.0,2019-02-10 20:56:06,2019-02-10 17:07:54,0 days 03:48:12,29.466667
9,385702.0,8,3,WALK,nan,NaN,NaN,NaN,2019-02-10 20:56:07,2019-02-10 17:07:54,NaT,NaN,2019-02-10 21:05:49,2019-02-10 17:17:54,NaT,9.700000
10,385702.0,11,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:03:30,2019-02-10 16:50:55,NaT,NaN,2019-02-10 20:29:02,2019-02-10 17:16:55,NaT,25.533333
11,385702.0,11,2,BUS,245,1027,6,386397.0,2019-02-10 20:29:03,2019-02-10 17:16:55,0 days 03:12:08,491287.0,2019-02-10 21:08:44,2019-02-10 17:49:20,0 days 03:19:24,39.683333
12,385702.0,11,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:08:44,2019-02-10 17:49:20,NaT,NaN,2019-02-10 21:09:48,2019-02-10 17:50:20,NaT,1.066667
13,385702.0,11,4,BUS,505,2037,11,386267.0,2019-02-10 21:11:43,2019-02-10 21:13:32,0 days 00:01:49,497863.0,2019-02-10 21:18:03,2019-02-10 21:21:57,0 days 00:03:54,6.333333
14,385702.0,11,5,WALK,nan,NaN,NaN,NaN,2019-02-10 21:18:04,2019-02-10 21:21:57,NaT,NaN,2019-02-10 21:18:13,2019-02-10 21:21:57,NaT,0.150000
15,385702.0,13,1,WALK,nan,NaN,NaN,NaN,2019-02-10 19:57:48,2019-02-10 18:24:20,NaT,NaN,2019-02-10 20:21:28,2019-02-10 18:48:20,NaT,23.666667
16,385702.0,13,2,BUS,245,1062,5,386425.0,2019-02-10 20:21:29,2019-02-10 18:48:20,0 days 01:33:09,386228.0,2019-02-10 20:40:14,2019-02-10 19:42:37,0 days 00:57:37,18.750000
17,385702.0,13,3,BUS,303,1063,11,386228.0,2019-02-10 20:56:14,2019-02-10 21:03:10,0 days 00:06:56,385709.0,2019-02-10 21:12:00,2019-02-10 21:20:23,0 days 00:08:23,15.766667
18,385702.0,13,4,WALK,nan,NaN,NaN,NaN,2019-02-10 21:12:01,2019-02-10 21:20:23,NaT,NaN,2019-02-10 21:29:29,2019-02-10 21:37:23,NaT,17.466667
19,385702.0,15,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:30:00,2019-02-10 16:50:55,NaT,NaN,2019-02-10 20:55:32,2019-02-10 17:16:55,NaT,25.533333
20,385702.0,15,2,BUS,245,1027,6,386397.0,2019-02-10 20:55:33,2019-02-10 17:16:55,0 days 03:38:38,385820.0,2019-02-10 21:30:39,2019-02-10 17:47:24,0 days 03:43:15,35.100000
21,385702.0,15,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:30:40,2019-02-10 17:47:24,NaT,NaN,2019-02-10 21:43:45,2019-02-10 18:00:24,NaT,13.083333
22,385702.0,16,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:35:55,2019-02-10 19:41:22,NaT,NaN,2019-02-10 20:51:31,2019-02-10 19:57:22,NaT,15.600000
23,385702.0,16,2,BUS,922,2024,7,385945.0,2019-02-10 20:51:32,2019-02-10 19:57:22,0 days 00:54:10,386333.0,2019-02-10 21:09:35,2019-02-10 19:57:33,0 days 01:12:02,18.050000
24,385702.0,16,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:09:35,2019-02-10 19:57:33,NaT,NaN,2019-02-10 21:10:26,2019-02-10 19:58:33,NaT,0.850000
25,385702.0,16,4,BUS,333,1042,13,703787.0,2019-02-10 21:28:36,2019-02-10 20:19:13,0 days 01:09:23,491440.0,2019-02-10 21:36:36,2019-02-10 20:28:25,0 days 01:08:11,8.000000
26,385702.0,16,5,WALK,nan,NaN,NaN,NaN,2019-02-10 21:36:37,2019-02-10 20:28:25,NaT,NaN,2019-02-10 21:45:34,2019-02-10 20:37:25,NaT,8.950000
27,385702.0,18,1,WALK,nan,NaN,NaN,NaN,2019-02-10 20:53:24,2019-02-10 16:40:35,NaT,NaN,2019-02-10 21:11:37,2019-02-10 16:58:35,NaT,18.216667
28,385702.0,18,2,BUS,092,2053,9,386176.0,2019-02-10 21:11:38,2019-02-10 16:58:35,0 days 04:13:03,386160.0,2019-02-10 21:41:06,2019-02-10 17:07:54,0 days 04:33:12,29.466667
29,385702.0,18,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:41:07,2019-02-10 17:07:54,NaT,NaN,2019-02-10 21:50:49,2019-02-10 17:17:54,NaT,9.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,385965.0,164,2,BUS,220,1076,13,386172.0,2019-02-10 21:29:57,2019-02-10 20:03:32,0 days 01:26:25,386254.0,2019-02-10 21:49:46,2019-02-10 20:39:33,0 days 01:10:13,19.816667
357,385965.0,164,3,WALK,nan,NaN,NaN,NaN,2019-02-10 21:49:47,2019-02-10 20:39:33,NaT,NaN,2019-02-10 21:53:05,2019-02-10 20:42:33,NaT,3.300000
359,385965.0,165,2,BUS,092,2042,6,386176.0,2019-02-10 21:41:38,2019-02-10 15:02:46,0 days 06:38:52,386333.0,2019-02-10 22:00:28,2019-02-10 16:01:56,0 days 05:58:32,18.833333
360,385965.0,165,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:00:29,2019-02-10 16:01:56,NaT,NaN,2019-02-10 22:04:48,2019-02-10 16:05:56,NaT,4.316667
363,385965.0,166,3,BUS,077,3028,12,386221.0,2019-02-10 21:51:43,2019-02-10 20:13:49,0 days 01:37:54,386333.0,2019-02-10 22:01:15,2019-02-10 20:29:20,0 days 01:31:55,9.533333
364,385965.0,166,4,WALK,nan,NaN,NaN,NaN,2019-02-10 22:01:16,2019-02-10 20:29:20,NaT,NaN,2019-02-10 22:05:35,2019-02-10 20:33:20,NaT,4.316667
367,385965.0,168,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:19:36,2019-02-10 19:57:33,NaT,NaN,2019-02-10 22:23:55,2019-02-10 20:01:33,NaT,4.316667
369,385965.0,169,2,BUS,092,2042,6,386176.0,2019-02-10 22:11:38,2019-02-10 15:02:46,0 days 07:08:52,386333.0,2019-02-10 22:30:28,2019-02-10 16:01:56,0 days 06:28:32,18.833333
370,385965.0,169,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:30:29,2019-02-10 16:01:56,NaT,NaN,2019-02-10 22:34:48,2019-02-10 16:05:56,NaT,4.316667
373,385965.0,170,3,BUS,077,3028,12,386221.0,2019-02-10 22:31:43,2019-02-10 20:13:49,0 days 02:17:54,386333.0,2019-02-10 22:41:15,2019-02-10 20:29:20,0 days 02:11:55,9.533333
374,385965.0,170,4,WALK,nan,NaN,NaN,NaN,2019-02-10 22:41:16,2019-02-10 20:29:20,NaT,NaN,2019-02-10 22:45:35,2019-02-10 20:33:20,NaT,4.316667
376,385965.0,171,2,BUS,092,2042,6,386176.0,2019-02-10 22:46:38,2019-02-10 15:02:46,0 days 07:43:52,386333.0,2019-02-10 23:05:28,2019-02-10 16:01:56,0 days 07:03:32,18.833333
377,385965.0,171,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:05:29,2019-02-10 16:01:56,NaT,NaN,2019-02-10 23:09:48,2019-02-10 16:05:56,NaT,4.316667
379,385965.0,173,2,BUS,922,2024,7,385945.0,2019-02-10 23:06:32,2019-02-10 19:57:22,0 days 03:09:10,386333.0,2019-02-10 23:24:35,2019-02-10 19:57:33,0 days 03:27:02,18.050000
380,385965.0,173,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:24:36,2019-02-10 19:57:33,NaT,NaN,2019-02-10 23:28:55,2019-02-10 20:01:33,NaT,4.316667
382,385965.0,174,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,0 days 05:58:38,491275.0,2019-02-10 23:46:22,2019-02-10 17:43:38,0 days 06:02:44,30.816667
383,385965.0,174,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:46:23,2019-02-10 17:43:38,NaT,NaN,2019-02-11 00:06:20,2019-02-10 18:03:38,NaT,19.950000
385,386098.0,175,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,0 days 05:58:38,491273.0,2019-02-10 23:44:11,2019-02-10 17:42:04,0 days 06:02:07,28.633333
386,386098.0,175,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:44:12,2019-02-10 17:42:04,NaT,NaN,2019-02-11 00:07:14,2019-02-10 18:05:04,NaT,23.033333
389,386168.0,176,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:05:11,2019-02-10 15:30:07,NaT,NaN,2019-02-10 22:09:17,2019-02-10 15:34:07,NaT,4.100000
392,386168.0,178,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:26:47,2019-02-10 19:57:36,NaT,NaN,2019-02-10 22:30:49,2019-02-10 20:01:36,NaT,4.033333
395,386168.0,179,3,WALK,nan,NaN,NaN,NaN,2019-02-10 22:35:11,2019-02-10 15:30:07,NaT,NaN,2019-02-10 22:39:17,2019-02-10 15:34:07,NaT,4.100000
399,386168.0,180,4,WALK,nan,NaN,NaN,NaN,2019-02-10 22:44:32,2019-02-10 20:25:51,NaT,NaN,2019-02-10 22:48:34,2019-02-10 20:29:51,NaT,4.033333
402,386168.0,181,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:10:11,2019-02-10 15:30:07,NaT,NaN,2019-02-10 23:14:17,2019-02-10 15:34:07,NaT,4.100000
405,386168.0,183,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:31:47,2019-02-10 19:57:36,NaT,NaN,2019-02-10 23:35:49,2019-02-10 20:01:36,NaT,4.033333
407,386168.0,184,2,BUS,245,1027,6,386397.0,2019-02-10 23:15:33,2019-02-10 17:16:55,0 days 05:58:38,386221.0,2019-02-10 23:25:41,2019-02-10 17:25:38,0 days 06:00:03,10.133333
408,386168.0,184,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:25:41,2019-02-10 17:25:38,NaT,NaN,2019-02-10 23:34:52,2019-02-10 17:34:38,NaT,9.183333
409,386168.0,184,4,BUS,444,3057,9,386127.0,2019-02-10 23:40:29,2019-02-10 19:43:41,0 days 03:56:48,386651.0,2019-02-10 23:58:22,2019-02-10 19:59:29,0 days 03:58:53,17.883333
410,386168.0,184,5,WALK,nan,NaN,NaN,NaN,2019-02-10 23:58:23,2019-02-10 19:59:29,NaT,NaN,2019-02-11 00:07:55,2019-02-10 20:09:29,NaT,9.533333
413,386335.0,185,3,WALK,nan,NaN,NaN,NaN,2019-02-10 23:46:23,2019-02-10 17:43:38,NaT,NaN,2019-02-11 00:03:02,2019-02-10 18:00:38,NaT,16.650000

In [209]:
output2 = teste.to_csv("data/output/output_2019_02_10.csv",index=False)

In [135]:
teste = teste[~teste.duplicated(['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])
              .groupby(teste['otp_itinerary_id']).transform('any')]
teste
output = teste.to_csv("data/output/output_2019_02_10.csv",index=False)

In [ ]:
grouped = teste.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5}).reset_index()

In [ ]:
grouped2 = teste.groupby(['otp_user_trip_id','otp_itinerary_id']).filter(lambda g: len(g.otp_leg_id) == 5)
grouped2

In [ ]:
grouped3 = grouped2.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5})