# TODO

* Analisar o casamento dos itinerários no código:
    Itinerários com maiores diferenças: 161,248,255
    
* Validar a saída: investigar porque existe mais de uma linha com horários iguais.

# Bus Trips Analysis
## Questões
1 - Qual a diferença entre o embarque no primeiro e o segundo ? 
2 - Considerando a baldeação qual a quantidade de viagens em que a diferença entre o primeiro e o segundo ônibus é maior que 70 minutos ?
3 - Qual o horário em que as baldeações ultrapassam 70 minutos ?
4 - Quais são as provavéis causas para os atrasos ? O período de descanso dos motoristas(intervalo) influencia nos atrasos ? Nos horários de pico existem atrasos ? Nestes mesmos horários a quantidade de ônibus aumenta ?

Importação de depêndencias

In [16]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance
from datetime import datetime, timedelta


#Data Analysis Libs
import pandas as pd
import numpy as np

Importação de arquivo csv e visualização das principais colunas

In [2]:
bus_itineraries = pd.read_csv('data/output/output_bulma_otp_2.csv')

In [3]:
dropped = bus_itineraries.drop_duplicates(keep='first',subset=['otp_leg_id','otp_mode','otp_route','bt_bus_code','bt_trip_num', 'otp_from_stop_id','otp_start_time','bt_start_time',
                'sched_obs_start_timediff','otp_to_stop_id','otp_end_time','bt_end_time','sched_obs_end_timediff'])

dropped

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,491551.0,9,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:26:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:26:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1,491551.0,9,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:26:47,2019-05-13 06:29:21,...,386255.0,2019-05-13 05:55:02,2019-05-13 07:04:54,0 days 01:09:52,28.250000,35.550000,-7.286632,-35.895697,-7.220623,-35.889825
2,491551.0,9,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:55:02,2019-05-13 07:04:54,...,NaN,2019-05-13 05:57:21,2019-05-13 07:06:54,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
3,491551.0,9,4,BUS,903A,1018.0,3.0,386338.0,2019-05-13 06:01:05,2019-05-13 07:15:28,...,386291.0,2019-05-13 06:08:04,2019-05-13 07:25:09,0 days 01:17:05,6.983333,9.683333,-7.220683,-35.888990,-7.217167,-35.909003
4,491551.0,9,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:08:05,2019-05-13 07:25:09,...,NaN,2019-05-13 06:08:06,2019-05-13 07:25:09,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
10,491551.0,13,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:33:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:33:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
11,491551.0,13,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:33:47,2019-05-13 06:29:21,...,386255.0,2019-05-13 06:02:02,2019-05-13 07:04:54,0 days 01:02:52,28.250000,35.550000,-7.286632,-35.895697,-7.220623,-35.889825
12,491551.0,13,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:02:02,2019-05-13 07:04:54,...,NaN,2019-05-13 06:02:17,2019-05-13 07:04:54,NaN,0.250000,NaN,NaN,NaN,NaN,NaN
13,491551.0,13,4,BUS,020,1100.0,3.0,386254.0,2019-05-13 06:04:13,2019-05-13 07:24:32,...,386291.0,2019-05-13 06:19:34,2019-05-13 07:45:26,0 days 01:25:52,15.350000,20.900000,-7.220652,-35.889683,-7.217167,-35.909003
14,491551.0,13,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:19:35,2019-05-13 07:45:26,...,NaN,2019-05-13 06:19:36,2019-05-13 07:45:26,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
15,491551.0,14,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:38:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:38:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
16,491551.0,14,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:38:47,2019-05-13 06:29:21,...,386521.0,2019-05-13 06:08:31,2019-05-13 07:11:02,0 days 01:02:31,29.733333,41.683333,-7.286632,-35.895697,-7.220320,-35.885539
17,491551.0,14,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:08:31,2019-05-13 07:11:02,...,NaN,2019-05-13 06:10:52,2019-05-13 07:13:02,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
18,491551.0,14,4,BUS,263A,1092.0,1.0,386112.0,2019-05-13 06:12:02,2019-05-13 07:23:28,...,386291.0,2019-05-13 06:21:40,2019-05-13 07:51:03,0 days 01:29:23,9.633333,27.583333,-7.220129,-35.885563,-7.217167,-35.909003
19,491551.0,14,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:21:41,2019-05-13 07:51:03,...,NaN,2019-05-13 06:21:42,2019-05-13 07:51:03,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
35,491551.0,18,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:43:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:43:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
36,491551.0,18,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:43:47,2019-05-13 06:29:21,...,386521.0,2019-05-13 06:13:31,2019-05-13 07:11:02,0 days 00:57:31,29.733333,41.683333,-7.286632,-35.895697,-7.220320,-35.885539
37,491551.0,18,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:13:31,2019-05-13 07:11:02,...,NaN,2019-05-13 06:17:06,2019-05-13 07:15:02,NaN,3.583333,NaN,NaN,NaN,NaN,NaN
38,491551.0,18,4,BUS,903B,1016.0,3.0,386641.0,2019-05-13 06:17:40,2019-05-13 07:27:42,...,386291.0,2019-05-13 06:26:33,2019-05-13 07:35:50,0 days 01:09:17,8.883333,8.133333,-7.219127,-35.883418,-7.217167,-35.909003
39,491551.0,18,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:26:34,2019-05-13 07:35:50,...,NaN,2019-05-13 06:26:35,2019-05-13 07:35:50,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
40,491551.0,19,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:48:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:48:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
41,491551.0,19,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:48:47,2019-05-13 06:29:21,...,386255.0,2019-05-13 06:17:02,2019-05-13 07:04:54,0 days 00:47:52,28.250000,35.550000,-7.286632,-35.895697,-7.220623,-35.889825
42,491551.0,19,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:17:02,2019-05-13 07:04:54,...,NaN,2019-05-13 06:19:21,2019-05-13 07:06:54,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
43,491551.0,19,4,BUS,903A,1018.0,3.0,386338.0,2019-05-13 06:21:05,2019-05-13 07:15:28,...,386291.0,2019-05-13 06:28:04,2019-05-13 07:25:09,0 days 00:57:05,6.983333,9.683333,-7.220683,-35.888990,-7.217167,-35.909003
44,491551.0,19,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:28:05,2019-05-13 07:25:09,...,NaN,2019-05-13 06:28:06,2019-05-13 07:25:09,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
45,491551.0,20,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:51:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:51:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
46,491551.0,20,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:51:47,2019-05-13 06:29:21,...,386521.0,2019-05-13 06:21:31,2019-05-13 07:11:02,0 days 00:49:31,29.733333,41.683333,-7.286632,-35.895697,-7.220320,-35.885539
47,491551.0,20,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:21:31,2019-05-13 07:11:02,...,NaN,2019-05-13 06:23:52,2019-05-13 07:13:02,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
48,491551.0,20,4,BUS,263A,1092.0,1.0,386112.0,2019-05-13 06:25:02,2019-05-13 07:23:28,...,386291.0,2019-05-13 06:34:40,2019-05-13 07:51:03,0 days 01:16:23,9.633333,27.583333,-7.220129,-35.885563,-7.217167,-35.909003
49,491551.0,20,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:34:41,2019-05-13 07:51:03,...,NaN,2019-05-13 06:34:42,2019-05-13 07:51:03,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,491551.0,367,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:48:05,2019-05-13 20:53:36,...,NaN,2019-05-13 20:48:06,2019-05-13 20:53:36,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1147,491551.0,368,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:13:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:13:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1148,491551.0,368,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:13:47,2019-05-13 19:09:40,...,386521.0,2019-05-13 20:43:31,2019-05-13 19:47:25,0 days 00:56:06,29.733333,37.750000,-7.286632,-35.895697,-7.220320,-35.885539
1149,491551.0,368,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:43:31,2019-05-13 19:47:25,...,NaN,2019-05-13 20:47:06,2019-05-13 19:51:25,NaN,3.583333,NaN,NaN,NaN,NaN,NaN
1150,491551.0,368,4,BUS,903B,1043.0,14.0,386641.0,2019-05-13 20:47:40,2019-05-13 20:57:59,...,386291.0,2019-05-13 20:56:33,2019-05-13 21:06:41,0 days 00:10:08,8.883333,8.700000,-7.219127,-35.883418,-7.217167,-35.909003
1151,491551.0,368,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:56:34,2019-05-13 21:06:41,...,NaN,2019-05-13 20:56:35,2019-05-13 21:06:41,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1152,491551.0,369,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:18:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:18:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1153,491551.0,369,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:18:47,2019-05-13 19:09:40,...,386255.0,2019-05-13 20:47:02,2019-05-13 19:43:21,0 days 01:03:41,28.250000,33.683333,-7.286632,-35.895697,-7.220623,-35.889825
1154,491551.0,369,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:47:02,2019-05-13 19:43:21,...,NaN,2019-05-13 20:49:21,2019-05-13 19:45:21,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
1155,491551.0,369,4,BUS,903A,1083.0,6.0,386338.0,2019-05-13 20:51:05,2019-05-13 20:45:27,...,386291.0,2019-05-13 20:58:04,2019-05-13 20:53:36,0 days 00:04:28,6.983333,8.150000,-7.220683,-35.888990,-7.217167,-35.909003
1156,491551.0,369,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:58:05,2019-05-13 20:53:36,...,NaN,2019-05-13 20:58:06,2019-05-13 20:53:36,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1157,491551.0,372,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:22:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:22:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1158,491551.0,372,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:22:47,2019-05-13 19:09:40,...,386521.0,2019-05-13 20:52:31,2019-05-13 19:47:25,0 days 01:05:06,29.733333,37.750000,-7.286632,-35.895697,-7.220320,-35.885539
1159,491551.0,372,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:52:31,2019-05-13 19:47:25,...,NaN,2019-05-13 20:54:52,2019-05-13 19:49:25,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
1160,491551.0,372,4,BUS,263A,1089.0,11.0,386112.0,2019-05-13 20:56:02,2019-05-13 19:55:12,...,386291.0,2019-05-13 21:05:40,2019-05-13 20:10:14,0 days 00:55:26,9.633333,15.033333,-7.220129,-35.885563,-7.217167,-35.909003
1161,491551.0,372,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:05:41,2019-05-13 20:10:14,...,NaN,2019-05-13 21:05:42,2019-05-13 20:10:14,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1163,491551.0,373,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:22:47,2019-05-13 19:09:40,...,386255.0,2019-05-13 20:51:02,2019-05-13 19:43:21,0 days 01:07:41,28.250000,33.683333,-7.286632,-35.895697,-7.220623,-35.889825
1164,491551.0,373,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:51:02,2019-05-13 19:43:21,...,NaN,2019-05-13 20:51:17,2019-05-13 19:43:21,NaN,0.250000,NaN,NaN,NaN,NaN,NaN
1165,491551.0,373,4,BUS,020,1080.0,9.0,386254.0,2019-05-13 20:58:13,2019-05-13 20:16:45,...,386291.0,2019-05-13 21:13:34,2019-05-13 20:17:23,0 days 00:56:11,15.350000,0.633333,-7.220652,-35.889683,-7.217167,-35.909003
1166,491551.0,373,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:13:35,2019-05-13 20:17:23,...,NaN,2019-05-13 21:13:36,2019-05-13 20:17:23,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1167,491551.0,376,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:37:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:37:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1168,491551.0,376,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:37:47,2019-05-13 19:09:40,...,386521.0,2019-05-13 21:07:31,2019-05-13 19:47:25,0 days 01:20:06,29.733333,37.750000,-7.286632,-35.895697,-7.220320,-35.885539
1169,491551.0,376,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:07:31,2019-05-13 19:47:25,...,NaN,2019-05-13 21:09:08,2019-05-13 19:49:25,NaN,1.616667,NaN,NaN,NaN,NaN,NaN
1170,491551.0,376,4,BUS,333,1066.0,9.0,386113.0,2019-05-13 21:19:52,2019-05-13 20:05:34,...,386291.0,2019-05-13 21:29:22,2019-05-13 20:16:17,0 days 01:13:05,9.500000,10.716667,-7.220358,-35.886033,-7.217167,-35.909003
1171,491551.0,376,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:29:23,2019-05-13 20:16:17,...,NaN,2019-05-13 21:29:24,2019-05-13 20:16:17,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1172,491551.0,388,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:23:45,2019-05-13 22:20:39,...,NaN,2019-05-13 21:23:46,2019-05-13 22:20:39,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1173,491551.0,388,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 21:23:47,2019-05-13 22:20:39,...,386521.0,2019-05-13 21:53:31,2019-05-13 22:56:25,0 days 01:02:54,29.733333,35.766667,-7.286632,-35.895697,-7.220320,-35.885539
1174,491551.0,388,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:53:31,2019-05-13 22:56:25,...,NaN,2019-05-13 21:55:52,2019-05-13 22:58:25,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
1175,491551.0,388,4,BUS,263A,1092.0,14.0,386112.0,2019-05-13 21:57:02,2019-05-13 23:23:12,...,386291.0,2019-05-13 22:06:40,2019-05-13 23:33:48,0 days 01:27:08,9.633333,10.600000,-7.220129,-35.885563,-7.217167,-35.909003
1176,491551.0,388,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 22:06:41,2019-05-13 23:33:48,...,NaN,2019-05-13 22:06:42,2019-05-13 23:33:48,NaN,0.016667,NaN,NaN,NaN,NaN,NaN

In [4]:
groupped1 = dropped.groupby(['otp_user_trip_id','otp_itinerary_id']).filter(lambda g: len(g.otp_leg_id) == 5)
groupped1

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,491551.0,9,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:26:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:26:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1,491551.0,9,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:26:47,2019-05-13 06:29:21,...,386255.0,2019-05-13 05:55:02,2019-05-13 07:04:54,0 days 01:09:52,28.250000,35.550000,-7.286632,-35.895697,-7.220623,-35.889825
2,491551.0,9,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:55:02,2019-05-13 07:04:54,...,NaN,2019-05-13 05:57:21,2019-05-13 07:06:54,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
3,491551.0,9,4,BUS,903A,1018.0,3.0,386338.0,2019-05-13 06:01:05,2019-05-13 07:15:28,...,386291.0,2019-05-13 06:08:04,2019-05-13 07:25:09,0 days 01:17:05,6.983333,9.683333,-7.220683,-35.888990,-7.217167,-35.909003
4,491551.0,9,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:08:05,2019-05-13 07:25:09,...,NaN,2019-05-13 06:08:06,2019-05-13 07:25:09,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
10,491551.0,13,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:33:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:33:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
11,491551.0,13,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:33:47,2019-05-13 06:29:21,...,386255.0,2019-05-13 06:02:02,2019-05-13 07:04:54,0 days 01:02:52,28.250000,35.550000,-7.286632,-35.895697,-7.220623,-35.889825
12,491551.0,13,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:02:02,2019-05-13 07:04:54,...,NaN,2019-05-13 06:02:17,2019-05-13 07:04:54,NaN,0.250000,NaN,NaN,NaN,NaN,NaN
13,491551.0,13,4,BUS,020,1100.0,3.0,386254.0,2019-05-13 06:04:13,2019-05-13 07:24:32,...,386291.0,2019-05-13 06:19:34,2019-05-13 07:45:26,0 days 01:25:52,15.350000,20.900000,-7.220652,-35.889683,-7.217167,-35.909003
14,491551.0,13,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:19:35,2019-05-13 07:45:26,...,NaN,2019-05-13 06:19:36,2019-05-13 07:45:26,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
15,491551.0,14,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:38:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:38:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
16,491551.0,14,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:38:47,2019-05-13 06:29:21,...,386521.0,2019-05-13 06:08:31,2019-05-13 07:11:02,0 days 01:02:31,29.733333,41.683333,-7.286632,-35.895697,-7.220320,-35.885539
17,491551.0,14,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:08:31,2019-05-13 07:11:02,...,NaN,2019-05-13 06:10:52,2019-05-13 07:13:02,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
18,491551.0,14,4,BUS,263A,1092.0,1.0,386112.0,2019-05-13 06:12:02,2019-05-13 07:23:28,...,386291.0,2019-05-13 06:21:40,2019-05-13 07:51:03,0 days 01:29:23,9.633333,27.583333,-7.220129,-35.885563,-7.217167,-35.909003
19,491551.0,14,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:21:41,2019-05-13 07:51:03,...,NaN,2019-05-13 06:21:42,2019-05-13 07:51:03,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
35,491551.0,18,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:43:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:43:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
36,491551.0,18,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:43:47,2019-05-13 06:29:21,...,386521.0,2019-05-13 06:13:31,2019-05-13 07:11:02,0 days 00:57:31,29.733333,41.683333,-7.286632,-35.895697,-7.220320,-35.885539
37,491551.0,18,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:13:31,2019-05-13 07:11:02,...,NaN,2019-05-13 06:17:06,2019-05-13 07:15:02,NaN,3.583333,NaN,NaN,NaN,NaN,NaN
38,491551.0,18,4,BUS,903B,1016.0,3.0,386641.0,2019-05-13 06:17:40,2019-05-13 07:27:42,...,386291.0,2019-05-13 06:26:33,2019-05-13 07:35:50,0 days 01:09:17,8.883333,8.133333,-7.219127,-35.883418,-7.217167,-35.909003
39,491551.0,18,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:26:34,2019-05-13 07:35:50,...,NaN,2019-05-13 06:26:35,2019-05-13 07:35:50,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
40,491551.0,19,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:48:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:48:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
41,491551.0,19,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:48:47,2019-05-13 06:29:21,...,386255.0,2019-05-13 06:17:02,2019-05-13 07:04:54,0 days 00:47:52,28.250000,35.550000,-7.286632,-35.895697,-7.220623,-35.889825
42,491551.0,19,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:17:02,2019-05-13 07:04:54,...,NaN,2019-05-13 06:19:21,2019-05-13 07:06:54,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
43,491551.0,19,4,BUS,903A,1018.0,3.0,386338.0,2019-05-13 06:21:05,2019-05-13 07:15:28,...,386291.0,2019-05-13 06:28:04,2019-05-13 07:25:09,0 days 00:57:05,6.983333,9.683333,-7.220683,-35.888990,-7.217167,-35.909003
44,491551.0,19,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:28:05,2019-05-13 07:25:09,...,NaN,2019-05-13 06:28:06,2019-05-13 07:25:09,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
45,491551.0,20,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 05:51:45,2019-05-13 06:29:21,...,NaN,2019-05-13 05:51:46,2019-05-13 06:29:21,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
46,491551.0,20,2,BUS,944,1002.0,2.0,491551.0,2019-05-13 05:51:47,2019-05-13 06:29:21,...,386521.0,2019-05-13 06:21:31,2019-05-13 07:11:02,0 days 00:49:31,29.733333,41.683333,-7.286632,-35.895697,-7.220320,-35.885539
47,491551.0,20,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:21:31,2019-05-13 07:11:02,...,NaN,2019-05-13 06:23:52,2019-05-13 07:13:02,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
48,491551.0,20,4,BUS,263A,1092.0,1.0,386112.0,2019-05-13 06:25:02,2019-05-13 07:23:28,...,386291.0,2019-05-13 06:34:40,2019-05-13 07:51:03,0 days 01:16:23,9.633333,27.583333,-7.220129,-35.885563,-7.217167,-35.909003
49,491551.0,20,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 06:34:41,2019-05-13 07:51:03,...,NaN,2019-05-13 06:34:42,2019-05-13 07:51:03,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,491551.0,367,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:05:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:05:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1143,491551.0,367,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:05:47,2019-05-13 19:09:40,...,386255.0,2019-05-13 20:34:02,2019-05-13 19:43:21,0 days 00:50:41,28.250000,33.683333,-7.286632,-35.895697,-7.220623,-35.889825
1144,491551.0,367,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:34:02,2019-05-13 19:43:21,...,NaN,2019-05-13 20:36:21,2019-05-13 19:45:21,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
1145,491551.0,367,4,BUS,903A,1083.0,6.0,386338.0,2019-05-13 20:41:05,2019-05-13 20:45:27,...,386291.0,2019-05-13 20:48:04,2019-05-13 20:53:36,0 days 00:05:32,6.983333,8.150000,-7.220683,-35.888990,-7.217167,-35.909003
1146,491551.0,367,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:48:05,2019-05-13 20:53:36,...,NaN,2019-05-13 20:48:06,2019-05-13 20:53:36,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1147,491551.0,368,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:13:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:13:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1148,491551.0,368,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:13:47,2019-05-13 19:09:40,...,386521.0,2019-05-13 20:43:31,2019-05-13 19:47:25,0 days 00:56:06,29.733333,37.750000,-7.286632,-35.895697,-7.220320,-35.885539
1149,491551.0,368,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:43:31,2019-05-13 19:47:25,...,NaN,2019-05-13 20:47:06,2019-05-13 19:51:25,NaN,3.583333,NaN,NaN,NaN,NaN,NaN
1150,491551.0,368,4,BUS,903B,1043.0,14.0,386641.0,2019-05-13 20:47:40,2019-05-13 20:57:59,...,386291.0,2019-05-13 20:56:33,2019-05-13 21:06:41,0 days 00:10:08,8.883333,8.700000,-7.219127,-35.883418,-7.217167,-35.909003
1151,491551.0,368,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:56:34,2019-05-13 21:06:41,...,NaN,2019-05-13 20:56:35,2019-05-13 21:06:41,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1152,491551.0,369,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:18:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:18:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1153,491551.0,369,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:18:47,2019-05-13 19:09:40,...,386255.0,2019-05-13 20:47:02,2019-05-13 19:43:21,0 days 01:03:41,28.250000,33.683333,-7.286632,-35.895697,-7.220623,-35.889825
1154,491551.0,369,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:47:02,2019-05-13 19:43:21,...,NaN,2019-05-13 20:49:21,2019-05-13 19:45:21,NaN,2.316667,NaN,NaN,NaN,NaN,NaN
1155,491551.0,369,4,BUS,903A,1083.0,6.0,386338.0,2019-05-13 20:51:05,2019-05-13 20:45:27,...,386291.0,2019-05-13 20:58:04,2019-05-13 20:53:36,0 days 00:04:28,6.983333,8.150000,-7.220683,-35.888990,-7.217167,-35.909003
1156,491551.0,369,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:58:05,2019-05-13 20:53:36,...,NaN,2019-05-13 20:58:06,2019-05-13 20:53:36,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1157,491551.0,372,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:22:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:22:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1158,491551.0,372,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:22:47,2019-05-13 19:09:40,...,386521.0,2019-05-13 20:52:31,2019-05-13 19:47:25,0 days 01:05:06,29.733333,37.750000,-7.286632,-35.895697,-7.220320,-35.885539
1159,491551.0,372,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:52:31,2019-05-13 19:47:25,...,NaN,2019-05-13 20:54:52,2019-05-13 19:49:25,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
1160,491551.0,372,4,BUS,263A,1089.0,11.0,386112.0,2019-05-13 20:56:02,2019-05-13 19:55:12,...,386291.0,2019-05-13 21:05:40,2019-05-13 20:10:14,0 days 00:55:26,9.633333,15.033333,-7.220129,-35.885563,-7.217167,-35.909003
1161,491551.0,372,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:05:41,2019-05-13 20:10:14,...,NaN,2019-05-13 21:05:42,2019-05-13 20:10:14,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1167,491551.0,376,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 20:37:45,2019-05-13 19:09:40,...,NaN,2019-05-13 20:37:46,2019-05-13 19:09:40,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1168,491551.0,376,2,BUS,944,1051.0,11.0,491551.0,2019-05-13 20:37:47,2019-05-13 19:09:40,...,386521.0,2019-05-13 21:07:31,2019-05-13 19:47:25,0 days 01:20:06,29.733333,37.750000,-7.286632,-35.895697,-7.220320,-35.885539
1169,491551.0,376,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:07:31,2019-05-13 19:47:25,...,NaN,2019-05-13 21:09:08,2019-05-13 19:49:25,NaN,1.616667,NaN,NaN,NaN,NaN,NaN
1170,491551.0,376,4,BUS,333,1066.0,9.0,386113.0,2019-05-13 21:19:52,2019-05-13 20:05:34,...,386291.0,2019-05-13 21:29:22,2019-05-13 20:16:17,0 days 01:13:05,9.500000,10.716667,-7.220358,-35.886033,-7.217167,-35.909003
1171,491551.0,376,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:29:23,2019-05-13 20:16:17,...,NaN,2019-05-13 21:29:24,2019-05-13 20:16:17,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1172,491551.0,388,1,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:23:45,2019-05-13 22:20:39,...,NaN,2019-05-13 21:23:46,2019-05-13 22:20:39,NaN,0.016667,NaN,NaN,NaN,NaN,NaN
1173,491551.0,388,2,BUS,944,1052.0,15.0,491551.0,2019-05-13 21:23:47,2019-05-13 22:20:39,...,386521.0,2019-05-13 21:53:31,2019-05-13 22:56:25,0 days 01:02:54,29.733333,35.766667,-7.286632,-35.895697,-7.220320,-35.885539
1174,491551.0,388,3,WALK,NaN,NaN,NaN,NaN,2019-05-13 21:53:31,2019-05-13 22:56:25,...,NaN,2019-05-13 21:55:52,2019-05-13 22:58:25,NaN,2.350000,NaN,NaN,NaN,NaN,NaN
1175,491551.0,388,4,BUS,263A,1092.0,14.0,386112.0,2019-05-13 21:57:02,2019-05-13 23:23:12,...,386291.0,2019-05-13 22:06:40,2019-05-13 23:33:48,0 days 01:27:08,9.633333,10.600000,-7.220129,-35.885563,-7.217167,-35.909003
1176,491551.0,388,5,WALK,NaN,NaN,NaN,NaN,2019-05-13 22:06:41,2019-05-13 23:33:48,...,NaN,2019-05-13 22:06:42,2019-05-13 23:33:48,NaN,0.016667,NaN,NaN,NaN,NaN,NaN

In [5]:


grouped = groupped1.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x) < 5})

In [6]:
bus_itineraries[['otp_itinerary_id',"otp_leg_id","otp_mode", "otp_start_time","otp_end_time", "bt_start_time","bt_end_time", "bt_duration_mins"]].head()

,otp_itinerary_id,otp_leg_id,otp_mode,otp_start_time,otp_end_time,bt_start_time,bt_end_time,bt_duration_mins
0,9,1,WALK,2019-05-13 05:26:45,2019-05-13 05:26:46,2019-05-13 06:29:21,2019-05-13 06:29:21,NaN
1,9,2,BUS,2019-05-13 05:26:47,2019-05-13 05:55:02,2019-05-13 06:29:21,2019-05-13 07:04:54,35.550000
2,9,3,WALK,2019-05-13 05:55:02,2019-05-13 05:57:21,2019-05-13 07:04:54,2019-05-13 07:06:54,NaN
3,9,4,BUS,2019-05-13 06:01:05,2019-05-13 06:08:04,2019-05-13 07:15:28,2019-05-13 07:25:09,9.683333
4,9,5,WALK,2019-05-13 06:08:05,2019-05-13 06:08:06,2019-05-13 07:25:09,2019-05-13 07:25:09,NaN

In [7]:
#filtered_sched_obs_start_time = bus_itineraries.sched_obs_start_timediff.dropna()
#mean = filtered_sched_obs_start_time.apply(lambda x: np.mean(x))
#parsed_sched_obs_start_time = filtered_sched_obs_start_time.apply(lambda x : x/pd.Timedelta('1m'))

#filtered_sched_obs_end_time = bus_itineraries.sched_obs_end_timediff.dropna()
#mean = filtered_sched_obs_start_time.apply(lambda x: np.mean(x))
#parsed_sched_obs_end_time = filtered_sched_obs_end_time.apply(lambda x : x/pd.Timedelta('1m'))

#diff_trip_time = parsed_sched_obs_end_time - parsed_sched_obs_start_time

#diff_trip_time

## Duração total da viagem observada

In [8]:
bt_duration_mins = bus_itineraries.bt_duration_mins.dropna()

In [9]:
bt_duration_mins.describe()

count    476.000000
mean      27.158263
std       16.272643
min        0.633333
25%       11.250000
50%       27.583333
75%       38.775000
max      112.733333
Name: bt_duration_mins, dtype: float64

In [10]:
plt.boxplot(bt_duration_mins)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
plt.hist(bt_duration_mins)
plt.title('Distribuição de viagens unitárias de ônibus')
plt.xlabel('Tempo da viagem em minutos')
plt.ylabel('Frequência')
plt.figure(figsize=(10,5))
plt.show()

In [13]:
df = bus_itineraries

In [14]:
df.groupby(['otp_user_trip_id']).apply(lambda x: str(x['bt_start_time']))
#df.groupby(['otp_user_trip_id']).apply(lambda x: pd.to_datetime(x['bt_start_time']))
df.bt_start_time.dtype
df.size

24717

In [ ]:
df.columns

In [ ]:
bus_itineraries[['otp_itinerary_id',"otp_leg_id","otp_mode", "otp_start_time","otp_end_time", "bt_start_time","bt_end_time", 
                 "bt_duration_mins", "bt_bus_code"]].head(40)

###Encontrando tempo total de um itinerário

In [17]:
itinerary_id = df.otp_itinerary_id.iloc[0] #recuperando ID da primeira linha
#gerar index out bounds
times = []
start_time_first_bus = []
start_time_second_bus = []

for i in range(len(df)-2):
    row = df.iloc[i]
    
    # considerando somente a primeira leg par de cada itinerário para cálculo do tempo de 'baldeação'
    if (row.otp_leg_id % 2 == 0 and row.otp_itinerary_id == itinerary_id 
        and df.otp_itinerary_id.iloc[i+2] == itinerary_id):
            
            times.append( pd.to_datetime(df.bt_start_time.iloc[i+2]) -  pd.to_datetime(df.bt_start_time.iloc[i]))
            start_time_first_bus.append(df.bt_start_time.iloc[i])
            start_time_second_bus.append(df.bt_start_time.iloc[i+2])
            
            #imprime os itinerários com maiores horários de "baldeação"
            if (pd.to_datetime(df.bt_start_time.iloc[i+2]) -  pd.to_datetime(df.bt_start_time.iloc[i]) > timedelta(minutes=150)):
                print(row.otp_itinerary_id)
                
            
    itinerary_id = row.otp_itinerary_id

161
248
255

In [ ]:
times

In [ ]:
diff_bus_trips = pd.DataFrame(data=times)
diff_bus_trips

In [ ]:
teste = pd.DataFrame({
    'horarios': times,
    'primeiro_onibus': start_time_first_bus,
    'segundo_onibus': start_time_second_bus
})


scheduled_bus_times2 = teste.iloc[::2]
scheduled_bus_times2.dropna()
scheduled_bus_times2.head()

In [ ]:
#bus_itineraries[['otp_itinerary_id',"otp_leg_id","otp_mode", "bt_start_time"]].tail(50)

In [ ]:
#retira horário em que a diferença é negativa
bus_times = diff_bus_trips.iloc[::2]
bus_times.columns = ['horarios']
bus_times.dropna()
bus_times.head()

In [ ]:
#bus_times.to_csv('/bus_times.csv', index=False)

In [ ]:
bus_times.describe()

In [ ]:
bus_times.dtypes

In [ ]:
times_plot = bus_times.astype('timedelta64[m]').plot.hist(alpha = 0.8, figsize=(10,5),  color="orange")
times_plot.set_xlabel("Tempo em minutos")
times_plot.set_ylabel("Frequência")
times_plot.set_title("Distribuição do tempo das 'bakdeações'")

In [ ]:
density_bus_times = bus_times.astype('timedelta64[m]').plot.density(figsize=(10,5))
density_bus_times.set_xlabel("Tempo em minutos")
density_bus_times.set_ylabel("Densidade")
density_bus_times.set_title("Gráfico de densidade")

In [ ]:
bus_times.astype('timedelta64[m]').plot.box()

##Análise sobre a integração temporal

- Quantos itinerários o  tempo entre embarcar no primeiro ônibuse e realizar a baldeação é menor que 70 minutos ?

Número total de horários de ônibus após validação

In [ ]:
bus_times.size

In [ ]:
gte_70min = bus_times[bus_times.horarios > timedelta(minutes=70)]
lte_70min = bus_times[bus_times.horarios <= timedelta(minutes=70)]

Número total de itinerários que o tempo entre o primeiro e o segundo ônibus é maior que 70 minutos:

In [ ]:
gte_70min.size

Número total de itinerários que o tempo entre o primeiro e o segundo ônibus é menor que 70 minutos:

In [ ]:
lte_70min.size

In [ ]:
#porcentagem de ônibus que estouram os 70 minutos para a integração temporal
percentage_gte = gte_70min.size / bus_times.size
percentage_gte * 100

In [ ]:
trips_gte70 = gte_70min.astype('timedelta64[m]').plot.hist(alpha = 0.8, figsize=(10,5),  color="orange")
trips_gte70.set_xlabel("Tempo em minutos")
trips_gte70.set_ylabel("Frequência")
trips_gte70.set_title("Distribuição do tempo de espera maior que 70 minutos")

In [ ]:
gte_70min.astype('timedelta64[m]').plot.box(figsize=(10,5))